workflow n8n/chat.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## RFQ Chat - Full Database Access",
        "height": 832,
        "width": 2016,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3232,
        -1968
      ],
      "id": "d3b11696-3439-4ba1-abdf-29ba26747d7b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1472,
        -1776
      ],
      "id": "7e5af5bb-615e-48a9-977a-cc6f410bda73",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "model": "qwen3:8b",
        "options": {
          "temperature": 0.2,
          "numCtx": 8192,
          "numPredict": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -2944,
        -1408
      ],
      "id": "025aca47-aab5-4744-b018-ccf5799bcbb2",
      "name": "Ollama Chat Model3",
      "credentials": {
        "ollamaApi": {
          "id": "oS2Qqti9oVfsm8XZ",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-rfq",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3120,
        -1776
      ],
      "id": "09e1bf8b-7b7f-4e67-aab3-da9fd0e4ed3e",
      "name": "Webhook1",
      "webhookId": "chat-rfq"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "id": "5d772cdf-e3b7-4f39-ac17-d3dff16de823",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        -2768,
        -1552
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "V0REAPph5JBLqze3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3-embedding:8b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -2272,
        -1344
      ],
      "id": "bca76cbb-4690-4f22-bbab-bd385ab54eb3",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "oS2Qqti9oVfsm8XZ",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "=CRITICAL RULES - YOU MUST FOLLOW THESE:\n1. ALWAYS respond in ENGLISH only. Never respond in Spanish or any other language.\n2. NEVER use emojis or emoticons in your responses.\n\nYou are an expert assistant specialized in analyzing vendor proposals for RFQ evaluations.\n\nVENDORS: IDOM, SACYR, TECNICASREUNIDAS (TR), EA, SENER, TRESCA, WORLEY\n\n## AVAILABLE TOOLS\n\n### Vector Search Tools (for narrative/document content):\n- **consultar_ofertas_proveedores**: Search vendor proposal documents for detailed text, technical descriptions, and narrative content.\n- **consultar_documentos_rfq**: Search original RFQ documents for client requirements and specifications.\n\n### SQL Tools (for structured data):\n- **query_requirements**: Query rfq_items_master with provider_responses. Returns: requirement_text, evaluation_type (Technical/Economical/Pre-FEED/FEED), phase, provider evaluations (evaluation_value, score, comment).\n- **query_provider_responses**: Query provider_responses table. Filter by provider_name to get detailed vendor responses with scores and comments.\n- **query_ranking**: Query ranking_proveedores table. Returns: overall_score (0-10), cumplimiento_porcentual (compliance %), technical_score, economical_score, pre_feed_score, feed_score.\n- **query_qa_audit**: Query qa_audit table. Filter by: provider, discipline (Electrica/Mecanica/Civil/Proceso/General), status, or all.\n\n## TOOL SELECTION GUIDE\n\n| Question Type | Tool to Use |\n|---------------|-------------|\n| Overall ranking, who is best? | query_ranking |\n| Category scores (technical, economic) | query_ranking |\n| Requirement compliance details | query_requirements |\n| Vendor comments on requirements | query_provider_responses |\n| Pending Q&A questions | query_qa_audit |\n| Document text, technical details | consultar_ofertas_proveedores |\n| Original RFQ specifications | consultar_documentos_rfq |\n\n## SCORING WEIGHTS\n- **Technical Score (40%)**: Technical evaluation criteria\n- **Economical Score (30%)**: Economic/pricing evaluation\n- **Pre-FEED Score (15%)**: Pre-FEED deliverables evaluation\n- **FEED Score (15%)**: FEED deliverables evaluation\n\n## INSTRUCTIONS\n1. ALWAYS use tools to retrieve data before answering. Never guess.\n2. For comparisons, query multiple sources if needed.\n3. Be concise (2-3 sentences max).\n4. Remember: English only, no emojis."
        }
      },
      "id": "5146128b-e708-4081-b0b6-5b8e4bc91918",
      "name": "Chat AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -2240,
        -1776
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "consultar_ofertas_proveedores",
        "toolDescription": "Search vendor technical proposals for narrative content, technical descriptions, pricing details, and compliance explanations. Use when you need detailed text from proposal documents.",
        "tableName": {
          "__rl": true,
          "value": "proposals",
          "mode": "list",
          "cachedResultName": "proposals"
        },
        "topK": 10,
        "options": {
          "queryName": "match_proposals"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -2640,
        -1552
      ],
      "id": "407371bd-42b8-4650-ae2f-4d72f24dfe98",
      "name": "Revisar-ofertas",
      "credentials": {
        "supabaseApi": {
          "id": "pI4CpdYLTiEEBmnz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "consultar_documentos_rfq",
        "toolDescription": "Search original RFQ documents for client requirements, technical specifications, scope of work, and tender documentation. Use when you need the original request details.",
        "tableName": {
          "__rl": true,
          "value": "rfq",
          "mode": "list",
          "cachedResultName": "rfq"
        },
        "topK": 10,
        "options": {
          "queryName": "match_rfq"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -2352,
        -1552
      ],
      "id": "3727aaa4-e91b-443d-8fb9-ac3cc3901f9a",
      "name": "Revisar RFQs",
      "credentials": {
        "supabaseApi": {
          "id": "pI4CpdYLTiEEBmnz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3-embedding:8b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -2560,
        -1344
      ],
      "id": "ea3c934e-29e9-4ea2-8dac-61b41eae7475",
      "name": "Embeddings Ollama5",
      "credentials": {
        "ollamaApi": {
          "id": "oS2Qqti9oVfsm8XZ",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Query RFQ requirements with optional vendor responses. Use to find: requirement_text, evaluation_type (Technical/Economical/Pre-FEED/FEED), phase, and provider evaluations. Provide a search_term to filter requirements.",
        "operation": "executeQuery",
        "query": "SELECT rim.id, rim.evaluation_type, rim.phase, rim.requirement_text, pr.provider_name, pr.evaluation_value, pr.score, pr.comment FROM rfq_items_master rim LEFT JOIN provider_responses pr ON rim.id = pr.requirement_id WHERE (rim.requirement_text ILIKE '%' || $1 || '%' OR rim.evaluation_type ILIKE '%' || $1 || '%') AND ($2 = '' OR rim.project_id::text = $2) ORDER BY rim.id LIMIT 30;",
        "options": {
          "queryReplacement": "={{ $fromAI('search_term', 'Keyword to search in requirements', 'string') }}, {{ $json.body.project_id || '' }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -2064,
        -1552
      ],
      "id": "e7524fe8-2a17-4f89-a0e3-f7c7d07a55ba",
      "name": "query_requirements",
      "credentials": {
        "postgres": {
          "id": "V0REAPph5JBLqze3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Query detailed vendor responses with scores and comments. Use to find: evaluation_value, score (numeric), comment, provider_name. Provide provider_name to filter by vendor (IDOM, SACYR, TECNICASREUNIDAS, EA, SENER, TRESCA, WORLEY) or leave empty for all.",
        "operation": "executeQuery",
        "query": "SELECT pr.id, pr.provider_name, pr.evaluation_value, pr.score, pr.comment, rim.requirement_text, rim.evaluation_type, rim.phase FROM provider_responses pr LEFT JOIN rfq_items_master rim ON pr.requirement_id = rim.id WHERE ($1 = '' OR pr.provider_name ILIKE '%' || $1 || '%') AND ($2 = '' OR pr.project_id::text = $2) ORDER BY pr.provider_name LIMIT 30;",
        "options": {
          "queryReplacement": "={{ $fromAI('provider_name', 'Provider name to filter (or empty for all)', 'string') }}, {{ $json.body.project_id || '' }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -1936,
        -1552
      ],
      "id": "aeee824a-6b38-4b5f-8370-3b90c05a3de5",
      "name": "query_provider_responses",
      "credentials": {
        "postgres": {
          "id": "V0REAPph5JBLqze3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Query vendor rankings and scores. Returns: provider_name, overall_score (0-10), cumplimiento_porcentual (compliance %), and category scores: technical_score (40% weight), economical_score (30% weight), pre_feed_score (15%), feed_score (15%). Use for ranking questions and score comparisons.",
        "operation": "executeQuery",
        "query": "SELECT rp.provider_name, rp.overall_score, rp.cumplimiento_porcentual, rp.technical_score, rp.economical_score, rp.pre_feed_score, rp.feed_score, rp.evaluation_count, rp.last_updated FROM ranking_proveedores rp WHERE ($1 = '' OR rp.project_id::text = $1) ORDER BY rp.overall_score DESC;",
        "options": {
          "queryReplacement": "={{ $json.body.project_id || '' }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -1808,
        -1552
      ],
      "id": "c4d6be06-e8c1-4656-8fa4-cb02317801c8",
      "name": "query_ranking",
      "credentials": {
        "postgres": {
          "id": "V0REAPph5JBLqze3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Query Q&A audit for technical questions and responses. Returns: provider_name, discipline (Electrica/Mecanica/Civil/Proceso/General), question, status (Pending/Approved/etc.), importance (High/Medium/Low), response. Use filter_type: 'provider' with filter_value for vendor name, 'discipline' for discipline, 'status' for status, or 'all' for everything.",
        "operation": "executeQuery",
        "query": "SELECT qa.id, qa.provider_name, qa.discipline, qa.question, qa.status, qa.importance, qa.response, qa.created_at FROM qa_audit qa WHERE (($1 = 'all') OR ($1 = 'provider' AND qa.provider_name ILIKE '%' || $2 || '%') OR ($1 = 'discipline' AND qa.discipline ILIKE '%' || $2 || '%') OR ($1 = 'status' AND qa.status ILIKE '%' || $2 || '%')) AND ($3 = '' OR qa.project_id::text = $3) ORDER BY qa.created_at DESC LIMIT 25;",
        "options": {
          "queryReplacement": "={{ $fromAI('filter_type', 'Filter type: provider, discipline, status, or all', 'string') }}, {{ $fromAI('filter_value', 'Value to filter by (provider name, discipline, or status)', 'string') }}, {{ $json.body.project_id || '' }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -1680,
        -1552
      ],
      "id": "c7488137-7007-4f04-b68d-a8df8a2c0cff",
      "name": "query_qa_audit",
      "credentials": {
        "postgres": {
          "id": "V0REAPph5JBLqze3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -2144,
        -1328
      ],
      "id": "94422666-bc93-4d2b-843c-24920bd3330a",
      "name": "Mistral Cloud Chat Model2",
      "credentials": {
        "mistralCloudApi": {
          "id": "tDjuOnF6lpADMmd5",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2048,
        -1232
      ],
      "id": "701a977a-0273-4bb6-a050-ec686a7e9ae7",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "4AyUqsh1Z35g6bci",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "Ollama Chat Model3": {
      "ai_languageModel": [
        []
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Chat AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Revisar RFQs",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Chat AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revisar-ofertas": {
      "ai_tool": [
        [
          {
            "node": "Chat AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Revisar RFQs": {
      "ai_tool": [
        [
          {
            "node": "Chat AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama5": {
      "ai_embedding": [
        [
          {
            "node": "Revisar-ofertas",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "query_requirements": {
      "ai_tool": [
        [
          {
            "node": "Chat AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "query_provider_responses": {
      "ai_tool": [
        [
          {
            "node": "Chat AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "query_ranking": {
      "ai_tool": [
        [
          {
            "node": "Chat AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "query_qa_audit": {
      "ai_tool": [
        [
          {
            "node": "Chat AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Chat AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53140335eaf11280ef77ef2f5a378f48c2b28e822e3e0d96563cdd92175c0eff"
  }
}