workflow n8n/mail.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d3a985e-7c5e-4c74-8b5e-407e4d8c83a9",
              "name": "project_name",
              "value": "={{ $json.body.project_name }}",
              "type": "string"
            },
            {
              "id": "project-id-uuid-field",
              "name": "project_id",
              "value": "={{ $json.body.project_id }}",
              "type": "string"
            },
            {
              "id": "2d3a985e-7c5e-4c74-8b5e-407e4d8c83a1",
              "name": "provider_name",
              "value": "={{ $json.body.provider_key }}",
              "type": "string"
            },
            {
              "id": "3d3a985e-7c5e-4c74-8b5e-407e4d8c83a2",
              "name": "tone",
              "value": "={{ $json.body.tone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2736,
        -784
      ],
      "id": "cad2378b-caf7-4264-9b50-eecdfbd92ce4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos TODOS los datos de Supabase y de Edit Fields\nconst allOffers = $('Get Offers').all();\nconst editFields = $('Edit Fields').first().json;\nconst targetProvider = editFields.provider_name;\n\nlet issuesFound = [];\n\n// 2. Iteramos por todos los registros\nfor (const item of allOffers) {\n  const row = item.json;\n  \n  // Solo procesamos si el proveedor coincide\n  if (row.provider_name === targetProvider) {\n    const status = (row.evaluation_value || '').trim();\n    \n    // CRITERIO: Si es distinto de \"INCLUIDO\" (ignorando mayúsculas/minúsculas), es un ISSUE\n    if (status.toUpperCase() !== 'INCLUIDO') {\n      issuesFound.push({\n        requirement: row.requirement_id || 'Requisito no identificado',\n        status: status || 'VACÍO',\n        comment: row.comment || 'Sin comentarios adicionales'\n      });\n    }\n  }\n}\n\n// 3. Devolvemos un solo objeto con toda la info para el LLM\n// Esto evita el \"undefined\" porque el LLM recibirá estos campos directamente\nreturn {\n  issues: issuesFound,\n  total_count: issuesFound.length,\n  project_id: editFields.project_id,\n  project_name: editFields.project_name,\n  provider_name: targetProvider,\n  tone: editFields.tone\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2288,
        -784
      ],
      "id": "49aa36c9-5130-4fb7-8edb-9cb25988acfd",
      "name": "Filter and Aggregate Issues"
    },
    {
      "parameters": {
        "content": "## Email en base datos faltantes\n",
        "height": 864,
        "width": 2016,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3248,
        -1072
      ],
      "id": "dbdcce34-eafa-4218-bffc-90acc06e894b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mail",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2960,
        -784
      ],
      "id": "74524ec1-42ba-4cd9-8b21-02ee3c6c90b3",
      "name": "Webhook3",
      "webhookId": "2dcca6b6-4d20-4250-9202-7b16ac06f716"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "provider_responses",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "provider_name",
              "condition": "eq",
              "keyValue": "={{ $json.provider_name }}"
            },
            {
              "keyName": "project_id",
              "condition": "eq",
              "keyValue": "={{ $json.project_id }}"
            }
          ]
        }
      },
      "id": "0abf998f-8573-4388-8581-16931dcd65e1",
      "name": "Get Offers",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2512,
        -784
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pI4CpdYLTiEEBmnz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3:8b",
        "options": {
          "temperature": 0.2,
          "numCtx": 4096,
          "numPredict": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1696,
        -560
      ],
      "id": "895e39f6-7693-4162-976f-f4cf52b12b3c",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "oS2Qqti9oVfsm8XZ",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### INPUT\n\n## PRROYECTO: {{ $('Edit Fields').first().json.project_name }}\n\n## PROVEEDOR: {{ $('Edit Fields').first().json.provider_name }}\n\n## TONO DEL MENSAJE REQUERIDO: {{ $('Edit Fields').first().json.tone }}\n\n## ISSUES: {{ JSON.stringify($json.issues, null, 2) }}\n\n\n\n### FINAL INSTRUCTIONS\nReturn ONLY the JSON object. Do NOT think out loud. Do NOT include any text before or after the JSON.\n",
        "messages": {
          "messageValues": [
            {
              "message": "=### ROLE\nYou are an expert Senior Project Engineer and Procurement Manager for large-scale industrial projects (P2X, Green Hydrogen). You are meticulous, diplomatic, and results-oriented.\n\n### TASK\nDraft a professional email to the Provider regarding their recent proposal for the Project. We have identified specific gaps/issues that need to be addressed.\n\n### GUIDELINES\n1. **Subject Line**: Must be clear, professional, and reference the Project.\n2. **Tone**: Strictly adhere to the requested 'TONE' input.\n3. **Body Content**:\n   - Briefly thank them for the proposal.\n   - State that during the review, the following points require clarification or are missing:\n   - **Critical**: Iterate through the 'ISSUES' list provided in the input. Group them intelligently (e.g., by Phase or Evaluation Type) to make the email readable.\n   - For each issue, clearly mention the *Requirement* ('requirement' field) and the *Current Status* ('status' field).\n   - Ask for these specific items to be provided or clarified.\n4. **Formatting**: Use clean line breaks (\\n) for readability in the JSON string.\n\n### CRITICAL: OUTPUT RESTRICTIONS\n- Return **ONLY** a valid JSON object.\n- **DO NOT** include any conversational text, explanations, reasoning, thoughts, or technical notes.\n- **DO NOT** use Markdown code blocks (e.g., ```json).\n- The output must start with `{` and end with `}`.\n\n### SCHEMA\n{\n  \"subject\": \"Email Subject Here\",\n  \"body\": \"Email Body Here \\n\\n Point 1... \\n Point 2...\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -2064,
        -784
      ],
      "id": "da796a4a-86d0-4d0e-b0ec-cf260126d900",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1712,
        -784
      ],
      "id": "f4540a55-4ce3-4a2c-aebc-2bac772387ea",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -2144,
        -576
      ],
      "id": "4bb687f7-849b-4d99-81a0-f911de96d552",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "tDjuOnF6lpADMmd5",
          "name": "Mistral Cloud account"
        }
      }
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get Offers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter and Aggregate Issues": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Offers": {
      "main": [
        [
          {
            "node": "Filter and Aggregate Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53140335eaf11280ef77ef2f5a378f48c2b28e822e3e0d96563cdd92175c0eff"
  }
}