workflow n8n/q&a.json
{
    "nodes": [
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "project_id",
                            "name": "project_name",
                            "value": "={{ $json.body.project_id }}",
                            "type": "string"
                        },
                        {
                            "id": "provider",
                            "name": "provider",
                            "value": "={{ $json.body.provider }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -3104,
                656
            ],
            "id": "8f890d85-e9dd-406e-95b8-1e4ee8861606",
            "name": "Set Params"
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nconst provider = $(\"Set Params\").first().json.provider;\nconst allProviders = ['TECNICASREUNIDAS', 'IDOM', 'SACYR', 'EA', 'SENER', 'TRESCA', 'WORLEY'];\n\nconst results = [];\nfor (const item of items) {\n  const row = item.json;\n  \n  // Handle Score / Failsafe for columns\n  if (!row[provider]) {\n      continue; // Skip this row if provider column doesn't exist\n  }\n\n  const val = row[provider] || '';\n  let isDeficiency = false;\n\n  if (typeof val === 'string') {\n    const upper = val.toUpperCase();\n    // Criteria: \"No Incluido\", \"Parcial\" or Score < 8\n    if (upper.includes('NO INCLUIDO') || upper.includes('PARCIAL') || upper.includes('NOT INCLUDED') || upper.includes('PARTIAL')) {\n      isDeficiency = true;\n    } else {\n      const score = parseFloat(val);\n      if (!isNaN(score) && score < 8) {\n        isDeficiency = true;\n      }\n    }\n  }\n\n  if (isDeficiency) {\n    // Filter columns so LLM only sees current provider\n    const filteredRow = {};\n    for (const key in row) {\n      if (allProviders.includes(key) && key !== provider) {\n        continue;\n      }\n      filteredRow[key] = row[key];\n    }\n    results.push({ json: filteredRow });\n  }\n}\nreturn results;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2704,
                656
            ],
            "id": "d28c1cc0-ad56-4d15-9847-72d0eab44f6a",
            "name": "Filter Deficiencies"
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData",
                "destinationFieldName": "total_deficiencies",
                "options": {}
            },
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                -2480,
                656
            ],
            "id": "341bfff1-1edd-4e50-a19f-e7c262b7acde",
            "name": "Consolidate Items"
        },
        {
            "parameters": {
                "model": "mistral-large-latest",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
            "typeVersion": 1,
            "position": [
                -2288,
                864
            ],
            "id": "e7178dcd-0b5f-4e7b-910d-accec1910190",
            "name": "Mistral Model",
            "credentials": {
                "mistralCloudApi": {
                    "id": "tDjuOnF6lpADMmd5",
                    "name": "Mistral Cloud account"
                }
            }
        },
        {
            "parameters": {
                "fieldToSplitOut": "output.questions",
                "include": "allOtherFields",
                "options": {}
            },
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3.1,
            "position": [
                -1952,
                656
            ],
            "id": "adc358c9-25ac-40c8-ad38-b9012256935a",
            "name": "Split Questions"
        },
        {
            "parameters": {
                "tableId": "qa_audit",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "question"
                        },
                        {
                            "fieldId": "importance"
                        },
                        {
                            "fieldId": "discipline"
                        },
                        {
                            "fieldId": "status"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -1792,
                656
            ],
            "id": "3fccd01b-4808-478d-a4f7-e8fd371164d4",
            "name": "Supabase Storage",
            "credentials": {
                "supabaseApi": {
                    "id": "pI4CpdYLTiEEBmnz",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "content": "## Q&A Generator",
                "height": 800,
                "width": 2016,
                "color": 5
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -3392,
                368
            ],
            "id": "c33f6a44-7da9-4d97-8b44-db7db26c73e5",
            "name": "Sticky Note: Q&A Generator"
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -1600,
                656
            ],
            "id": "2a7a4ca0-386f-4d97-9dd6-c38741201efa",
            "name": "Success Response"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "qa-audit-generator",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -3328,
                656
            ],
            "id": "af4b5ee1-3d2f-442f-9a35-f837d63b3ad1",
            "name": "Webhook Q&A",
            "webhookId": "41c26ac0-0585-4697-91c8-1a4b4851fee3"
        },
        {
            "parameters": {
                "schemaType": "manual",
                "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"questions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"discipline\": {\n            \"type\": \"string\",\n            \"enum\": [\"Electrical\", \"Mechanical\", \"Civil\", \"Process\", \"General\"]\n          },\n          \"question\": {\n            \"type\": \"string\"\n          },\n          \"importance\": {\n            \"type\": \"string\",\n            \"enum\": [\"High\", \"Medium\", \"Low\"]\n          }\n        },\n        \"required\": [\"discipline\", \"question\", \"importance\"]\n      }\n    }\n  },\n  \"required\": [\"questions\"]\n}"
            },
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1.3,
            "position": [
                -2048,
                864
            ],
            "id": "ad703593-b049-46d1-8ec6-e4ce71ac6ad7",
            "name": "Structured Output Parser5"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=### DEFICIENCIES DETECTED IN THE PROPOSAL FROM {{ $(\"Set Params\").first().json.provider }}\n\n{{ JSON.stringify($json.total_deficiencies, null, 2) }}\n\n### INSTRUCTIONS\nGenerate technical questions based on these deficiencies.\n\nImportant: Be specific. Mention the item number or the name of the requirement if relevant. Do not generate generic questions such as “Could you provide more details?”. Go straight to the technical point.",
                "hasOutputParser": true,
                "messages": {
                    "messageValues": [
                        {
                            "message": "=# Technical Audit Instructions\n\nYou are a *technical engineering auditor*. Review the following list of deficiencies in the proposal from {{ $(\"Set Params\").first().json.provider }}. Your objective is to *group similar deficiencies* and *draft technical questions* for the supplier to answer. Classify each question into one of the following disciplines:\n\n* Electrical  \n* Mechanical  \n* Civil  \n* Process  \n* General  \n\n## Important\n* Be specific.  \n* Mention the item number or the name of the requirement if relevant.  \n* Do not generate generic questions such as *“Could you provide more details?”*.  \n* Go straight to the technical point."
                        }
                    ]
                },
                "batching": {}
            },
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.8,
            "position": [
                -2272,
                656
            ],
            "id": "0b6f1bc6-b0c5-4014-83de-e67d9f10349c",
            "name": "Basic LLM Chain1"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "rfq_items_master",
                "returnAll": true,
                "filters": {
                    "conditions": [
                        {
                            "keyName": "project_name",
                            "condition": "eq",
                            "keyValue": "={{ $json.project_id }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -2896,
                656
            ],
            "id": "d89113f9-1dce-40d6-ba49-4d26362777e7",
            "name": "Get many rows",
            "credentials": {
                "supabaseApi": {
                    "id": "pI4CpdYLTiEEBmnz",
                    "name": "Supabase account"
                }
            }
        }
    ],
    "connections": {
        "Set Params": {
            "main": [
                [
                    {
                        "node": "Get many rows",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Deficiencies": {
            "main": [
                [
                    {
                        "node": "Consolidate Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Consolidate Items": {
            "main": [
                [
                    {
                        "node": "Basic LLM Chain1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mistral Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Basic LLM Chain1",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Questions": {
            "main": [
                [
                    {
                        "node": "Supabase Storage",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Storage": {
            "main": [
                [
                    {
                        "node": "Success Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Q&A": {
            "main": [
                [
                    {
                        "node": "Set Params",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Structured Output Parser5": {
            "ai_outputParser": [
                [
                    {
                        "node": "Basic LLM Chain1",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        },
        "Basic LLM Chain1": {
            "main": [
                [
                    {
                        "node": "Split Questions",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get many rows": {
            "main": [
                [
                    {
                        "node": "Filter Deficiencies",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "53140335eaf11280ef77ef2f5a378f48c2b28e822e3e0d96563cdd92175c0eff"
    }
}