workflow n8n/q&a.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qa-audit",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3152,
        176
      ],
      "id": "f3ba6cf3-0cde-4282-89e6-ee79de1ebd55",
      "name": "Webhook Inbound",
      "webhookId": "0496e481-bb76-42f1-b3d5-734935b4b631"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "project_id",
              "name": "project_id",
              "value": "={{ $json.body.project_id }}",
              "type": "string"
            },
            {
              "id": "provider",
              "name": "provider",
              "value": "={{ $json.body.provider }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2928,
        176
      ],
      "id": "2fa8e340-e9a5-4761-936e-60bb02956317",
      "name": "Set Input Params"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "provider_responses",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "provider_name",
              "condition": "eq",
              "keyValue": "={{ $json.provider }}"
            },
            {
              "keyName": "evaluation_value",
              "condition": "neq",
              "keyValue": "INCLUIDO"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2720,
        176
      ],
      "id": "6bab29b5-17e8-4cdf-bb8b-fb5f2c0db9c4",
      "name": "Fetch Missing Items",
      "credentials": {
        "supabaseApi": {
          "id": "pI4CpdYLTiEEBmnz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "rfq_items_master",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.requirement_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2480,
        176
      ],
      "id": "da82a9b4-84d3-4ff0-ae82-185b504c2521",
      "name": "Fetch Requirement Specs",
      "credentials": {
        "supabaseApi": {
          "id": "pI4CpdYLTiEEBmnz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "total_deficiencies",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2288,
        176
      ],
      "id": "44a750f8-7964-4442-93f2-714d3fc20a7f",
      "name": "Consolidate Deficiencies"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate technical audit questions in English based on the following deficiencies detected for the provider {{ $(\"Set Input Params\").first().json.provider }}.\n\nDEFICIENCIES:\n{{ JSON.stringify($json.total_deficiencies) }}\n\n### INSTRUCTIONS:\n1.  **Analyze & Classify**: For each deficiency, determine its specific engineering field.\n    - If it involves cables, power, or circuits -> **Electrical**\n    - If it involves machinery, pumps, or piping -> **Mechanical**\n    - If it involves structures, foundations, or concrete -> **Civil**\n    - If it involves workflows, chemical stages, or P&IDs -> **Process**\n    - Only if it is administrative or multi-disciplinary -> **General**\n2.  **Language**: All questions and text MUST be in English.\n3.  **Strictness**: Do not label everything as \"General\". Be as specific as possible.\n4.  **Format**: Respond strictly with the JSON object following the schema.\n\n### OUTPUT SCHEMA:\n{\n  \"questions\": [\n    {\n      \"discipline\": \"Electrical\" | \"Mechanical\" | \"Civil\" | \"Process\" | \"General\",\n      \"question\": \"The specific question in English\",\n      \"importance\": \"High\" | \"Medium\" | \"Low\"\n    }\n  ]\n}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -2096,
        176
      ],
      "id": "9ed2da59-5a79-4d68-88cc-a0c5125ea4d4",
      "name": "QA Generation Chain"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -2176,
        384
      ],
      "id": "7986ea64-a6fa-48c3-ab51-6c4106accd79",
      "name": "Mistral Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "tDjuOnF6lpADMmd5",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"questions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"discipline\": { \"type\": \"string\" },\n          \"question\": { \"type\": \"string\" },\n          \"importance\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1872,
        384
      ],
      "id": "94b963eb-820c-42f5-b9bf-c3323bc98813",
      "name": "JSON Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.questions",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1,
      "position": [
        -1776,
        176
      ],
      "id": "b193d8bb-271d-4f6d-a664-8e732130c94e",
      "name": "Split Questions List"
    },
    {
      "parameters": {
        "tableId": "qa_audit",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "question",
              "fieldValue": "={{ $json['output.questions'].question }}"
            },
            {
              "fieldId": "importance",
              "fieldValue": "={{ $json['output.questions'].importance }}"
            },
            {
              "fieldId": "discipline",
              "fieldValue": "={{ $json['output.questions'].discipline }}"
            },
            {
              "fieldId": "provider_name",
              "fieldValue": "={{ $(\"Set Input Params\").first().json.provider }}"
            },
            {
              "fieldId": "project_name",
              "fieldValue": "={{ $(\"Set Input Params\").first().json.project_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1616,
        176
      ],
      "id": "440c83b3-18fd-4017-ba49-3a02f2cbf6a6",
      "name": "Supabase Insert",
      "credentials": {
        "supabaseApi": {
          "id": "pI4CpdYLTiEEBmnz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1408,
        176
      ],
      "id": "f44ec276-219f-47b3-a0ae-9f642f794197",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "content": "## Q&A",
        "height": 656,
        "width": 2048,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3248,
        -48
      ],
      "id": "ca569da1-0a7d-4783-8380-19d627aacb80",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "model": "qwen3:8b",
        "options": {
          "temperature": 0.1,
          "numCtx": 8192,
          "numPredict": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        -2112,
        480
      ],
      "id": "b26e5353-322f-4bfb-a59a-67481aeff9c1",
      "name": "Ollama Model2",
      "credentials": {
        "ollamaApi": {
          "id": "oS2Qqti9oVfsm8XZ",
          "name": "Ollama account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Inbound": {
      "main": [
        [
          {
            "node": "Set Input Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Params": {
      "main": [
        [
          {
            "node": "Fetch Missing Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Missing Items": {
      "main": [
        [
          {
            "node": "Fetch Requirement Specs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Requirement Specs": {
      "main": [
        [
          {
            "node": "Consolidate Deficiencies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Deficiencies": {
      "main": [
        [
          {
            "node": "QA Generation Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Generation Chain": {
      "main": [
        [
          {
            "node": "Split Questions List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Model": {
      "ai_languageModel": [
        []
      ]
    },
    "JSON Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "QA Generation Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Questions List": {
      "main": [
        [
          {
            "node": "Supabase Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Insert": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model2": {
      "ai_languageModel": [
        [
          {
            "node": "QA Generation Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53140335eaf11280ef77ef2f5a378f48c2b28e822e3e0d96563cdd92175c0eff"
  }
}