workflow n8n/qa-process-responses.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "qa_response_tokens",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "token",
              "condition": "eq",
              "keyValue": "={{ $json.token }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6384,
        2384
      ],
      "id": "52dea081-3c1c-4596-9669-788bf9c89e3c",
      "name": "Validate Token",
      "credentials": {
        "supabaseApi": {
          "id": "pI4CpdYLTiEEBmnz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "token-valid",
              "leftValue": "={{ $json.status }}",
              "rightValue": "responded",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "not-expired",
              "leftValue": "={{ new Date($json.expires_at) > new Date() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6160,
        2384
      ],
      "id": "c5889ba8-ac0f-4203-b237-0e153d9a0e3e",
      "name": "Token Valid?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Token is invalid, expired, or already used\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -5936,
        2560
      ],
      "id": "4d82ce5d-ce53-4f72-9db5-c6a6c2e7555d",
      "name": "Respond Invalid"
    },
    {
      "parameters": {
        "jsCode": "// Get responses from the original input (Set Input Params node)\nconst responses = $(\"Set Input Params3\").first().json.responses || [];\nconst tokenData = $input.first().json;\n\n// Return each response as a separate item\n// IMPORTANT: Put question_id at ROOT level for easy access in subsequent nodes\nreturn responses.map(response => ({\n  json: {\n    // Token data\n    token_id: tokenData.id,\n    project_id: tokenData.project_id,\n    provider_name: tokenData.provider_name,\n    token: tokenData.token,\n    // Question data at ROOT level for reliable access\n    question_id: response.question_id,\n    response_text: response.response_text,\n    // Keep original structure for backwards compatibility\n    responses: response\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5936,
        2384
      ],
      "id": "34f52977-43eb-48de-84b7-c8513c10e96d",
      "name": "Split Responses"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "qa_audit",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.question_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "response",
              "fieldValue": "={{ $json.response_text }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "Answered"
            },
            {
              "fieldId": "responded_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "response_source",
              "fieldValue": "portal"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -5712,
        2384
      ],
      "id": "751ea850-be37-474e-8c8e-2c65031a93a1",
      "name": "Save Response to QA Audit",
      "credentials": {
        "supabaseApi": {
          "id": "pI4CpdYLTiEEBmnz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "qa_audit",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Split Responses').item.json.question_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -5504,
        2384
      ],
      "id": "ab13ab2f-4405-4c3e-aff9-803f65329512",
      "name": "Fetch Question Details",
      "credentials": {
        "supabaseApi": {
          "id": "pI4CpdYLTiEEBmnz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-requirement",
              "leftValue": "={{ $json.requirement_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5280,
        2384
      ],
      "id": "1c65c61c-f6ae-4005-9af6-a87ccfb11b46",
      "name": "Has Requirement?"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "rfq_items_master",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Fetch Question Details').first().json.requirement_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -5056,
        2272
      ],
      "id": "c57c1496-882d-425b-8ee3-d3c665a71eea",
      "name": "Fetch Requirement",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pI4CpdYLTiEEBmnz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "provider_responses",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "requirement_id",
              "condition": "eq",
              "keyValue": "={{ $('Fetch Question Details').first().json.requirement_id }}"
            },
            {
              "keyName": "provider_name",
              "condition": "eq",
              "keyValue": "={{ $('Fetch Question Details').first().json.provider_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4832,
        2272
      ],
      "id": "104cdf0f-dcdb-43a1-8b6b-fd04e83ca2b1",
      "name": "Fetch Current Evaluation",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pI4CpdYLTiEEBmnz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a technical evaluation expert. Based on a supplier's clarifying response, re-evaluate if a requirement is now better satisfied.\n\n**ORIGINAL REQUIREMENT:**\n{{ $('Fetch Requirement').first().json.requirement_text }}\n\n**CURRENT EVALUATION:**\nStatus: {{ $json.evaluation_value || 'NO INCLUIDO' }}\nScore: {{ $json.score || 0 }}/10\nComment: {{ $json.comment || 'Not evaluated' }}\n\n**SUPPLIER'S CLARIFYING RESPONSE:**\n{{ $('Split Responses').item.json.response_text }}\n\n**INSTRUCTIONS:**\n1. Analyze if the supplier's response addresses the gaps in the original requirement.\n2. Determine if the evaluation should be improved.\n3. Only improve the score if the response provides substantial new information.\n4. Be conservative - don't upgrade unless clearly justified.\n\n**RESPOND STRICTLY WITH JSON:**\n{\n  \"should_update\": true/false,\n  \"new_evaluation_value\": \"INCLUIDO\" | \"PARCIAL\" | \"NO INCLUIDO\",\n  \"new_score\": 0-10,\n  \"new_comment\": \"Brief explanation of change or why no change\",\n  \"confidence\": 0-100\n}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -4624,
        2272
      ],
      "id": "87563561-188e-4b4a-b9c3-6d8a1e4477ae",
      "name": "LLM Re-evaluate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-update",
              "leftValue": "={{ $json.output.should_update }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "high-confidence",
              "leftValue": "={{ $json.output.confidence }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4400,
        2272
      ],
      "id": "0df91ee6-025d-4020-9b51-440eabe3f30e",
      "name": "Should Update?"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "provider_responses",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "requirement_id",
              "condition": "eq",
              "keyValue": "={{ $('Fetch Question Details').first().json.requirement_id }}"
            },
            {
              "keyName": "provider_name",
              "condition": "eq",
              "keyValue": "={{ $('Fetch Question Details').first().json.provider_name }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "evaluation_value",
              "fieldValue": "={{ $json.output.new_evaluation_value }}"
            },
            {
              "fieldId": "score",
              "fieldValue": "={{ $json.output.new_score }}"
            },
            {
              "fieldId": "comment",
              "fieldValue": "={{ $json.output.new_comment + ' [Updated after supplier response]' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4176,
        2192
      ],
      "id": "0c0b1bd9-3d92-4cac-9ffb-e2bc4c34feb7",
      "name": "Update Provider Response",
      "credentials": {
        "supabaseApi": {
          "id": "pI4CpdYLTiEEBmnz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -3952,
        2384
      ],
      "id": "f701fdb3-8eac-49c8-9e85-096cff890554",
      "name": "Aggregate Results"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "qa_response_tokens",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "token",
              "condition": "eq",
              "keyValue": "={{ $(\"Set Input Params3\").first().json.token }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "responded"
            },
            {
              "fieldId": "responded_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3744,
        2384
      ],
      "id": "b6837914-621c-4e3f-8e2d-92a0d0c94da0",
      "name": "Mark Token Responded",
      "credentials": {
        "supabaseApi": {
          "id": "pI4CpdYLTiEEBmnz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "qa_notifications",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "project_id",
              "fieldValue": "={{ $('Validate Token').first().json.project_id }}"
            },
            {
              "fieldId": "provider_name",
              "fieldValue": "={{ $('Validate Token').first().json.provider_name }}"
            },
            {
              "fieldId": "notification_type",
              "fieldValue": "supplier_responded"
            },
            {
              "fieldId": "title",
              "fieldValue": "=Supplier {{ $('Validate Token').first().json.provider_name }} has responded"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $('Aggregate Results').first().json.results.length || 0 }} question(s) answered via the supplier portal"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ JSON.stringify({ response_count: $('Aggregate Results').first().json.results.length || 0, token_id: $('Set Input Params3').first().json.token }) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3520,
        2384
      ],
      "id": "notification-create-node",
      "name": "Create Notification",
      "credentials": {
        "supabaseApi": {
          "id": "pI4CpdYLTiEEBmnz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Responses processed and evaluations updated\",\n  \"processed_count\": {{ $('Aggregate Results').first().json.results.length || 0 }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -3296,
        2384
      ],
      "id": "384f789c-f9d0-4348-b93e-694e3b79fb94",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qa-process-responses",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6816,
        2384
      ],
      "id": "0b982f7b-542d-4095-853d-bb0aa6db2eeb",
      "name": "Webhook Receive1",
      "webhookId": "qa-process-responses-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "token",
              "name": "token",
              "value": "={{ $json.body?.token || $json.token }}",
              "type": "string"
            },
            {
              "id": "responses",
              "name": "responses",
              "value": "={{ $json.body?.responses || $json.responses }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6592,
        2384
      ],
      "id": "01505869-7c78-4ccc-bc47-16f72e004362",
      "name": "Set Input Params3"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"should_update\": { \"type\": \"boolean\" },\n    \"new_evaluation_value\": { \"type\": \"string\" },\n    \"new_score\": { \"type\": \"number\" },\n    \"new_comment\": { \"type\": \"string\" },\n    \"confidence\": { \"type\": \"number\" }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -4624,
        2512
      ],
      "id": "79676c1b-7476-4966-afef-7908ed5459bd",
      "name": "JSON Output Parser2"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -4624,
        2640
      ],
      "id": "017664d3-18ab-45fc-a0fa-5057beae051c",
      "name": "Mistral Cloud Chat Model4",
      "credentials": {
        "mistralCloudApi": {
          "id": "tDjuOnF6lpADMmd5",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "content": "## QA Process Responses Workflow\n\n**Purpose:** Process supplier responses, save them to qa_audit, and re-evaluate requirements using LLM.\n\n**Input (POST body):**\n```json\n{\n  \"token\": \"abc123xyz...\",\n  \"responses\": [\n    {\n      \"question_id\": \"uuid\",\n      \"response_text\": \"Supplier's answer...\"\n    }\n  ]\n}\n```\n\n**Process:**\n1. Validate token (not expired, not used)\n2. For each response:\n   - **Save response to qa_audit** (response, status=Answered, responded_at)\n   - If linked to a requirement:\n     - Fetch current evaluation\n     - Use LLM to re-evaluate based on supplier response\n     - Update provider_responses if confidence >= 70%\n3. Mark token as responded\n\n**Tables Updated:**\n- `qa_audit` - response, status, responded_at, response_source\n- `provider_responses` - evaluation_value, score, comment (if re-evaluated)\n- `qa_response_tokens` - status, responded_at",
        "height": 520,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6816,
        1920
      ],
      "id": "e2350e1d-9947-4111-8dc6-e81280e79415",
      "name": "Sticky Note6"
    }
  ],
  "connections": {
    "Validate Token": {
      "main": [
        [
          {
            "node": "Token Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Valid?": {
      "main": [
        [
          {
            "node": "Split Responses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Responses": {
      "main": [
        [
          {
            "node": "Save Response to QA Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Response to QA Audit": {
      "main": [
        [
          {
            "node": "Fetch Question Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Question Details": {
      "main": [
        [
          {
            "node": "Has Requirement?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Requirement?": {
      "main": [
        [
          {
            "node": "Fetch Requirement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Requirement": {
      "main": [
        [
          {
            "node": "Fetch Current Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Current Evaluation": {
      "main": [
        [
          {
            "node": "LLM Re-evaluate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Re-evaluate": {
      "main": [
        [
          {
            "node": "Should Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Update?": {
      "main": [
        [
          {
            "node": "Update Provider Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Provider Response": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Mark Token Responded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Token Responded": {
      "main": [
        [
          {
            "node": "Create Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notification": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Receive1": {
      "main": [
        [
          {
            "node": "Set Input Params3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Params3": {
      "main": [
        [
          {
            "node": "Validate Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "LLM Re-evaluate",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Re-evaluate",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "53140335eaf11280ef77ef2f5a378f48c2b28e822e3e0d96563cdd92175c0eff"
  }
}
