workflow n8n/qa-process-response-produccion.json
{
    "nodes": [
        {
            "parameters": {
                "useCustomSchema": true,
                "schema": "public",
                "operation": "getAll",
                "tableId": "qa_response_tokens",
                "limit": 1,
                "filters": {
                    "conditions": [
                        {
                            "keyName": "token",
                            "condition": "eq",
                            "keyValue": "={{ $json.token }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -8768,
                7184
            ],
            "id": "a99a3e06-a4ee-4e01-b40b-c9f68b83a6f2",
            "name": "Validate Token",
            "credentials": {
                "supabaseApi": {
                    "id": "pI4CpdYLTiEEBmnz",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "token-valid",
                            "leftValue": "={{ $json.status }}",
                            "rightValue": "responded",
                            "operator": {
                                "type": "string",
                                "operation": "notEquals"
                            }
                        },
                        {
                            "id": "not-expired",
                            "leftValue": "={{ new Date($json.expires_at) > new Date() }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -8544,
                7184
            ],
            "id": "ab981098-e5e5-48e3-ac04-6153ae270694",
            "name": "Token Valid?"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": false,\n  \"error\": \"Token is invalid, expired, or already used\"\n}",
                "options": {
                    "responseCode": 400
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -8320,
                7360
            ],
            "id": "e2c032a5-f218-4de2-b029-8766bfa66961",
            "name": "Respond Invalid"
        },
        {
            "parameters": {
                "jsCode": "// Get responses from the original input and token data\nconst inputParams = $('Set Input Params3').first().json;\nconst tokenData = $input.first().json;\n\nconst responses = inputParams.responses || [];\n\n// Return each response as a separate item with all context needed\nreturn responses.map(response => ({\n  json: {\n    // Token data\n    token_id: tokenData.id,\n    project_id: tokenData.project_id,\n    provider_name: tokenData.provider_name,\n    token: tokenData.token,\n    // Question data\n    question_id: response.question_id,\n    response_text: response.response_text\n  }\n}));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -8320,
                7184
            ],
            "id": "cc576dac-dea1-406f-9bd5-a5a2d17462a9",
            "name": "Split Responses"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                -8096,
                7184
            ],
            "id": "cb55bfb8-658b-404b-a8da-7d5ee4ed18c8",
            "name": "Loop Over Items"
        },
        {
            "parameters": {
                "useCustomSchema": true,
                "schema": "public",
                "operation": "update",
                "tableId": "qa_audit",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "condition": "eq",
                            "keyValue": "={{ $json.question_id }}"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "response",
                            "fieldValue": "={{ $json.response_text }}"
                        },
                        {
                            "fieldId": "status",
                            "fieldValue": "Answered"
                        },
                        {
                            "fieldId": "responded_at",
                            "fieldValue": "={{ new Date().toISOString() }}"
                        },
                        {
                            "fieldId": "response_source",
                            "fieldValue": "portal"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -7872,
                7184
            ],
            "id": "2be5a204-84cb-41c1-bac6-219c203f715e",
            "name": "Save Response to QA Audit",
            "credentials": {
                "supabaseApi": {
                    "id": "pI4CpdYLTiEEBmnz",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "useCustomSchema": true,
                "schema": "public",
                "operation": "getAll",
                "tableId": "qa_audit",
                "limit": 1,
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "condition": "eq",
                            "keyValue": "={{ $('Loop Over Items').item.json.question_id }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -7648,
                7184
            ],
            "id": "e7946e59-3686-4503-ac88-b8c90d627065",
            "name": "Fetch Question Details",
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "pI4CpdYLTiEEBmnz",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "has-requirement",
                            "leftValue": "={{ $json.requirement_id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -7424,
                7184
            ],
            "id": "c51508ef-b9d5-408a-ab7e-5628d1a3ab43",
            "name": "Has Requirement?"
        },
        {
            "parameters": {
                "useCustomSchema": true,
                "schema": "public",
                "operation": "getAll",
                "tableId": "rfq_items_master",
                "limit": 1,
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "condition": "eq",
                            "keyValue": "={{ $('Fetch Question Details').first().json.requirement_id }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -7200,
                7072
            ],
            "id": "19df42e3-95b3-4e64-97ee-b593e2ed4cfc",
            "name": "Fetch Requirement",
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "pI4CpdYLTiEEBmnz",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "useCustomSchema": true,
                "schema": "public",
                "operation": "getAll",
                "tableId": "provider_responses",
                "returnAll": true,
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "requirement_id",
                            "condition": "eq",
                            "keyValue": "={{ $('Fetch Question Details').first().json.requirement_id }}"
                        },
                        {
                            "keyName": "provider_name",
                            "condition": "eq",
                            "keyValue": "={{ $('Loop Over Items').item.json.provider_name }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -6976,
                7072
            ],
            "id": "6840862c-a4b5-4150-835c-7be35694e10c",
            "name": "Fetch Current Evaluation",
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "pI4CpdYLTiEEBmnz",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=You are a technical evaluation expert. Based on a supplier's clarifying response, re-evaluate if a requirement is now better satisfied.\n\n**ORIGINAL REQUIREMENT:**\n{{ $('Fetch Requirement').first().json.requirement_text }}\n\n**CURRENT EVALUATION:**\nStatus: {{ $json.evaluation_value || 'NO INCLUIDO' }}\nScore: {{ $json.score || 0 }}/10\nComment: {{ $json.comment || 'Not evaluated' }}\n\n**SUPPLIER'S CLARIFYING RESPONSE:**\n{{ $('Loop Over Items').item.json.response_text }}\n\n**INSTRUCTIONS:**\n1. Analyze if the supplier's response addresses the gaps in the original requirement.\n2. Determine if the evaluation should be improved.\n3. Only improve the score if the response provides substantial new information.\n4. Be conservative - don't upgrade unless clearly justified.\n\n**RESPOND STRICTLY WITH JSON:**\n{\n  \"should_update\": true/false,\n  \"new_evaluation_value\": \"INCLUIDO\" | \"PARCIAL\" | \"NO INCLUIDO\",\n  \"new_score\": 0-10,\n  \"new_comment\": \"Brief explanation of change or why no change\",\n  \"confidence\": 0-100\n}",
                "hasOutputParser": true,
                "batching": {}
            },
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.8,
            "position": [
                -6752,
                7072
            ],
            "id": "25fa6bf9-d8e9-4399-8796-49a2d1b231c3",
            "name": "LLM Re-evaluate"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "should-update",
                            "leftValue": "={{ $json.output.should_update }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "high-confidence",
                            "leftValue": "={{ $json.output.confidence }}",
                            "rightValue": 70,
                            "operator": {
                                "type": "number",
                                "operation": "gte"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -6528,
                7072
            ],
            "id": "9f080776-ffeb-4077-9a45-bbad292815a1",
            "name": "Should Update?"
        },
        {
            "parameters": {
                "useCustomSchema": true,
                "schema": "public",
                "operation": "update",
                "tableId": "provider_responses",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "requirement_id",
                            "condition": "eq",
                            "keyValue": "={{ $('Fetch Question Details').first().json.requirement_id }}"
                        },
                        {
                            "keyName": "provider_name",
                            "condition": "eq",
                            "keyValue": "={{ $('Loop Over Items').item.json.provider_name }}"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "evaluation_value",
                            "fieldValue": "={{ $json.output.new_evaluation_value }}"
                        },
                        {
                            "fieldId": "score",
                            "fieldValue": "={{ $json.output.new_score }}"
                        },
                        {
                            "fieldId": "comment",
                            "fieldValue": "={{ $json.output.new_comment + ' [Updated after supplier response]' }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -6304,
                6992
            ],
            "id": "692337e7-04a7-4cdf-b5a7-5b27a8a46cfa",
            "name": "Update Provider Response",
            "credentials": {
                "supabaseApi": {
                    "id": "pI4CpdYLTiEEBmnz",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                -6304,
                7152
            ],
            "id": "3e8a8804-8208-4dfd-b817-ff3e883c1541",
            "name": "Skip Update"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                -7200,
                7296
            ],
            "id": "8a5e356c-7272-42ae-b6c7-0ecaaa8f8107",
            "name": "No Requirement"
        },
        {
            "parameters": {},
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                -6080,
                7184
            ],
            "id": "a7fc0f3a-90d6-45ee-ac5c-9fc1a6c3f9dd",
            "name": "Merge Results"
        },
        {
            "parameters": {
                "useCustomSchema": true,
                "schema": "public",
                "operation": "update",
                "tableId": "qa_response_tokens",
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "token",
                            "condition": "eq",
                            "keyValue": "={{ $('Set Input Params3').first().json.token }}"
                        }
                    ]
                },
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "status",
                            "fieldValue": "responded"
                        },
                        {
                            "fieldId": "responded_at",
                            "fieldValue": "={{ new Date().toISOString() }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -5856,
                7184
            ],
            "id": "ae8222aa-21f3-475b-a179-6e13d3266a8b",
            "name": "Mark Token Responded",
            "credentials": {
                "supabaseApi": {
                    "id": "pI4CpdYLTiEEBmnz",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "useCustomSchema": true,
                "schema": "public",
                "tableId": "qa_notifications",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "project_id",
                            "fieldValue": "={{ $('Validate Token').first().json.project_id }}"
                        },
                        {
                            "fieldId": "provider_name",
                            "fieldValue": "={{ $('Validate Token').first().json.provider_name }}"
                        },
                        {
                            "fieldId": "notification_type",
                            "fieldValue": "supplier_responded"
                        },
                        {
                            "fieldId": "title",
                            "fieldValue": "=Supplier {{ $('Validate Token').first().json.provider_name }} has responded"
                        },
                        {
                            "fieldId": "message",
                            "fieldValue": "={{ $('Set Input Params3').first().json.responses.length || 0 }} question(s) answered via the supplier portal"
                        },
                        {
                            "fieldId": "metadata",
                            "fieldValue": "={{ JSON.stringify({ response_count: $('Set Input Params3').first().json.responses.length || 0, token: $('Set Input Params3').first().json.token }) }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -5632,
                7184
            ],
            "id": "e9f0b735-198d-4339-b014-5790acc668b6",
            "name": "Create Notification",
            "credentials": {
                "supabaseApi": {
                    "id": "pI4CpdYLTiEEBmnz",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"message\": \"Responses processed and evaluations updated\",\n  \"processed_count\": {{ $('Set Input Params3').first().json.responses.length || 0 }}\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -5408,
                7184
            ],
            "id": "fa3c3f9e-08e6-41cd-821b-7879ed03919d",
            "name": "Respond Success"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "qa-process-responses",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -9200,
                7184
            ],
            "id": "3077418c-e304-4db2-b4ae-4836b329bec0",
            "name": "Webhook Receive1",
            "webhookId": "qa-process-responses-webhook"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "token",
                            "name": "token",
                            "value": "={{ $json.body?.token || $json.token }}",
                            "type": "string"
                        },
                        {
                            "id": "responses",
                            "name": "responses",
                            "value": "={{ $json.body?.responses || $json.responses }}",
                            "type": "array"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -8976,
                7184
            ],
            "id": "ddf0c147-dfdd-4a6c-bda3-40378d9ba8bc",
            "name": "Set Input Params3"
        },
        {
            "parameters": {
                "schemaType": "manual",
                "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"should_update\": { \"type\": \"boolean\" },\n    \"new_evaluation_value\": { \"type\": \"string\" },\n    \"new_score\": { \"type\": \"number\" },\n    \"new_comment\": { \"type\": \"string\" },\n    \"confidence\": { \"type\": \"number\" }\n  }\n}"
            },
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1.3,
            "position": [
                -6752,
                7312
            ],
            "id": "881059cc-ca4b-4875-847f-6dfe58954479",
            "name": "JSON Output Parser2"
        },
        {
            "parameters": {
                "model": "mistral-large-latest",
                "options": {
                    "temperature": 0.1
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
            "typeVersion": 1,
            "position": [
                -6752,
                7440
            ],
            "id": "6983bd45-3b26-42dd-bb67-eff4382e2b10",
            "name": "Mistral Cloud Chat Model4",
            "credentials": {
                "mistralCloudApi": {
                    "id": "tDjuOnF6lpADMmd5",
                    "name": "Mistral Cloud account"
                }
            }
        },
        {
            "parameters": {
                "content": "## QA Process Responses Workflow\n\n**Purpose:** Process supplier responses using a Loop for reliable item-by-item processing.\n\n**Data Model:**\n- `qa_audit.requirement_id` links to `rfq_items_master.id`\n- This allows re-evaluation of requirements based on supplier responses\n\n**Input (POST body):**\n```json\n{\n  \"token\": \"abc123xyz...\",\n  \"responses\": [\n    {\n      \"question_id\": \"uuid\",\n      \"response_text\": \"Supplier's answer...\"\n    }\n  ]\n}\n```\n\n**Process:**\n1. Validate token (not expired, not used)\n2. Split responses into items\n3. **Loop Over Items** - process each response:\n   - Save response to qa_audit\n   - Fetch question details (including requirement_id)\n   - If has requirement_id:\n     - Fetch requirement from rfq_items_master\n     - Fetch current evaluation\n     - Re-evaluate with LLM\n     - Update if confidence >= 70%\n4. After loop: Mark token as responded\n5. Create notification\n6. Respond with success\n\n**Tables Updated:**\n- `qa_audit` - response, status, responded_at, response_source\n- `provider_responses` - evaluation_value, score, comment\n- `qa_response_tokens` - status, responded_at\n- `qa_notifications` - new notification created",
                "height": 1020,
                "width": 4418,
                "color": 3
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -9552,
                6592
            ],
            "id": "6e643536-b349-42f3-8469-243c5673aebf",
            "name": "Sticky Note6"
        }
    ],
    "connections": {
        "Validate Token": {
            "main": [
                [
                    {
                        "node": "Token Valid?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Token Valid?": {
            "main": [
                [
                    {
                        "node": "Split Responses",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Invalid",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Responses": {
            "main": [
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Over Items": {
            "main": [
                [
                    {
                        "node": "Mark Token Responded",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Save Response to QA Audit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Response to QA Audit": {
            "main": [
                [
                    {
                        "node": "Fetch Question Details",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Question Details": {
            "main": [
                [
                    {
                        "node": "Has Requirement?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Requirement?": {
            "main": [
                [
                    {
                        "node": "Fetch Requirement",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "No Requirement",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Requirement": {
            "main": [
                [
                    {
                        "node": "Fetch Current Evaluation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Current Evaluation": {
            "main": [
                [
                    {
                        "node": "LLM Re-evaluate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "LLM Re-evaluate": {
            "main": [
                [
                    {
                        "node": "Should Update?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Should Update?": {
            "main": [
                [
                    {
                        "node": "Update Provider Response",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Skip Update",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Provider Response": {
            "main": [
                [
                    {
                        "node": "Merge Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Skip Update": {
            "main": [
                [
                    {
                        "node": "Merge Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "No Requirement": {
            "main": [
                [
                    {
                        "node": "Merge Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Results": {
            "main": [
                [
                    {
                        "node": "Loop Over Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mark Token Responded": {
            "main": [
                [
                    {
                        "node": "Create Notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Notification": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Receive1": {
            "main": [
                [
                    {
                        "node": "Set Input Params3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Input Params3": {
            "main": [
                [
                    {
                        "node": "Validate Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "JSON Output Parser2": {
            "ai_outputParser": [
                [
                    {
                        "node": "LLM Re-evaluate",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        },
        "Mistral Cloud Chat Model4": {
            "ai_languageModel": [
                [
                    {
                        "node": "LLM Re-evaluate",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "53140335eaf11280ef77ef2f5a378f48c2b28e822e3e0d96563cdd92175c0eff"
    }
}