workflow n8n/qa-produccion.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "qa-audit-generator",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -9328,
                4608
            ],
            "id": "fcad6257-7adf-4024-8eaa-bf3aea602fc7",
            "name": "Webhook Inbound",
            "webhookId": "0496e481-bb76-42f1-b3d5-734935b4b631"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "project_id",
                            "name": "project_id",
                            "value": "={{ $json.body.project_id }}",
                            "type": "string"
                        },
                        {
                            "id": "provider",
                            "name": "provider",
                            "value": "={{ $json.body.provider }}",
                            "type": "string"
                        },
                        {
                            "id": "language-field-qa",
                            "name": "language",
                            "value": "={{ $json.body.language || 'es' }}",
                            "type": "string"
                        },
                        {
                            "id": "currency-field-qa",
                            "name": "currency",
                            "value": "={{ $json.body.currency || 'EUR' }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -9104,
                4608
            ],
            "id": "3428bbeb-4a2a-45e7-bc32-b5ece1f786dd",
            "name": "Set Input Params"
        },
        {
            "parameters": {
                "useCustomSchema": true,
                "schema": "public",
                "operation": "getAll",
                "tableId": "provider_responses",
                "returnAll": true,
                "matchType": "allFilters",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "provider_name",
                            "condition": "eq",
                            "keyValue": "={{ $('Webhook Inbound').first().json.body.provider }}"
                        },
                        {
                            "keyName": "project_id",
                            "condition": "eq",
                            "keyValue": "={{ $('Webhook Inbound').first().json.body.project_id }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -8816,
                4608
            ],
            "id": "a4384083-d1ab-435a-82dc-2320f68ff7b7",
            "name": "Fetch All Provider Responses",
            "credentials": {
                "supabaseApi": {
                    "id": "pI4CpdYLTiEEBmnz",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// =============================================\n// NODO: Filter Deficiencies Only\n// Solo incluye items que realmente son deficiencias\n// =============================================\n\nconst items = $input.all();\n\n// Valores que indican deficiencias (necesitan Q&A)\nconst DEFICIENCY_VALUES = [\n  'PARTIALLY INCLUDED',\n  'NOT INCLUDED WITH ALTERNATIVE',\n  'NOT INCLUDED',\n  'NO INFORMATION'\n];\n\n// Valores que NO son deficiencias (no necesitan Q&A)\nconst OK_VALUES = [\n  'INCLUDED',\n  'INCLUDED WITH CAVEATS'\n];\n\nconst filteredItems = items.filter(item => {\n  const evalValue = (item.json.evaluation_value || '').toUpperCase().trim();\n  \n  // Si es un valor OK, excluir\n  if (OK_VALUES.some(v => evalValue === v.toUpperCase())) {\n    return false;\n  }\n  \n  // Caso 1: Es uno de los valores de deficiencia conocidos\n  if (DEFICIENCY_VALUES.some(v => evalValue.includes(v.toUpperCase()))) {\n    return true;\n  }\n  \n  // Caso 2: Empieza con \"NO VALUE FOUND\" (evaluaci贸n econ贸mica sin valor)\n  if (evalValue.startsWith('NO VALUE FOUND')) {\n    return true;\n  }\n  \n  // Caso 3: Score bajo (menor a 5) como indicador de deficiencia\n  const score = item.json.score || 0;\n  if (score < 5) {\n    return true;\n  }\n  \n  // Por defecto, excluir (valores econ贸micos con precios, etc.)\n  return false;\n});\n\nconsole.log(` Filtrado de deficiencias:`);\nconsole.log(`    Total recibidos: ${items.length}`);\nconsole.log(`    Deficiencias encontradas: ${filteredItems.length}`);\n\n// Log de valores excluidos para debug\nconst excluded = items.length - filteredItems.length;\nif (excluded > 0) {\n  console.log(`    Excluidos (valores OK o econ贸micos): ${excluded}`);\n}\n\nreturn filteredItems;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -8688,
                4608
            ],
            "id": "ec85ede9-7cbb-4cca-ad01-7f9e57a3ed27",
            "name": "Filter Deficiencies Only"
        },
        {
            "parameters": {
                "useCustomSchema": true,
                "schema": "public",
                "operation": "getAll",
                "tableId": "rfq_items_master",
                "limit": 1,
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "condition": "eq",
                            "keyValue": "={{ $json.requirement_id }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -8496,
                4608
            ],
            "id": "41c3ca8f-4278-45b9-a0c9-4f334def1ead",
            "name": "Fetch Requirement Specs",
            "credentials": {
                "supabaseApi": {
                    "id": "pI4CpdYLTiEEBmnz",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData",
                "destinationFieldName": "total_deficiencies",
                "options": {}
            },
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                -8288,
                4608
            ],
            "id": "32a0ac4f-1ebe-4047-83c9-908813b36b97",
            "name": "Consolidate Deficiencies"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Generate technical audit questions based on the following deficiencies detected for the provider {{ $(\"Set Input Params\").first().json.provider }}.\n\n**OUTPUT LANGUAGE**: {{ $('Set Input Params').first().json.language === 'en' ? 'ENGLISH - All questions and text must be in English.' : 'SPANISH - All questions and text must be in Spanish.' }}\n**CURRENCY**: {{ $('Set Input Params').first().json.currency || 'EUR' }} (use this currency when referencing monetary values in questions)\n\n**IMPORTANT**: Each deficiency has an \"id\" field which is the requirement_id. You MUST include this requirement_id with each question you generate, linking the question back to its source deficiency.\n\nDEFICIENCIES:\n{{ JSON.stringify($json.total_deficiencies) }}\n\n## PROJECT CONTEXT: {{ $('Fetch Project Context QA').first().json.ai_context }}\n\n## DISCIPLINES:\n{{ $('Fetch Project Context QA').first().json.disciplines ? 'Use ONLY these project-specific disciplines: ' + $('Fetch Project Context QA').first().json.disciplines.join(', ') : 'No disciplines defined yet for this project. You MUST first determine the appropriate engineering disciplines based on the project context and the deficiencies provided. Typical disciplines include: Electrical, Mechanical, Civil, Process, Instrumentation, Structural, Environmental, General, etc. Choose the ones that best fit this specific project.' }}\n\n### INSTRUCTIONS:\n1.  **Link to Requirement**: Each question MUST include the \"requirement_id\" (the \"id\" field from the deficiency it relates to).\n2.  **Determine Disciplines**: First, identify the relevant engineering disciplines for THIS project based on the deficiencies and project context. Then classify each question into the most specific discipline.\n    - Be as specific as possible. Do not label everything as \"General\".\n    - Only use \"General\" if it is truly administrative or multi-disciplinary.\n3.  **Language**: All questions and text MUST be in {{ $('Set Input Params').first().json.language === 'en' ? 'English' : 'Spanish' }}.\n4.  **Format**: Respond strictly with the JSON object following the schema.\n\n### OUTPUT SCHEMA:\n{\n  \"disciplines\": [\"list of all unique discipline names used in the questions below\"],\n  \"questions\": [\n    {\n      \"requirement_id\": \"uuid-from-deficiency-id-field\",\n      \"discipline\": \"One of the disciplines listed above\",\n      \"question\": \"The specific question in {{ $('Set Input Params').first().json.language === 'en' ? 'English' : 'Spanish' }}\",\n      \"importance\": \"High\" | \"Medium\" | \"Low\"\n    }\n  ]\n}",
                "hasOutputParser": true,
                "batching": {}
            },
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.8,
            "position": [
                -8096,
                4608
            ],
            "id": "db4c39b8-3220-40bd-a3e1-dd1bf12655d7",
            "name": "QA Generation Chain"
        },
        {
            "parameters": {
                "schemaType": "manual",
                "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"disciplines\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"questions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"requirement_id\": { \"type\": \"string\" },\n          \"discipline\": { \"type\": \"string\" },\n          \"question\": { \"type\": \"string\" },\n          \"importance\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}"
            },
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1.3,
            "position": [
                -7872,
                4816
            ],
            "id": "14be67a4-f353-4454-92e4-d742a5d40069",
            "name": "JSON Output Parser"
        },
        {
            "parameters": {
                "fieldToSplitOut": "output.questions",
                "include": "allOtherFields",
                "options": {}
            },
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3.1,
            "position": [
                -7776,
                4608
            ],
            "id": "8e05b5b5-71ad-4156-9446-bcf638657351",
            "name": "Split Questions List"
        },
        {
            "parameters": {
                "useCustomSchema": true,
                "schema": "public",
                "tableId": "qa_audit",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "question",
                            "fieldValue": "={{ $json['output.questions'].question }}"
                        },
                        {
                            "fieldId": "importance",
                            "fieldValue": "={{ $json['output.questions'].importance }}"
                        },
                        {
                            "fieldId": "discipline",
                            "fieldValue": "={{ $json['output.questions'].discipline }}"
                        },
                        {
                            "fieldId": "provider_name",
                            "fieldValue": "={{ $(\"Set Input Params\").first().json.provider }}"
                        },
                        {
                            "fieldId": "project_id",
                            "fieldValue": "={{ $(\"Set Input Params\").first().json.project_id }}"
                        },
                        {
                            "fieldId": "requirement_id",
                            "fieldValue": "={{ $json['output.questions'].requirement_id }}"
                        },
                        {
                            "fieldId": "status",
                            "fieldValue": "Pending"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -7616,
                4608
            ],
            "id": "c7c7d137-49c8-49dd-a676-28368bb42ea5",
            "name": "Supabase Insert",
            "credentials": {
                "supabaseApi": {
                    "id": "pI4CpdYLTiEEBmnz",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Extract unique disciplines from the QA Generation Chain output\n// and merge with existing project disciplines\nconst qaOutput = $('QA Generation Chain').first().json.output || {};\nconst generatedDisciplines = qaOutput.disciplines || [];\nconst existingDisciplines = $('Fetch Project Context QA').first().json.disciplines || [];\n\n// Merge: existing + new, deduplicated\nconst allDisciplines = [...new Set([...existingDisciplines, ...generatedDisciplines])];\nconst projectId = $('Set Input Params').first().json.project_id;\n\n// Format as PostgreSQL array literal for safe Supabase handling\nconst pgArray = '{' + allDisciplines.map(d => '\"' + d.replace(/\"/g, '\\\\\"') + '\"').join(',') + '}';\n\nconsole.log(` Disciplines for project ${projectId}:`);\nconsole.log(`    Existing: ${existingDisciplines.join(', ') || 'none'}`);\nconsole.log(`    Generated: ${generatedDisciplines.join(', ')}`);\nconsole.log(`    Merged (${allDisciplines.length}): ${allDisciplines.join(', ')}`);\n\nreturn [{ json: { project_id: projectId, disciplines: pgArray } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -7440,
                4608
            ],
            "id": "bb4b65ef-80d0-49be-8d05-4fd8a398919a",
            "name": "Extract Disciplines"
        },
        {
            "parameters": {
                "useCustomSchema": true,
                "schema": "public",
                "operation": "update",
                "tableId": "projects",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "id",
                            "fieldValue": "={{ $json.project_id }}"
                        },
                        {
                            "fieldId": "disciplines",
                            "fieldValue": "={{ $json.disciplines }}"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -7296,
                4608
            ],
            "id": "ddb0b9ad-7a47-40d8-b1c0-bb918b97ee7b",
            "name": "Save Project Disciplines",
            "credentials": {
                "supabaseApi": {
                    "id": "pI4CpdYLTiEEBmnz",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                -7280,
                4816
            ],
            "id": "98ff8301-297e-4c89-8d5f-4b2372823d7d",
            "name": "Respond to Webhook1"
        },
        {
            "parameters": {
                "content": "## Q&A Generator\n\n**Updated**: Dynamic disciplines per project + deficiency filtering.\n\n**Disciplines**:\n- Generated dynamically by the LLM based on project context\n- Saved to `projects.disciplines` for reuse in future runs\n- If project already has disciplines, LLM uses those\n- Merged: existing + new, deduplicated\n\n**Deficiencies filtered**:\n- PARTIALLY INCLUDED\n- NOT INCLUDED WITH ALTERNATIVE\n- NOT INCLUDED\n- NO INFORMATION\n- NO VALUE FOUND - *\n- Any item with score < 5\n\n**Excluded** (not deficiencies):\n- INCLUDED\n- INCLUDED WITH CAVEATS\n- Economic values (prices, hours, etc.)\n\n**Flow**:\n1. Receive project_id and provider\n2. Fetch project context (incl. existing disciplines)\n3. Fetch ALL provider_responses\n4. Filter only deficiencies (Code node)\n5. Fetch requirement details for each\n6. Generate questions + disciplines with LLM\n7. Save questions to qa_audit\n8. Extract & merge disciplines\n9. Save disciplines to project",
                "height": 656,
                "width": 2200,
                "color": 7
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -9424,
                4384
            ],
            "id": "20e8f606-6414-4105-bc7b-4480d778017e",
            "name": "Sticky Note1"
        },
        {
            "parameters": {
                "model": "qwen3:8b",
                "options": {
                    "temperature": 0.1,
                    "numCtx": 8192,
                    "numPredict": 1536
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmOllama",
            "typeVersion": 1,
            "position": [
                -8192,
                4864
            ],
            "id": "cb7c80d8-4dbd-4f83-a695-22feae44f272",
            "name": "Ollama Model2",
            "credentials": {
                "ollamaApi": {
                    "id": "oS2Qqti9oVfsm8XZ",
                    "name": "Ollama account"
                }
            }
        },
        {
            "parameters": {
                "model": "mistral-large-latest",
                "options": {
                    "temperature": 0.1
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
            "typeVersion": 1,
            "position": [
                -8016,
                4912
            ],
            "id": "53a046fa-69e7-4f98-bded-b62d1c4765cc",
            "name": "Mistral Cloud Chat Model",
            "credentials": {
                "mistralCloudApi": {
                    "id": "tDjuOnF6lpADMmd5",
                    "name": "Mistral Cloud account"
                }
            }
        },
        {
            "parameters": {
                "useCustomSchema": true,
                "schema": "public",
                "operation": "get",
                "tableId": "projects",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $('Set Input Params').first().json.project_id }}"
                        }
                    ]
                }
            },
            "id": "a33a16d0-afca-425d-8678-a2826620c855",
            "name": "Fetch Project Context QA",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                -8944,
                4608
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "pI4CpdYLTiEEBmnz",
                    "name": "Supabase account"
                }
            }
        }
    ],
    "connections": {
        "Webhook Inbound": {
            "main": [
                [
                    {
                        "node": "Set Input Params",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Input Params": {
            "main": [
                [
                    {
                        "node": "Fetch Project Context QA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch All Provider Responses": {
            "main": [
                [
                    {
                        "node": "Filter Deficiencies Only",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Deficiencies Only": {
            "main": [
                [
                    {
                        "node": "Fetch Requirement Specs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Requirement Specs": {
            "main": [
                [
                    {
                        "node": "Consolidate Deficiencies",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Consolidate Deficiencies": {
            "main": [
                [
                    {
                        "node": "QA Generation Chain",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "QA Generation Chain": {
            "main": [
                [
                    {
                        "node": "Split Questions List",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "JSON Output Parser": {
            "ai_outputParser": [
                [
                    {
                        "node": "QA Generation Chain",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Questions List": {
            "main": [
                [
                    {
                        "node": "Supabase Insert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Insert": {
            "main": [
                [
                    {
                        "node": "Extract Disciplines",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Disciplines": {
            "main": [
                [
                    {
                        "node": "Save Project Disciplines",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Project Disciplines": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mistral Cloud Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "QA Generation Chain",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Project Context QA": {
            "main": [
                [
                    {
                        "node": "Fetch All Provider Responses",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "53140335eaf11280ef77ef2f5a378f48c2b28e822e3e0d96563cdd92175c0eff"
    }
}