workflow n8n/scoring.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scoring-evaluation",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6272,
        -640
      ],
      "id": "1bd517bb-bdb1-4a0a-acaf-bf044cdde08a",
      "name": "Webhook Scoring",
      "webhookId": "scoring-eval-webhook-001"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "rfq_items_master",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "project_id",
              "condition": "eq",
              "keyValue": "={{ $('Set Input Params1').first().json.project_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -5616,
        -736
      ],
      "id": "5efa5910-8491-487a-abb6-8cddf0aacf3f",
      "name": "Fetch Requirements",
      "credentials": {
        "supabaseApi": {
          "id": "pI4CpdYLTiEEBmnz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "provider_responses",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "project_id",
              "condition": "eq",
              "keyValue": "={{ $('Set Input Params1').first().json.project_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -5616,
        -512
      ],
      "id": "9a45531f-1266-454a-9fab-726a5e3377dc",
      "name": "Fetch Provider Responses",
      "credentials": {
        "supabaseApi": {
          "id": "pI4CpdYLTiEEBmnz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5392,
        -640
      ],
      "id": "69c547d6-f663-4ead-aa05-5ca59761d18f",
      "name": "Merge Requirements & Responses"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\\n// NODO: Preparar Datos para Scoring (v2 - OPTIMIZADO)\\n// Solo envía RESÚMENES estadísticos, no datos crudos\\n// =============================================\\n\\nconst items = $input.all();\\n\\n// Función para inferir categoría del evaluation_type\\nfunction getCategoryFromEvalType(evalType) {\\n    const type = (evalType || '').toLowerCase();\\n    if (type.includes('technical')) return 'TECHNICAL';\\n    if (type.includes('econom')) return 'ECONOMIC';\\n    if (type.includes('pre-feed') || type.includes('pre feed')) return 'EXECUTION';\\n    if (type.includes('feed')) return 'EXECUTION';\\n    if (type.includes('hse') || type.includes('esg')) return 'HSE_ESG';\\n    return 'TECHNICAL';\\n}\\n\\n// Función para clasificar evaluation_value\\nfunction classifyEval(val) {\\n    const v = (val || '').toUpperCase();\\n    if (v.includes('INCLUD') || v.includes('INCLUIDO') || v === 'SI' || v === 'YES') return 'INCLUDED';\\n    if (v.includes('PARCIAL') || v.includes('PARTIAL')) return 'PARTIAL';\\n    if (v.includes('NO INCLUD') || v.includes('NOT INCLUD') || v === 'NO') return 'NOT_INCLUDED';\\n    return 'NO_INFO';\\n}\\n\\n// Separar requirements y responses\\nlet requirements = [];\\nlet responses = [];\\n\\nitems.forEach(item => {\\n    if (item.json.requirement_text || item.json.evaluation_type) {\\n        requirements.push(item.json);\\n    }\\n    if (item.json.provider_name && item.json.requirement_id) {\\n        responses.push(item.json);\\n    }\\n});\\n\\nif (requirements.length === 0 && responses.length === 0) {\\n    items.forEach(item => {\\n        if (Array.isArray(item.json)) {\\n            item.json.forEach(j => {\\n                if (j.requirement_text) requirements.push(j);\\n                if (j.provider_name && j.requirement_id) responses.push(j);\\n            });\\n        }\\n    });\\n}\\n\\nconst providers = [...new Set(responses.map(r => r.provider_name))];\\n\\nlet providerFilter = '';\\ntry {\\n    providerFilter = $('Set Input Params1').first().json.provider_filter || '';\\n} catch(e) {}\\n\\nconst targetProviders = providerFilter \\n    ? providers.filter(p => p.toLowerCase().includes(providerFilter.toLowerCase()))\\n    : providers;\\n\\nconsole.log(`📊 Scoring (Optimizado):`);\\nconsole.log(`   Total Proveedores: ${targetProviders.length}`);\\n\\n// Crear estructura RESUMIDA para evaluación\\nconst evaluationData = targetProviders.map(providerName => {\\n    const providerResponses = responses.filter(r => r.provider_name === providerName);\\n    \\n    // Estructura de RESUMEN por categoría (no datos crudos)\\n    const summary = {\\n        TECHNICAL: { total: 0, included: 0, partial: 0, not_included: 0, no_info: 0, avg_score: 0, scores: [] },\\n        ECONOMIC: { total: 0, included: 0, partial: 0, not_included: 0, no_info: 0, avg_score: 0, scores: [] },\\n        EXECUTION: { total: 0, included: 0, partial: 0, not_included: 0, no_info: 0, avg_score: 0, scores: [] },\\n        HSE_ESG: { total: 0, included: 0, partial: 0, not_included: 0, no_info: 0, avg_score: 0, scores: [] }\\n    };\\n    \\n    providerResponses.forEach(resp => {\\n        const req = requirements.find(r => r.id === resp.requirement_id);\\n        if (!req) return;\\n        \\n        const category = getCategoryFromEvalType(req.evaluation_type);\\n        const evalClass = classifyEval(resp.evaluation_value);\\n        \\n        if (!summary[category]) return;\\n        \\n        summary[category].total++;\\n        if (evalClass === 'INCLUDED') summary[category].included++;\\n        else if (evalClass === 'PARTIAL') summary[category].partial++;\\n        else if (evalClass === 'NOT_INCLUDED') summary[category].not_included++;\\n        else summary[category].no_info++;\\n        \\n        if (resp.score) summary[category].scores.push(resp.score);\\n    });\\n    \\n    // Calcular promedios\\n    Object.keys(summary).forEach(cat => {\\n        const s = summary[cat];\\n        if (s.scores.length > 0) {\\n            s.avg_score = Math.round((s.scores.reduce((a,b) => a+b, 0) / s.scores.length) * 100) / 100;\\n        }\\n        delete s.scores; // No enviar array de scores\\n    });\\n    \\n    return {\\n        provider_name: providerName,\\n        total_responses: providerResponses.length,\\n        category_summary: summary\\n    };\\n});\\n\\nreturn evaluationData.map(data => ({ json: data }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5168,
        -640
      ],
      "id": "5f597cf5-2732-4877-916c-c66555d1b8ec",
      "name": "Prepare Scoring Data"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4944,
        -688
      ],
      "id": "98021e35-dab7-4897-9286-3d15796c7d53",
      "name": "Loop Over Providers"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Score this provider based on compliance statistics.\n\n## PROVIDER: {{ $json.provider_name }}\n## TOTAL RESPONSES: {{ $json.total_responses }}\n\n## COMPLIANCE SUMMARY BY CATEGORY:\n{{ JSON.stringify($json.category_summary, null, 2) }}\n\n## CATEGORY WEIGHTS:\n- TECHNICAL: 35%\n- ECONOMIC: 35%\n- EXECUTION: 12%\n- HSE_ESG: 18%\n\n## SCORING RULES:\n- included items = 8 points base\n- partial items = 5 points base\n- not_included items = 2 points base\n- no_info items = 0 points\n- If avg_score > 0, use it instead of calculating\n\n## CALCULATE:\n1. Category score = weighted average of item scores\n2. Overall score = sum(category_score * weight)\n3. Compliance % = (included + partial*0.5) / total * 100\n\n## OUTPUT (JSON only):\n{\n  \"provider_name\": \"string\",\n  \"category_scores\": {\n    \"TECHNICAL\": number,\n    \"ECONOMIC\": number,\n    \"EXECUTION\": number,\n    \"HSE_ESG\": number\n  },\n  \"overall_score\": number,\n  \"compliance_percentage\": number,\n  \"evaluation_summary\": \"1-2 sentences\",\n  \"strengths\": [\"max 3\"],\n  \"weaknesses\": [\"max 3\"]\n}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -4672,
        -672
      ],
      "id": "ce56c3c0-528c-418f-b2fa-b74247d744df",
      "name": "Scoring LLM Chain"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODE: Calculate Weighted Scores\n// Applies specific weights per criterion\n// Saves all 12 individual criterion scores\n// =============================================\n\nconst input = $input.first().json;\nconst llmOutput = input.output || input;\n\n// Category weights (Based on H2 La Zaida project requirements)\nconst CATEGORY_WEIGHTS = {\n    'TECHNICAL': 0.35,\n    'ECONOMIC': 0.35,\n    'EXECUTION': 0.12,\n    'HSE_ESG': 0.18\n};\n\n// Detailed criterion weights (12 criteria)\nconst CRITERION_WEIGHTS = {\n    // TECHNICAL (35%)\n    'EFICIENCIA_SISTEMA_BOP': 0.12,\n    'DEGRADACION_VIDA_UTIL': 0.08,\n    'FLEXIBILIDAD_OPERATIVA': 0.08,\n    'PUREZA_PRESION': 0.07,\n    // ECONOMIC (35%)\n    'CAPEX_TOTAL': 0.18,\n    'OPEX_GARANTIZADO': 0.12,\n    'GARANTIAS_PENALIZACIONES': 0.05,\n    // EXECUTION (12%)\n    'PLAZO_ENTREGA': 0.06,\n    'EXPERIENCIA_TRACK_RECORD': 0.03,\n    'SOLIDEZ_PROVEEDOR': 0.03,\n    // HSE_ESG (18%)\n    'SEGURIDAD_ATEX': 0.12,\n    'SOSTENIBILIDAD': 0.06\n};\n\n// Map LLM criterion names to database column names\nconst CRITERION_TO_COLUMN = {\n    'EFICIENCIA_SISTEMA_BOP': 'efficiency_bop_score',\n    'DEGRADACION_VIDA_UTIL': 'degradation_lifetime_score',\n    'FLEXIBILIDAD_OPERATIVA': 'flexibility_score',\n    'PUREZA_PRESION': 'purity_pressure_score',\n    'CAPEX_TOTAL': 'capex_score',\n    'OPEX_GARANTIZADO': 'opex_score',\n    'GARANTIAS_PENALIZACIONES': 'warranties_score',\n    'PLAZO_ENTREGA': 'delivery_time_score',\n    'EXPERIENCIA_TRACK_RECORD': 'track_record_score',\n    'SOLIDEZ_PROVEEDOR': 'provider_strength_score',\n    'SEGURIDAD_ATEX': 'safety_atex_score',\n    'SOSTENIBILIDAD': 'sustainability_score'\n};\n\n// Extract category scores from LLM\nconst categoryScores = llmOutput.category_scores || {};\nconst detailedScores = llmOutput.detailed_scores || {};\n\n// Initialize all 12 individual scores with 0\nconst individualScores = {\n    efficiency_bop_score: 0,\n    degradation_lifetime_score: 0,\n    flexibility_score: 0,\n    purity_pressure_score: 0,\n    capex_score: 0,\n    opex_score: 0,\n    warranties_score: 0,\n    delivery_time_score: 0,\n    track_record_score: 0,\n    provider_strength_score: 0,\n    safety_atex_score: 0,\n    sustainability_score: 0\n};\n\n// Calculate weighted score using detailed weights\nlet weightedScore = 0;\nlet totalWeight = 0;\nlet evaluationCount = 0;\n\n// Extract individual scores from detailed_scores\nif (Object.keys(detailedScores).length > 0) {\n    Object.entries(detailedScores).forEach(([category, criteria]) => {\n        Object.entries(criteria).forEach(([criterion, data]) => {\n            if (criterion === 'category_average') return;\n            \n            const weight = CRITERION_WEIGHTS[criterion] || 0;\n            const score = data?.score || 0;\n            const columnName = CRITERION_TO_COLUMN[criterion];\n            \n            // Save individual score\n            if (columnName) {\n                individualScores[columnName] = Math.round(score * 100) / 100;\n            }\n            \n            if (weight > 0) {\n                weightedScore += score * weight;\n                totalWeight += weight;\n                evaluationCount++;\n            }\n        });\n    });\n} else {\n    // Fallback to category scores\n    Object.entries(categoryScores).forEach(([category, data]) => {\n        const normalizedCategory = category.toUpperCase().replace(/[^A-Z_]/g, '_');\n        const weight = CATEGORY_WEIGHTS[normalizedCategory] || 0.25;\n        const score = data?.score || 0;\n        \n        weightedScore += score * weight;\n        totalWeight += weight;\n        evaluationCount++;\n    });\n}\n\n// Normalize if weights don't sum exactly to 1\nif (totalWeight > 0 && Math.abs(totalWeight - 1) > 0.01) {\n    weightedScore = weightedScore / totalWeight;\n}\n\n// Get project_id\nlet projectId = null;\ntry {\n    projectId = $('Set Input Params1').first().json.project_id;\n} catch(e) {}\n\n// Calculate category averages from individual scores\nconst technicalAvg = (individualScores.efficiency_bop_score + individualScores.degradation_lifetime_score + individualScores.flexibility_score + individualScores.purity_pressure_score) / 4;\nconst economicAvg = (individualScores.capex_score + individualScores.opex_score + individualScores.warranties_score) / 3;\nconst executionAvg = (individualScores.delivery_time_score + individualScores.track_record_score + individualScores.provider_strength_score) / 3;\nconst hseEsgAvg = (individualScores.safety_atex_score + individualScores.sustainability_score) / 2;\n\n// Prepare data for Supabase (matching new schema with 12 individual columns)\nconst rankingData = {\n    provider_name: llmOutput.provider_name,\n    project_id: projectId,\n    // 12 Individual criterion scores\n    ...individualScores,\n    // 4 Aggregated category scores\n    technical_score: Math.round((categoryScores.TECHNICAL?.score || detailedScores.TECHNICAL?.category_average || technicalAvg) * 100) / 100,\n    economic_score: Math.round((categoryScores.ECONOMIC?.score || detailedScores.ECONOMIC?.category_average || economicAvg) * 100) / 100,\n    execution_score: Math.round((categoryScores.EXECUTION?.score || detailedScores.EXECUTION?.category_average || executionAvg) * 100) / 100,\n    hse_esg_score: Math.round((categoryScores.HSE_ESG?.score || detailedScores.HSE_ESG?.category_average || hseEsgAvg) * 100) / 100,\n    // Overall\n    overall_score: Math.round(weightedScore * 100) / 100,\n    compliance_percentage: llmOutput.compliance_percentage || Math.round(weightedScore * 10 * 100) / 100,\n    evaluation_count: evaluationCount,\n    last_updated: new Date().toISOString()\n};\n\nconsole.log(`✅ Detailed Scoring Complete for ${llmOutput.provider_name}:`);\nconsole.log(`   Overall Score: ${rankingData.overall_score}`);\nconsole.log(`   Compliance: ${rankingData.compliance_percentage}%`);\n\nreturn {\n    json: {\n        ranking: rankingData,\n        details: {\n            strengths: llmOutput.strengths || [],\n            weaknesses: llmOutput.weaknesses || [],\n            recommendations: llmOutput.recommendations || [],\n            summary: llmOutput.evaluation_summary || ''\n        },\n        detailed_scores: detailedScores,\n        category_scores: categoryScores,\n        individual_scores: individualScores\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4288,
        -672
      ],
      "id": "df2b7601-90c5-47f9-89f6-fc4f84d073a9",
      "name": "Calculate Weighted Scores"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ranking_proveedores",
        "limit": 1
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4048,
        -672
      ],
      "id": "ceac8e7a-8aa7-476d-b77a-1fe797855c66",
      "name": "Check Provider Exists",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pI4CpdYLTiEEBmnz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "provider-exists-condition",
              "leftValue": "={{ $json.provider_name }}",
              "rightValue": "={{ $('Loop Over Providers').item.json.provider_name }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3808,
        -672
      ],
      "id": "e245e1ac-0a90-4607-83fe-82096e526c95",
      "name": "Provider Exists?"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ranking_proveedores",
        "filters": {
          "conditions": [
            {
              "keyName": "provider_name",
              "condition": "eq",
              "keyValue": "={{ $('Calculate Weighted Scores').item.json.ranking.provider_name }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "project_id",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.project_id || null }}"
            },
            {
              "fieldId": "efficiency_bop_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.efficiency_bop_score || 0 }}"
            },
            {
              "fieldId": "degradation_lifetime_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.degradation_lifetime_score || 0 }}"
            },
            {
              "fieldId": "flexibility_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.flexibility_score || 0 }}"
            },
            {
              "fieldId": "purity_pressure_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.purity_pressure_score || 0 }}"
            },
            {
              "fieldId": "capex_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.capex_score || 0 }}"
            },
            {
              "fieldId": "opex_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.opex_score || 0 }}"
            },
            {
              "fieldId": "warranties_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.warranties_score || 0 }}"
            },
            {
              "fieldId": "delivery_time_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.delivery_time_score || 0 }}"
            },
            {
              "fieldId": "track_record_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.track_record_score || 0 }}"
            },
            {
              "fieldId": "provider_strength_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.provider_strength_score || 0 }}"
            },
            {
              "fieldId": "safety_atex_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.safety_atex_score || 0 }}"
            },
            {
              "fieldId": "sustainability_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.sustainability_score || 0 }}"
            },
            {
              "fieldId": "technical_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.technical_score || 0 }}"
            },
            {
              "fieldId": "economic_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.economic_score || 0 }}"
            },
            {
              "fieldId": "execution_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.execution_score || 0 }}"
            },
            {
              "fieldId": "hse_esg_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.hse_esg_score || 0 }}"
            },
            {
              "fieldId": "overall_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.overall_score || 0 }}"
            },
            {
              "fieldId": "compliance_percentage",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.compliance_percentage || 0 }}"
            },
            {
              "fieldId": "evaluation_count",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.evaluation_count || 0 }}"
            },
            {
              "fieldId": "last_updated",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.last_updated }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3568,
        -768
      ],
      "id": "375eb84d-c377-42a8-8257-141de49035e8",
      "name": "Update Ranking",
      "credentials": {
        "supabaseApi": {
          "id": "pI4CpdYLTiEEBmnz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "ranking_proveedores",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "provider_name",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.provider_name }}"
            },
            {
              "fieldId": "project_id",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.project_id || null }}"
            },
            {
              "fieldId": "efficiency_bop_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.efficiency_bop_score || 0 }}"
            },
            {
              "fieldId": "degradation_lifetime_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.degradation_lifetime_score || 0 }}"
            },
            {
              "fieldId": "flexibility_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.flexibility_score || 0 }}"
            },
            {
              "fieldId": "purity_pressure_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.purity_pressure_score || 0 }}"
            },
            {
              "fieldId": "capex_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.capex_score || 0 }}"
            },
            {
              "fieldId": "opex_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.opex_score || 0 }}"
            },
            {
              "fieldId": "warranties_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.warranties_score || 0 }}"
            },
            {
              "fieldId": "delivery_time_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.delivery_time_score || 0 }}"
            },
            {
              "fieldId": "track_record_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.track_record_score || 0 }}"
            },
            {
              "fieldId": "provider_strength_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.provider_strength_score || 0 }}"
            },
            {
              "fieldId": "safety_atex_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.safety_atex_score || 0 }}"
            },
            {
              "fieldId": "sustainability_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.sustainability_score || 0 }}"
            },
            {
              "fieldId": "technical_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.technical_score || 0 }}"
            },
            {
              "fieldId": "economic_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.economic_score || 0 }}"
            },
            {
              "fieldId": "execution_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.execution_score || 0 }}"
            },
            {
              "fieldId": "hse_esg_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.hse_esg_score || 0 }}"
            },
            {
              "fieldId": "overall_score",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.overall_score || 0 }}"
            },
            {
              "fieldId": "compliance_percentage",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.compliance_percentage || 0 }}"
            },
            {
              "fieldId": "evaluation_count",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.evaluation_count || 0 }}"
            },
            {
              "fieldId": "last_updated",
              "fieldValue": "={{ $('Calculate Weighted Scores').item.json.ranking.last_updated }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3568,
        -560
      ],
      "id": "3e02758d-baf4-45b6-9df1-96bd5b6e3a96",
      "name": "Insert Ranking",
      "credentials": {
        "supabaseApi": {
          "id": "pI4CpdYLTiEEBmnz",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "all_rankings",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -4672,
        -848
      ],
      "id": "f80a5471-9942-49a4-b1fb-132feacebfaf",
      "name": "Aggregate All Rankings"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODE: Generate Final Ranking with Details\n// Sorts providers and generates complete response\n// Includes all 12 individual criterion scores\n// =============================================\n\nconst items = $input.all();\nlet allRankings = [];\n\nitems.forEach(item => {\n    if (item.json.all_rankings) {\n        allRankings = allRankings.concat(item.json.all_rankings);\n    } else if (item.json.ranking) {\n        allRankings.push(item.json);\n    }\n});\n\nconst sortedRankings = allRankings\n    .map(r => ({\n        ranking: r.ranking || r,\n        details: r.details || {},\n        detailed_scores: r.detailed_scores || {},\n        category_scores: r.category_scores || {},\n        individual_scores: r.individual_scores || {}\n    }))\n    .sort((a, b) => (b.ranking.overall_score || 0) - (a.ranking.overall_score || 0));\n\nconst finalRanking = sortedRankings.map((r, idx) => ({\n    position: idx + 1,\n    provider_name: r.ranking.provider_name,\n    overall_score: r.ranking.overall_score,\n    compliance_percentage: r.ranking.compliance_percentage,\n    // Aggregated category scores\n    category_scores: {\n        technical: r.ranking.technical_score,\n        economic: r.ranking.economic_score,\n        execution: r.ranking.execution_score,\n        hse_esg: r.ranking.hse_esg_score\n    },\n    // All 12 individual criterion scores\n    individual_scores: {\n        // TECHNICAL (35%)\n        efficiency_bop: r.ranking.efficiency_bop_score || r.individual_scores?.efficiency_bop_score || 0,\n        degradation_lifetime: r.ranking.degradation_lifetime_score || r.individual_scores?.degradation_lifetime_score || 0,\n        flexibility: r.ranking.flexibility_score || r.individual_scores?.flexibility_score || 0,\n        purity_pressure: r.ranking.purity_pressure_score || r.individual_scores?.purity_pressure_score || 0,\n        // ECONOMIC (35%)\n        capex: r.ranking.capex_score || r.individual_scores?.capex_score || 0,\n        opex: r.ranking.opex_score || r.individual_scores?.opex_score || 0,\n        warranties: r.ranking.warranties_score || r.individual_scores?.warranties_score || 0,\n        // EXECUTION (12%)\n        delivery_time: r.ranking.delivery_time_score || r.individual_scores?.delivery_time_score || 0,\n        track_record: r.ranking.track_record_score || r.individual_scores?.track_record_score || 0,\n        provider_strength: r.ranking.provider_strength_score || r.individual_scores?.provider_strength_score || 0,\n        // HSE/ESG (18%)\n        safety_atex: r.ranking.safety_atex_score || r.individual_scores?.safety_atex_score || 0,\n        sustainability: r.ranking.sustainability_score || r.individual_scores?.sustainability_score || 0\n    },\n    detailed_scores: r.detailed_scores,\n    evaluation: {\n        strengths: r.details.strengths || [],\n        weaknesses: r.details.weaknesses || [],\n        recommendations: r.details.recommendations || [],\n        summary: r.details.summary || ''\n    }\n}));\n\nconst stats = {\n    total_providers: finalRanking.length,\n    average_score: finalRanking.reduce((sum, r) => sum + (r.overall_score || 0), 0) / (finalRanking.length || 1),\n    top_performer: finalRanking[0]?.provider_name || 'N/A',\n    score_range: {\n        min: Math.min(...finalRanking.map(r => r.overall_score || 0)),\n        max: Math.max(...finalRanking.map(r => r.overall_score || 0))\n    },\n    evaluation_date: new Date().toISOString(),\n    criteria_weights: {\n        TECHNICAL: {\n            total: '35%',\n            efficiency_bop: '12%',\n            degradation_lifetime: '8%',\n            flexibility: '8%',\n            purity_pressure: '7%'\n        },\n        ECONOMIC: {\n            total: '35%',\n            capex: '18%',\n            opex: '12%',\n            warranties: '5%'\n        },\n        EXECUTION: {\n            total: '12%',\n            delivery_time: '6%',\n            track_record: '3%',\n            provider_strength: '3%'\n        },\n        HSE_ESG: {\n            total: '18%',\n            safety_atex: '12%',\n            sustainability: '6%'\n        }\n    }\n};\n\nconsole.log(`🏆 Final Ranking Generated:`);\nfinalRanking.forEach(r => {\n    console.log(`   ${r.position}. ${r.provider_name}: ${r.overall_score} (${r.compliance_percentage}%)`);\n});\n\nreturn {\n    json: {\n        success: true,\n        ranking: finalRanking,\n        statistics: stats,\n        message: `Scoring completed for ${finalRanking.length} providers using 12 detailed criteria`\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4384,
        -848
      ],
      "id": "6883132c-a2d1-485d-b911-7bbbed107286",
      "name": "Generate Final Ranking"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -4160,
        -848
      ],
      "id": "64b8a9bf-368d-4961-8d42-ec66184f53da",
      "name": "Respond with Ranking"
    },
    {
      "parameters": {
        "content": "## Scoring Workflow - Evaluacion de Proveedores\n## Con Criterios Detallados (12 criterios)\n## Based on H2 La Zaida Project Requirements\n\n### Pesos por Categoría:\n\n**TÉCNICA (35%)**\n- Eficiencia Sistema BOP: 12%\n- Degradación/Vida Útil: 8%\n- Flexibilidad Operativa: 8%\n- Pureza y Presión: 7%\n\n**ECONÓMICA (35%)**\n- CAPEX Total: 18%\n- OPEX Garantizado: 12%\n- Garantías/Penalizaciones: 5%\n\n**EJECUCIÓN (12%)**\n- Plazo de Entrega: 6%\n- Track Record: 3%\n- Solidez Proveedor: 3%\n\n**HSE/ESG (18%)**\n- Seguridad ATEX: 12%\n- Sostenibilidad: 6%\n\n### Endpoint:\nPOST /webhook/scoring-evaluation\n```json\n{\n  \"project_id\": \"uuid\",\n  \"provider_name\": \"filter\",\n  \"recalculate_all\": false\n}\n```",
        "height": 1264,
        "width": 3280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6624,
        -1232
      ],
      "id": "5ba32913-16ca-4f06-9ffe-0e7d4c14b15e",
      "name": "Workflow Info"
    },
    {
      "parameters": {
        "content": "## Scoring con IA\n\nUsa Mistral Large para evaluar:\n- 12 criterios específicos\n- Justificación por criterio\n- Fortalezas y debilidades\n- Recomendaciones\n\nOutput estructurado con JSON Parser",
        "height": 220,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4768,
        -1088
      ],
      "id": "6c541b3c-12f5-4795-8495-b3d455ec37b6",
      "name": "LLM Scoring Info"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "project_id",
              "name": "project_id",
              "value": "={{ $json.body.project_id }}",
              "type": "string"
            },
            {
              "id": "provider_filter",
              "name": "provider_filter",
              "value": "={{ $json.body.provider_name || '' }}",
              "type": "string"
            },
            {
              "id": "recalculate_all",
              "name": "recalculate_all",
              "value": "={{ $json.body.recalculate_all || false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5840,
        -640
      ],
      "id": "0bfd482b-9d9e-4138-b2bb-f4431b7bc7ff",
      "name": "Set Input Params1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"provider_name\": { \"type\": \"string\" },\n    \"detailed_scores\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"TECHNICAL\": { \"type\": \"object\" },\n        \"ECONOMIC\": { \"type\": \"object\" },\n        \"EXECUTION\": { \"type\": \"object\" },\n        \"HSE_ESG\": { \"type\": \"object\" }\n      }\n    },\n    \"category_scores\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"TECHNICAL\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"score\": { \"type\": \"number\" },\n            \"weight\": { \"type\": \"number\" }\n          }\n        },\n        \"ECONOMIC\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"score\": { \"type\": \"number\" },\n            \"weight\": { \"type\": \"number\" }\n          }\n        },\n        \"EXECUTION\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"score\": { \"type\": \"number\" },\n            \"weight\": { \"type\": \"number\" }\n          }\n        },\n        \"HSE_ESG\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"score\": { \"type\": \"number\" },\n            \"weight\": { \"type\": \"number\" }\n          }\n        }\n      }\n    },\n    \"overall_score\": { \"type\": \"number\" },\n    \"compliance_percentage\": { \"type\": \"number\" },\n    \"evaluation_summary\": { \"type\": \"string\" },\n    \"strengths\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"weaknesses\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"recommendations\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    }\n  },\n  \"required\": [\"provider_name\", \"category_scores\", \"overall_score\", \"compliance_percentage\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -4528,
        -448
      ],
      "id": "56c31da0-e366-4d0c-b025-52a439fbbf28",
      "name": "JSON Output Parser1"
    },
    {
      "parameters": {
        "model": "qwen3:8b",
        "options": {
          "temperature": 0.1,
          "numCtx": 8192,
          "numPredict": 2048
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -4784,
        -464
      ],
      "id": "d7585411-e34e-4ccc-ad2b-8327ed4cd949",
      "name": "Ollama Scoring Model",
      "credentials": {
        "ollamaApi": {
          "id": "oS2Qqti9oVfsm8XZ",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "ranking_proveedores",
        "filters": {
          "conditions": [
            {
              "keyName": "provider_name",
              "condition": "neq",
              "keyValue": "R"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6064,
        -640
      ],
      "id": "aeac889c-238e-43f9-8386-507bf0ad8d82",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pI4CpdYLTiEEBmnz",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Scoring": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Requirements": {
      "main": [
        [
          {
            "node": "Merge Requirements & Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Provider Responses": {
      "main": [
        [
          {
            "node": "Merge Requirements & Responses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Requirements & Responses": {
      "main": [
        [
          {
            "node": "Prepare Scoring Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Scoring Data": {
      "main": [
        [
          {
            "node": "Loop Over Providers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Providers": {
      "main": [
        [
          {
            "node": "Aggregate All Rankings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scoring LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scoring LLM Chain": {
      "main": [
        [
          {
            "node": "Calculate Weighted Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Weighted Scores": {
      "main": [
        [
          {
            "node": "Check Provider Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Provider Exists": {
      "main": [
        [
          {
            "node": "Provider Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Provider Exists?": {
      "main": [
        [
          {
            "node": "Update Ranking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Ranking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Ranking": {
      "main": [
        [
          {
            "node": "Loop Over Providers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Ranking": {
      "main": [
        [
          {
            "node": "Loop Over Providers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Rankings": {
      "main": [
        [
          {
            "node": "Generate Final Ranking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Final Ranking": {
      "main": [
        [
          {
            "node": "Respond with Ranking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Params1": {
      "main": [
        [
          {
            "node": "Fetch Requirements",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Provider Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Scoring LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Scoring Model": {
      "ai_languageModel": [
        [
          {
            "node": "Scoring LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Set Input Params1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53140335eaf11280ef77ef2f5a378f48c2b28e822e3e0d96563cdd92175c0eff"
  }
}