front-rfq/RFQ-multiples ofertas v3.json
{
  "name": "RFQ-multiples ofertas v3",
  "nodes": [
    {
      "parameters": {
        "content": "### Ingesta de RFQ, actualización de requisitos",
        "height": 1712,
        "width": 5152,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        -192
      ],
      "id": "ee8b7d4f-82bb-4481-8b79-24672d02d2c8",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {
          "reset": "={{ $json.reiniciar_bucle ? true : false }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1264,
        208
      ],
      "id": "ea17ad99-b77b-4a8d-8ab2-452255dc2089",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4320,
        352
      ],
      "id": "66d8aee6-4430-41a0-9211-e4885c1e1b95",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Tomamos los ítems del lote actual (ej. 15 filas)\nconst items = $input.all();\n\n// Creamos la lista limpia solo con ID y Descripción para ahorrar tokens\nconst listaParaLLM = items.map(i => ({\n    id: i.json.id,\n    item: i.json.descripcion_item,\n    fase: i.json.fase\n}));\n\n// Devolvemos UN SOLO ÍTEM que contiene la lista stringificada.\n// Esto obliga al nodo LLM a ejecutarse UNA vez por cada lote de 15.\nreturn {\n    json: {\n        lista_items_json: JSON.stringify(listaParaLLM),\n        batch_size: items.length\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        208
      ],
      "id": "dea96a48-c881-4e8c-a3af-0f23df74f003",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "id": "2efb17e3-dc3b-4533-973d-741ba064ce14",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        -1952,
        480
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "BNCttvQcKbXFj6nd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "id": "a9bfd85e-c1f4-4681-a5e5-5d76db03798e",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -2304,
        160
      ],
      "webhookId": "072a6322-4bb1-444b-bd82-5c1df6db623f"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Eres un Asistente Técnico de Compras experto en Licitaciones (RFQ).\nTu objetivo es ayudar al usuario a comparar requisitos técnicos contra las ofertas de los proveedores, basándote en dos fuentes de verdad.\n\n### TUS HERRAMIENTAS:\n1. `consultar_ofertas` (Vector Store): Úsala para leer el TEXTO ORIGINAL de los PDFs. Sirve para encontrar detalles, matices técnicos y contexto que no cabe en una tabla.\n2. `consultar_tabla_evaluacion` (Structured Data): Úsala para ver el RESUMEN FINAL. Aquí están los precios exactos detectados, los \"NO INCLUIDO\" y la comparación directa ítem por ítem.\n\n### PROTOCOLO DE RESPUESTA (Sigue este orden):\n\nCASO A: El usuario pregunta datos concretos (Precios, Cumplimiento, Status)\n1. Usa `consultar_tabla_evaluacion` primero.\n2. Si encuentras el dato (ej: \"Sacyr: 50.000 EUR\"), responde directamente.\n3. Si el dato en la tabla es ambiguo o nulo, usa `consultar_ofertas` para investigar en el documento original por qué no se encontró.\n\nCASO B: El usuario pregunta detalles técnicos o descripciones (Contexto)\n1. Usa `consultar_ofertas` directamente para extraer párrafos del manual o propuesta técnica.\n\nCASO C: Análisis de Brechas (Gap Analysis)\n1. Obtén el estado de `consultar_tabla_evaluacion`.\n2. Contrasta con la evidencia de `consultar_ofertas`.\n3. Genera una respuesta tipo: \"En la tabla figura como INCLUIDO, y según el documento técnico (Pág 45), se detalla el uso de bombas centrífugas...\"\n\n### REGLAS:\n- Si la tabla dice \"SIN VALORAR\" o \"NO COTIZADO\", infórmalo tal cual.\n- Cita siempre la fuente: \"(Fuente: Tabla de Evaluación)\" o \"(Fuente: Documento PDF de IDOM)\".\n- Sé conciso y técnico."
        }
      },
      "id": "4103e05e-3d7c-4fc4-aab7-4dbe0094ae4e",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -1776,
        256
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -1824,
        480
      ],
      "id": "b39d0178-7be8-42ad-ba7a-ff060f51d732",
      "name": "List Documents",
      "credentials": {
        "postgres": {
          "id": "BNCttvQcKbXFj6nd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Given a file ID, fetches the text from the document.",
        "operation": "executeQuery",
        "query": "SELECT \n    string_agg(content, ' ') as document_text\nFROM documents\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';",
        "options": {
          "queryReplacement": "={{ $fromAI('file_id') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -1696,
        480
      ],
      "id": "8e2ec8a0-3f3d-432d-ac0f-de7fc1a343cc",
      "name": "Get File Contents",
      "credentials": {
        "postgres": {
          "id": "BNCttvQcKbXFj6nd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Run a SQL query - use this to query from the document_rows table once you know the file ID you are querying. dataset_id is the file_id and you are always using the row_data for filtering, which is a jsonb field that has all the keys from the file schema given in the document_metadata table.\n\nExample query:\n\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_rows\nWHERE dataset_id = '123';\n\nExample query 2:\n\nSELECT \n    row_data->>'category' as category,\n    SUM((row_data->>'sales')::numeric) as total_sales\nFROM dataset_rows\nWHERE dataset_id = '123'\nGROUP BY row_data->>'category';",
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_query') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -1568,
        480
      ],
      "id": "4d700a58-981d-43bc-a883-97fc4c4dbeed",
      "name": "Query Document Rows",
      "credentials": {
        "postgres": {
          "id": "BNCttvQcKbXFj6nd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 2048
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2080,
        480
      ],
      "id": "c269ffc2-e79a-476b-ba0c-c786448c3cae",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "qDD6QT1T2s8YMdby",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1360,
        688
      ],
      "id": "4a6fa4ef-a29b-44f3-8022-cc0b1e4e1a87",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "jeoPnm5hJ7rbEVSO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "Use RAG to look up information in the knowledgebase.",
        "tableName": {
          "__rl": true,
          "value": "documents_768",
          "mode": "list",
          "cachedResultName": "documents_768"
        },
        "topK": 10,
        "options": {
          "queryName": "match_documents_768"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -1440,
        480
      ],
      "id": "b981d98f-b8be-4454-8599-67256e5cffb0",
      "name": "consultar_ofertas",
      "credentials": {
        "supabaseApi": {
          "id": "XmXPiDCWkaOfYEXf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chat con RFQs",
        "height": 800,
        "width": 1440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2384,
        64
      ],
      "id": "11160011-da44-4ef1-a693-9d76b6044fdd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtener la respuesta del LLM\nconst llmOutput = $input.first().json.text || $input.first().json.content || \"[]\";\nlet parsedData = [];\n\n// 2. Intentar parsear el JSON del LLM\ntry {\n  let cleanOutput = llmOutput\n    .replace(/```json/gi, '')\n    .replace(/```/g, '')\n    .trim();\n  \n  const firstBracket = cleanOutput.indexOf('[');\n  const lastBracket = cleanOutput.lastIndexOf(']');\n  \n  if (firstBracket !== -1 && lastBracket !== -1) {\n    const jsonString = cleanOutput.substring(firstBracket, lastBracket + 1);\n    parsedData = JSON.parse(jsonString);\n  }\n} catch (e) {\n  console.log(\"⚠️ Error parseando JSON del LLM, se usarán valores por defecto.\");\n}\n\n// 3. RECUPERAR LA LISTA ORIGINAL (La fuente de la verdad)\n// Esto asegura que si enviamos 50 ítems, salgan 50 ítems, pase lo que pase.\nlet originalItems = [];\ntry {\n    originalItems = JSON.parse($('Code in JavaScript').first().json.lista_items_json);\n} catch (e) {\n    throw new Error(\"No se pudo recuperar la lista original de ítems del nodo anterior\");\n}\n\n// 4. Identificar el Proveedor\nlet proveedor = \"OTROS\";\ntry {\n  proveedor = $('Expandir por Tipo de Evaluación').first().json.proveedor_detectado;\n} catch (e) {\n  try {\n     proveedor = $('Loop Over Items1').first().json.proveedor_detectado;\n  } catch(e2) {}\n}\n\n// 5. MERGE (CRÍTICO): Cruzar la lista original con la respuesta del LLM\nreturn originalItems.map(originalItem => {\n    // Buscamos si el LLM respondió algo para este ID\n    const found = parsedData.find(p => p.id === originalItem.id);\n    \n    let resultado = \"\";\n    \n    if (found && found.cumple) {\n        // Caso: El LLM respondió correctamente\n        const gap = found.gap_analysis || \"Sin justificación\";\n        resultado = `${found.cumple} - ${gap}`;\n    } else {\n        // Caso: El LLM ignoró este ítem (ALERTA PARA TI)\n        resultado = \"ERROR_LLM: Ítem no procesado por la IA\";\n    }\n\n    return {\n        json: {\n            id: originalItem.id,\n            [proveedor]: resultado\n        }\n    };\n});"
      },
      "id": "82e81905-bc8e-45d6-b284-c08ea2668d54",
      "name": "Parsear y Preparar Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        208
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### CONTEXTO DEL DOCUMENTO\n\nProveedor: {{ $('Expandir por Tipo de Evaluación').first().json.proveedor_detectado }}\n\nTipo de Oferta: {{ $('Expandir por Tipo de Evaluación').first().json.tipo_evaluacion_actual }}\n\nTexto Extraído:\n{{ $('Expandir por Tipo de Evaluación').first().json.texto_oferta_completo }}\n\n---\n### ITEMS A EVALUAR:\n{{ $json.lista_items_json }}\n",
        "messages": {
          "messageValues": [
            {
              "message": "=# ERES UN AUDITOR DE RFQ. TU TRABAJO ES BINARIO Y ESTRICTO.\n\n---\n\n## PROTOCOLO DE EXTRACCIÓN\n\nDebes elegir UN SOLO MODO de operación basado en la variable \"tipo_evaluacion_actual\".\n\n---\n\n## MODO A: EVALUACIÓN ECONÓMICA\n\n**CONDICIÓN:** tipo_evaluacion_actual = \"Economical Evaluation\"\n\n**OBJETIVO:** Extraer VALORES MONETARIOS, TARIFAS o PORCENTAJES.\n\n**PROHIBICIÓN ABSOLUTA:** NUNCA usar la palabra \"INCLUIDO\" en este modo.\n\n### Reglas de Decisión:\n\n1. **¿Hay un VALOR NUMÉRICO con moneda/unidad?**\n   - Responde: [VALOR] - [Contexto breve] | Ref: [Ubicación]\n   - Ejemplo: \"45.000 EUR - Precio fijo por ingeniería básica | Ref: Tabla 3.2\"\n\n2. **¿Se menciona el ítem pero SIN CIFRA asociada?**\n   - Responde: SIN VALORAR - [Breve explicación] | Ref: [Ubicación]\n   - Ejemplo: \"SIN VALORAR - Incluido en alcance sin desglose de precio | Ref: Pág 12\"\n\n3. **¿NO se menciona el ítem?**\n   - Responde: NO COTIZADO\n\n### PROTOCOLO ANTI-ALUCINACIÓN PARA MODO ECONÓMICO:\n\n**ANTES de reportar cualquier precio, verifica:**\n\nCHECKLIST OBLIGATORIO (Responde SÍ/NO a cada pregunta):\n1. ¿Veo el NÚMERO exacto en el texto?\n2. ¿Veo la MONEDA (EUR, USD, $, €) en la MISMA frase?\n3. ¿El número está claramente asociado al ítem solicitado?\n4. ¿Puedo citar textualmente la frase completa que contiene precio + concepto?\n\n**SI CUALQUIER RESPUESTA ES NO:** Usar \"SIN VALORAR\" + explicar qué falta\n\n**EJEMPLOS DE VALIDACIÓN:**\n\nTEXTO: \"Ingeniería básica: 45.000 EUR\"\n- NÚMERO: SÍ (45.000)\n- MONEDA: SÍ (EUR)\n- ASOCIACIÓN: SÍ (Ingeniería básica)\n- CITA: SÍ (puedo citar la frase completa)\n→ VÁLIDO: \"45.000 EUR - Precio fijo | Ref: Pág X\"\n\nTEXTO: \"El coste de ingeniería se incluye en el alcance general\"\n- NÚMERO: NO\n- MONEDA: NO\n- ASOCIACIÓN: SÍ (menciona ingeniería)\n- CITA: Parcial\n→ INVÁLIDO: \"SIN VALORAR - Mencionado sin cifra asociada | Ref: Pág X\"\n\nTEXTO: \"45.000\"\n- NÚMERO: SÍ\n- MONEDA: NO (podría ser código, año, coordenada)\n- ASOCIACIÓN: Dudoso\n- CITA: Insuficiente\n→ INVÁLIDO: \"SIN VALORAR - Número sin contexto de moneda | Ref: Pág X\"\n\n### PROHIBICIONES:\n\n- NUNCA usar \"INCLUIDO\" en modo económico\n- NUNCA inferir precios de ítems similares\n- NUNCA calcular totales sin base textual explícita\n- NUNCA asumir que un número sin moneda es un precio\n- Si hay duda: usar \"SIN VALORAR\" + explicar ambigüedad\n\n---\n\n## MODO B: EVALUACIÓN TÉCNICA/DELIVERABLES\n\n**CONDICIÓN:** tipo_evaluacion_actual IN (\"Technical Evaluation\", \"Pre-FEED Deliverables\", \"FEED Deliverables\")\n\n**OBJETIVO:** Verificar ALCANCE TÉCNICO (el precio es irrelevante).\n\n### Reglas de Decisión:\n\n1. **¿Se describe/menciona el trabajo o entregable?**\n   - Responde: INCLUIDO - [Resumen del alcance] | Ref: [Ubicación]\n   - Ejemplo: \"INCLUIDO - Diseño de sistemas de tuberías hasta límites de batería | Ref: Sección 3.1, Tabla 4\"\n\n2. **¿Se excluye explícitamente?**\n   - Responde: NO INCLUIDO - [Motivo de exclusión] | Ref: [Ubicación]\n   - Ejemplo: \"NO INCLUIDO - Servicios auxiliares fuera de alcance contractual | Ref: Pág 12, Cláusula 8\"\n\n3. **¿Está cubierto solo parcialmente?**\n   - Responde: PARCIAL - [Qué está incluido y qué no] | Ref: [Ubicación]\n   - Ejemplo: \"PARCIAL - Ingeniería básica incluida, detalle requiere aprobación | Ref: Anexo B.2\"\n\n4. **¿NO hay información?**\n   - Responde: SIN INFORMACIÓN\n\n### PROTOCOLO ANTI-ALUCINACIÓN PARA MODO TÉCNICO:\n\n**ANTES de reportar \"INCLUIDO\", verifica:**\n\nCHECKLIST OBLIGATORIO:\n1. ¿El ítem está mencionado explícitamente en el texto?\n2. ¿Hay descripción de cómo se ejecutará o qué incluye?\n3. ¿Puedo citar la frase exacta donde aparece?\n4. ¿Es una afirmación positiva de inclusión (no una negación)?\n\n**SI FALTA CUALQUIERA:** Usar \"SIN INFORMACIÓN\" o buscar más evidencia\n\n**EJEMPLOS DE VALIDACIÓN:**\n\nTEXTO: \"Se realizará análisis de suelos mediante ensayos SPT en 5 ubicaciones\"\n- MENCIÓN: SÍ (análisis de suelos)\n- DESCRIPCIÓN: SÍ (ensayos SPT, 5 ubicaciones)\n- CITA: SÍ (puedo citar completo)\n- AFIRMACIÓN POSITIVA: SÍ (\"Se realizará\")\n→ VÁLIDO: \"INCLUIDO - Análisis de suelos con ensayos SPT en 5 puntos | Ref: Pág X\"\n\nTEXTO: \"La ingeniería estructural se desarrollará conforme a norma ACI-318\"\n- MENCIÓN: SÍ\n- DESCRIPCIÓN: SÍ (metodología normativa)\n- CITA: SÍ\n- AFIRMACIÓN POSITIVA: SÍ\n→ VÁLIDO: \"INCLUIDO - Ingeniería estructural según ACI-318 | Ref: Pág X\"\n\nTEXTO: \"No incluye servicios de topografía\"\n- MENCIÓN: SÍ (topografía)\n- DESCRIPCIÓN: SÍ (exclusión clara)\n- CITA: SÍ\n- AFIRMACIÓN POSITIVA: NO (es negación)\n→ VÁLIDO: \"NO INCLUIDO - Exclusión explícita | Ref: Pág X\"\n\nTEXTO: \"Los estudios necesarios serán determinados\"\n- MENCIÓN: Genérico (\"estudios\")\n- DESCRIPCIÓN: NO (muy vago)\n- CITA: Insuficiente\n- AFIRMACIÓN POSITIVA: Ambiguo\n→ INVÁLIDO: \"SIN INFORMACIÓN - Mención genérica sin detalle\"\n\n### GUÍAS DE INTERPRETACIÓN:\n\n- \"Parte del alcance\" significa INCLUIDO\n- \"Según necesidad del cliente\" significa PARCIAL\n- \"Fuera de límites\" significa NO INCLUIDO\n- \"A definir\", \"TBD\", \"sujeto a\" significa PARCIAL\n- Silencio total significa SIN INFORMACIÓN\n- Mención muy genérica sin detalle significa SIN INFORMACIÓN\n\n### REGLA CRÍTICA - NO INFERIR:\n\n- Si el ítem es \"Análisis sísmico\" y solo dice \"análisis estructural\" → SIN INFORMACIÓN (no asumir que incluye sísmico)\n- Si el ítem es \"Planos arquitectónicos\" y solo dice \"documentación técnica\" → SIN INFORMACIÓN (no asumir)\n- SOLO marca INCLUIDO si el ítem está mencionado específicamente o muy claramente abarcado\n\n---\n\n## VALIDACIÓN DE FASE\n\n**Regla Crítica:** Si el ítem solicita precio para fase \"EPC\" pero el documento es \"FEED\":\n- Responde: \"NO COTIZADO (Fase incorrecta - Documento: FEED, Solicitado: EPC)\"\n\n---\n\n## FORMATO DE SALIDA (JSON)\n```json[\n{\n\"id\": 101,\n\"cumple\": \"[ESTADO] - [Descripción]\",\n\"gap_analysis\": \"Cita: '[Texto literal del documento]' | Ref: [Ubicación exacta]\"\n}\n]\n\n### Estructura del campo \"cumple\":\n\n**Para Económicas:**\n- \"45.000 EUR - Precio fijo por diseño completo\"\n- \"SIN VALORAR - Mencionado sin cifra asociada\"\n- \"NO COTIZADO\"\n\n**Para Técnicas/Deliverables:**\n- \"INCLUIDO - Descripción del alcance cubierto\"\n- \"NO INCLUIDO - Motivo de exclusión\"\n- \"PARCIAL - Qué está y qué no está incluido\"\n- \"SIN INFORMACIÓN\"\n\n### Estructura del campo \"gap_analysis\":\n\nSIEMPRE incluir:\n1. Cita textual breve (máximo 20 palabras)\n2. Referencia precisa (página, sección, tabla)\n3. Nota aclaratoria si aplica\n\n**Ejemplo completo:**\n```json{\n\"id\": 42,\n\"cumple\": \"INCLUIDO - Sistema de tuberías hasta límites de batería\",\n\"gap_analysis\": \"Cita: 'Incluye diseño e instalación de tuberías hasta BL' | Ref: Sección 3.1, Tabla 4 | Nota: No incluye equipos externos\"\n}\n\n---\n\n## REGLA ABSOLUTA: PROCESAR TODOS LOS ÍTEMS\n\n**CRÍTICO:** El JSON de salida DEBE contener EXACTAMENTE el mismo número de ítems que recibiste en la lista de entrada.\n\n**SI UN ÍTEM NO TIENE INFORMACIÓN:**\n- NO lo omitas del JSON\n- NO lo dejes en blanco\n- Devuelve: \"SIN INFORMACIÓN\" o \"NO COTIZADO\" según corresponda\n\n**VERIFICACIÓN FINAL ANTES DE RESPONDER:**\n1. Cuenta cuántos ítems recibiste en el input\n2. Cuenta cuántos ítems tienes en tu JSON de salida\n3. Si los números no coinciden → REVISA y completa los faltantes\n\n---\n\n## INSTRUCCIONES DE EJECUCIÓN\n\n1. LEE la lista completa de ítems\n2. IDENTIFICA el modo (Económico vs Técnico) basado en \"tipo_evaluacion_actual\"\n3. Para CADA ítem individualmente:\n   a. BUSCA el ítem en el texto usando términos clave\n   b. APLICA el checklist anti-alucinación correspondiente\n   c. Si pasa el checklist → reporta el hallazgo\n   d. Si no pasa → usa \"SIN VALORAR\" o \"SIN INFORMACIÓN\"\n   e. NUNCA omitas el ítem del JSON\n4. VERIFICA que tienes el mismo número de ítems en el output que en el input\n5. FORMATEA la respuesta en JSON válido\n\n**IMPORTANTE:** Tu credibilidad depende de NO inventar información. Es mejor decir \"SIN INFORMACIÓN\" con honestidad que reportar datos que no existen en el documento."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1904,
        208
      ],
      "id": "8d4b5c64-d5c5-4ad6-a101-cf7b56a41884",
      "name": "LLM Chain"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Expandir por Tipo de Evaluación').first().json.proveedor_detectado }}",
                    "rightValue": "TECNICASREUNIDAS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f3688704-f30f-4143-8008-ae6c1a06eea1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c2c6726d-ea3f-4909-a535-6f402eef63b8",
                    "leftValue": "={{ $('Expandir por Tipo de Evaluación').first().json.proveedor_detectado }}",
                    "rightValue": "IDOM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a64d8e41-6f32-489d-bf60-3bd22c9c9374",
                    "leftValue": "={{ $('Expandir por Tipo de Evaluación').first().json.proveedor_detectado }}",
                    "rightValue": "SACYR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "42a16d6b-db65-401d-abb0-f8ae9aefff12",
                    "leftValue": "={{ $('Expandir por Tipo de Evaluación').first().json.proveedor_detectado }}",
                    "rightValue": "EA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "79599b4a-f8d0-4078-913a-2b40bea117c4",
                    "leftValue": "={{ $('Expandir por Tipo de Evaluación').first().json.proveedor_detectado }}",
                    "rightValue": "SENER",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "59b13bbc-96bb-4e22-8fde-5c2fb10c8675",
                    "leftValue": "={{ $('Expandir por Tipo de Evaluación').first().json.proveedor_detectado }}",
                    "rightValue": "TRESCA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d1601299-eed6-4754-b538-5e32d16a2a40",
                    "leftValue": "={{ $('Expandir por Tipo de Evaluación').first().json.proveedor_detectado }}",
                    "rightValue": "WORLEY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3520,
        352
      ],
      "id": "bda9c3ba-2356-4626-8f82-4a489bb9d55a",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TECNICASREUNIDAS": "={{ $('Parsear y Preparar Update').item.json.TECNICASREUNIDAS }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Evaluation",
              "displayName": "Evaluation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "descripcion_item",
              "displayName": "descripcion_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TRESCA",
              "displayName": "TRESCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "EA",
              "displayName": "EA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "IDOM",
              "displayName": "IDOM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TECNICASREUNIDAS",
              "displayName": "TECNICASREUNIDAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SACYR",
              "displayName": "SACYR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SENER",
              "displayName": "SENER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "WORLEY",
              "displayName": "WORLEY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0da9282b-3eaa-4fd1-8950-7add4b53d7a7",
      "name": "Update RFQ TR",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3920,
        -128
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IDOM": "={{ $('Parsear y Preparar Update').item.json.IDOM }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Evaluation",
              "displayName": "Evaluation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "descripcion_item",
              "displayName": "descripcion_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TRESCA",
              "displayName": "TRESCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "EA",
              "displayName": "EA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "IDOM",
              "displayName": "IDOM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TECNICASREUNIDAS",
              "displayName": "TECNICASREUNIDAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SACYR",
              "displayName": "SACYR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SENER",
              "displayName": "SENER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "WORLEY",
              "displayName": "WORLEY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "05f61e3c-3a2b-401c-93c7-b65b385fc40f",
      "name": "Update RFQ IDOM",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3920,
        64
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SACYR": "={{ $('Parsear y Preparar Update').item.json.SACYR }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Evaluation",
              "displayName": "Evaluation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "descripcion_item",
              "displayName": "descripcion_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TRESCA",
              "displayName": "TRESCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "EA",
              "displayName": "EA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "IDOM",
              "displayName": "IDOM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TECNICASREUNIDAS",
              "displayName": "TECNICASREUNIDAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SACYR",
              "displayName": "SACYR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SENER",
              "displayName": "SENER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "WORLEY",
              "displayName": "WORLEY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d40b62da-bf09-44d7-a2ea-cb4d74a5b28a",
      "name": "Update RFQ SACYR",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3920,
        256
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "EA": "={{ $('Parsear y Preparar Update').item.json.EA }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Evaluation",
              "displayName": "Evaluation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "descripcion_item",
              "displayName": "descripcion_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TRESCA",
              "displayName": "TRESCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "EA",
              "displayName": "EA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IDOM",
              "displayName": "IDOM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TECNICASREUNIDAS",
              "displayName": "TECNICASREUNIDAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SACYR",
              "displayName": "SACYR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SENER",
              "displayName": "SENER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "WORLEY",
              "displayName": "WORLEY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b44a5e82-0425-466e-93b0-58c56b93f590",
      "name": "Update RFQ EA",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3920,
        432
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SENER": "={{ $('Parsear y Preparar Update').item.json.SENER }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Evaluation",
              "displayName": "Evaluation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "descripcion_item",
              "displayName": "descripcion_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TRESCA",
              "displayName": "TRESCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "EA",
              "displayName": "EA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "IDOM",
              "displayName": "IDOM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TECNICASREUNIDAS",
              "displayName": "TECNICASREUNIDAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SACYR",
              "displayName": "SACYR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SENER",
              "displayName": "SENER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WORLEY",
              "displayName": "WORLEY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "95f72f7a-522d-47d3-be3a-253932e79928",
      "name": "Update RFQ SENER",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3920,
        624
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TRESCA": "={{ $('Parsear y Preparar Update').item.json.TRESCA }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Evaluation",
              "displayName": "Evaluation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "descripcion_item",
              "displayName": "descripcion_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TRESCA",
              "displayName": "TRESCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "EA",
              "displayName": "EA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "IDOM",
              "displayName": "IDOM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TECNICASREUNIDAS",
              "displayName": "TECNICASREUNIDAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SACYR",
              "displayName": "SACYR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SENER",
              "displayName": "SENER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "WORLEY",
              "displayName": "WORLEY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b1a5158b-4fe3-47e8-b35a-cc9a949bf9bf",
      "name": "Update RFQ TRESCA",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3920,
        816
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "WORLEY": "={{ $('Parsear y Preparar Update').item.json.WORLEY }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Evaluation",
              "displayName": "Evaluation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "descripcion_item",
              "displayName": "descripcion_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TRESCA",
              "displayName": "TRESCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "EA",
              "displayName": "EA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "IDOM",
              "displayName": "IDOM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TECNICASREUNIDAS",
              "displayName": "TECNICASREUNIDAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SACYR",
              "displayName": "SACYR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SENER",
              "displayName": "SENER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "WORLEY",
              "displayName": "WORLEY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "669455b3-45e0-4e6f-a59a-7a9a778cad9d",
      "name": "Update RFQ WORLEY",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3920,
        1024
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "title": "={{ $('Set File ID').item.json.file_title }}",
            "url": "={{ $('Set File ID').item.json.file_url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        560,
        976
      ],
      "id": "27360052-37ad-455d-b420-bc6ccf4b27e3",
      "name": "Insert Document Metadata",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "BNCttvQcKbXFj6nd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents_768",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "f1fad893-0e45-4b0c-a825-4eb7790342d7",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        976
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "XmXPiDCWkaOfYEXf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.body.file_id }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.body.file_title }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.body.file_url }}",
              "type": "string"
            },
            {
              "id": "b1dbe9b9-248a-4593-a769-a085b34e0810",
              "name": "file_binary",
              "value": "={{ $json.body.file_binary }}",
              "type": "string"
            },
            {
              "id": "74d93dce-cddc-4947-ae19-88bc5cacd146",
              "name": "file_metadata",
              "value": "={{ $json.body.metadata }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6145b728-2d0f-45b4-a0f1-d06138d440d3",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        976
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $json.metadata.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $json.metadata.file_title }}"
              },
              {
                "name": "tipo_evaluacion",
                "value": "={{ $json.metadata.tipo_evaluacion }}"
              },
              {
                "name": "proveedor",
                "value": "={{ $json.metadata.proveedor }}"
              }
            ]
          }
        }
      },
      "id": "17e3db1d-8ecd-458d-8c06-a63a2911e73e",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        3600,
        1232
      ]
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3504,
        1392
      ],
      "id": "30df5b77-1527-45a6-97d7-592bd9393167",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Evaluation",
              "keyValue": "={{ $json.tipo_evaluacion_actual }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        592,
        128
      ],
      "id": "a8dd1f14-ce35-4159-a933-bd338f4630c9",
      "name": "Get RFQ Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_768",
          "mode": "list",
          "cachedResultName": "documents_768"
        },
        "options": {
          "queryName": "match_documents_768"
        }
      },
      "id": "b4ce1254-a7dd-4b68-8cea-bd5f676cdc7b",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        3456,
        976
      ],
      "credentials": {
        "supabaseApi": {
          "id": "XmXPiDCWkaOfYEXf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Validar Contenido PDF (FIX PAGINACIÓN)\n// =============================================\n\nconst input = $input.first().json;\n\n// Variables de inicialización\nlet pages = [];\nlet totalChars = 0;\nlet hasTablesDetected = false;\n\n// --- 1. PROCESAMIENTO DEL TEXTO ---\n\n// CASO A: Viene desglosado por páginas (Array)\nif (input.pages && Array.isArray(input.pages) && input.pages.length > 0) {\n  pages = input.pages;\n  pages.forEach(page => {\n    const text = page.text || page.pageContent || \"\";\n    totalChars += text.length;\n    // Detección simple de tablas\n    if ((text.match(/\\s{4,}/g) || []).length > 5) hasTablesDetected = true;\n  });\n\n// CASO B: Viene todo el texto junto (String) - ESTE ES TU CASO ACTUAL\n} else if (input.text && typeof input.text === 'string') {\n  const text = input.text;\n  totalChars = text.length;\n  // Creamos una \"página única\" contenedora para no romper el flujo\n  pages = [{ text: text, pageNumber: 1 }];\n  \n  // Detectar tablas en el texto completo\n  if ((text.match(/\\s{4,}/g) || []).length > 20) hasTablesDetected = true;\n  \n} else {\n  // CASO C: Vacío\n  pages = [];\n}\n\n// --- 2. CÁLCULO DE PÁGINAS REALES (FIX CRÍTICO) ---\n\n// Intentamos leer el metadato 'numpages' que se ve en tu captura\nlet realPageCount = input.numpages || input.numPages || input.numberOfPages || 0;\n\n// Si no existe el metadato, usamos la longitud del array (fallback)\nif (!realPageCount || realPageCount === 0) {\n    realPageCount = pages.length;\n}\n\n// Si sigue siendo 1 pero el texto es enorme (>10k chars), estimamos\nif (realPageCount <= 1 && totalChars > 10000) {\n    // Estimación conservadora: 3000 caracteres por página técnica\n    realPageCount = Math.ceil(totalChars / 3000);\n}\n\n// Evitar división por cero\nrealPageCount = Math.max(1, realPageCount);\n\n\n// --- 3. MÉTRICAS FINALES ---\n\nconst avgCharsPerPage = totalChars / realPageCount;\n\n// CRITERIO: ¿Necesita OCR?\n// Si hay texto (< 100 chars/pag) es probable que sea escaneado.\nconst needsOCR = avgCharsPerPage < 100; \n\n// Metadatos\nlet fileId = \"unknown\";\nlet fileTitle = \"unknown\";\ntry {\n  const metaNode = $('Set File ID').first().json;\n  fileId = metaNode.file_id;\n  fileTitle = metaNode.file_title;\n} catch (e) {}\n\n// --- LOGGING ---\nconsole.log(`📄 Análisis: ${fileTitle}`);\nconsole.log(`   ├─ Páginas (Metadato): ${input.numpages}`); \nconsole.log(`   ├─ Páginas (Usadas): ${realPageCount}`);\nconsole.log(`   ├─ Caracteres Totales: ${totalChars}`);\nconsole.log(`   ├─ Promedio/Pág: ${Math.round(avgCharsPerPage)}`);\n\nreturn {\n  json: {\n    // Métricas corregidas\n    totalPages: realPageCount, // Ahora dirá 235\n    totalChars: totalChars,\n    avgCharsPerPage: Math.round(avgCharsPerPage), // Ahora será un número razonable (~2800)\n    hasTables: hasTablesDetected,\n    needsOCR: needsOCR,\n    \n    // Contenido\n    pages: pages, \n    \n    // Metadatos\n    fileId: fileId,\n    fileName: fileTitle\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        976
      ],
      "id": "f2c4ce9e-a7d1-46fe-9516-d5a004357616",
      "name": "Validar Contenido PDF"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1104,
        976
      ],
      "id": "963a201f-f148-4d1c-8c94-9a15b6161921",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "57b9c551-9997-4ed5-8ddd-f80c108a177c",
              "leftValue": "={{ $json.needsOCR }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1648,
        976
      ],
      "id": "c78ad214-5020-48fd-9206-bb9e0cb99fe4",
      "name": "¿Necesita OCR?"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Aggregate OCR Pages (CORREGIDO)\n// =============================================\n\nconst items = $input.all();\nlet fullText = \"\";\nlet pagesArray = [];\n\n// OPCIÓN A: Si Tesseract devuelve múltiples items (1 por página)\nif (items.length > 1) {\n  items.forEach((item, idx) => {\n    const pageText = item.json.text || \"\";\n    fullText += pageText + \"\\n\\n\";\n    \n    // Construimos array compatible con vectorstore\n    pagesArray.push({\n      text: pageText,\n      pageNumber: idx + 1\n    });\n  });\n}\n// OPCIÓN B: Si Tesseract devuelve un solo item con todo el texto\nelse if (items.length === 1) {\n  fullText = items[0].json.text || \"\";\n  pagesArray = [{\n    text: fullText,\n    pageNumber: 1\n  }];\n}\n\n// RECUPERAR METADATOS ORIGINALES (CRÍTICO)\nlet fileId, fileName, proveedor;\ntry {\n  fileId = $('Set File ID').first().json.file_id;\n  fileName = $('Set File ID').first().json.file_title;\n  proveedor = $('Identificar Proveedor').first().json.proveedor_detectado;\n} catch (e) {\n  console.error(\"⚠️ No se pudieron recuperar metadatos:\", e.message);\n  fileId = \"unknown\";\n  fileName = \"unknown\";\n  proveedor = \"OTROS\";\n}\n\nconsole.log(`🔄 OCR Agregado: ${items.length} páginas → ${fullText.length} caracteres`);\n\n// ESTRUCTURA COMPATIBLE CON VECTORSTORE\nreturn {\n  json: {\n    pages: pagesArray, // ← Array de páginas (requerido por Default Data Loader)\n    text: fullText, // ← Texto completo (backup)\n    \n    // Metadatos críticos\n    file_id: fileId,\n    file_title: fileName,\n    proveedor: proveedor,\n    \n    // Marca de origen\n    origen_datos: \"OCR_TESSERACT\",\n    ocr_pages_processed: items.length,\n    ocr_total_chars: fullText.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        864
      ],
      "id": "2bfbc0b1-b8f3-4c36-96e4-05264ce53586",
      "name": "Aggregate OCR Pages"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Format for Vectorstore (FINAL v2)\n// =============================================\n\n// 1. RECUPERAR CONTENIDO (Instrucción explícita)\n// Sacamos el texto y páginas directamente del nodo Merge1 como indicaste\nlet fullText = \"\";\nlet totalPages = 1;\n\ntry {\n    const mergeData = $('Merge1').first().json;\n    \n    // Ruta específica que pediste:\n    if (mergeData.pages && mergeData.pages[0]) {\n        fullText = mergeData.pages[0].text || \"\";\n    } else {\n        // Fallback por si acaso viene en 'text' directo\n        fullText = mergeData.text || \"\";\n    }\n    \n    // Número de páginas\n    totalPages = mergeData.totalPages || 1;\n    \n} catch (e) {\n    console.log(\"❌ Error leyendo de Merge1. Verifica que el nodo se llame exactamente 'Merge1'\");\n}\n\n// 2. RECUPERAR CLASIFICACIÓN (Del nodo LLM)\nlet proveedor = \"OTROS\";\nlet tipoEval = [\"Technical Evaluation\"];\n\ntry {\n    // Leemos la salida del clasificador\n    const llmData = $('Clasificador de Tipo de RFQ y Proveedor').first().json;\n    const output = llmData.output || llmData; // A veces está anidado\n\n    if (output.proveedor_detectado) proveedor = output.proveedor_detectado;\n    \n    if (output.tipos_detectados) {\n        tipoEval = Array.isArray(output.tipos_detectados) \n            ? output.tipos_detectados \n            : [output.tipos_detectados];\n    }\n} catch (e) {\n    console.log(\"⚠️ No se pudo leer la clasificación del LLM, usando defaults.\");\n}\n\n// 3. RECUPERAR METADATOS DEL ARCHIVO\nlet fileId = \"unknown\";\nlet fileTitle = \"unknown\";\ntry {\n    const fileNode = $('Set File ID').first().json;\n    fileId = fileNode.file_id;\n    fileTitle = fileNode.file_title;\n} catch(e) {}\n\n// 4. GENERAR SALIDA\nconsole.log(`✅ Procesando: ${fileTitle}`);\nconsole.log(`   Proveedor: ${proveedor}`);\nconsole.log(`   Tipos: ${JSON.stringify(tipoEval)}`);\n\nreturn {\n    json: {\n        text: fullText,\n        metadata: {\n            file_id: fileId,\n            file_title: fileTitle,\n            proveedor: proveedor,\n            tipo_evaluacion: tipoEval, // Se guarda como array [\"Technical\", \"Economical\"]\n            processed_at: new Date().toISOString(),\n            total_pages: totalPages\n        }\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        976
      ],
      "id": "d5c3fdb6-dd0e-4a2f-8bba-59379e142343",
      "name": "Format for Vectorstore"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Expandir por Tipo de Evaluación (RUTA FORZADA)\n// =============================================\n\n// 1. RECUPERAR DATOS (Mirando al nodo Format for Vectorstore)\nlet sourceData = {};\ntry {\n    // Usamos la ruta exacta que has validado\n    sourceData = $('Format for Vectorstore').first().json;\n} catch (e) {\n    console.log(\"❌ Error: No se encuentra el nodo 'Format for Vectorstore'\");\n    // Fallback de emergencia al input actual\n    sourceData = $input.first().json; \n}\n\n// 2. EXTRAER VARIABLES\nconst fullText = sourceData.text || \"⚠️ ERROR: Texto vacío\";\nconst metadata = sourceData.metadata || {};\n\n// 3. NORMALIZAR TIPOS (Lógica de seguridad)\nlet tipos = metadata.tipo_evaluacion;\n\n// Si no hay tipos, ponemos uno por defecto\nif (!tipos) {\n    tipos = [\"Technical Evaluation\"];\n}\n\n// Conversión robusta a Array\nif (!Array.isArray(tipos)) {\n    if (typeof tipos === 'string') {\n        // Limpiamos caracteres raros y corchetes si vienen como string \"[A, B]\"\n        const cleanString = tipos.replace(/[\\[\\]\"]/g, ''); \n        if (cleanString.includes(',')) {\n            tipos = cleanString.split(',').map(t => t.trim());\n        } else {\n            tipos = [cleanString.trim()];\n        }\n    } else {\n        tipos = [tipos];\n    }\n}\n\nconst proveedor = metadata.proveedor || \"OTROS\";\n\n// LOGGING\nconsole.log(`🔀 Procesando archivo: ${metadata.file_title}`);\nconsole.log(`   Fuente Texto: Format for Vectorstore`);\nconsole.log(`   Tamaño Texto: ${fullText.length}`);\nconsole.log(`   Tipos: ${JSON.stringify(tipos)}`);\n\n// 4. GENERAR SALIDA (EXPANSIÓN)\nreturn tipos.map((tipo, idx) => ({\n    json: {\n        // --- VARIABLES PARA EL FLUJO SIGUIENTE ---\n        tipo_evaluacion_actual: tipo, \n        proveedor_detectado: proveedor,\n        texto_oferta_completo: fullText, // Aquí va el texto recuperado de la fuente segura\n        \n        // --- METADATOS DE CONTROL ---\n        file_title: metadata.file_title,\n        file_id: metadata.file_id,\n        es_hibrido: tipos.length > 1,\n        indice_actual: idx + 1,\n        total_tipos: tipos.length\n    }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        272
      ],
      "id": "a3b64838-27d4-404a-91d2-e8721b1ad052",
      "name": "Expandir por Tipo de Evaluación"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        176,
        192
      ],
      "id": "c4f7f40c-2f22-4caf-ac27-a6cc73399522",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://docling:5001/v1/convert/file",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "91e0ffcb-9a52-4532-a897-797da7ad86d7",
      "name": "Docling OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2064,
        768
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"proveedor_detectado\": {\n      \"type\": \"string\",\n      \"description\": \"Nombre de la empresa proveedora (Ej: SACYR, IDOM, etc.)\"\n    },\n    \"tipos_detectados\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\",\n        \"enum\": [\n          \"Technical Evaluation\",\n          \"Economical Evaluation\",\n          \"Pre-FEED Deliverables\",\n          \"FEED Deliverables\"\n        ]\n      },\n      \"description\": \"Lista de tipos de oferta detectados en el documento.\"\n    },\n    \"razonamiento\": {\n      \"type\": \"string\",\n      \"description\": \"Breve explicación de por qué se eligieron esos tipos.\"\n    }\n  },\n  \"required\": [\n    \"proveedor_detectado\",\n    \"tipos_detectados\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2992,
        1200
      ],
      "id": "39f13e7f-c391-4b6d-bc33-655f9213ebcb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2480,
        976
      ],
      "id": "75cb303b-5228-4c65-a819-abdb82df8eaf",
      "name": "Merge1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### INPUT A ANALIZAR\nNombre archivo: {{ $json.fileName }}\nTexto (Inicio del documento): \n{{ $json.pages[0].text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=### TAREA: CLASIFICACIÓN ESTRICTA DE DOCUMENTO RFQ\n\nEres un auditor senior de documentación de ingeniería con criterios extremadamente conservadores.\n\n---\n\n## TAREA 1: DETECTAR Y NORMALIZAR PROVEEDOR\n\nBusca el nombre de la empresa en el texto o el nombre del archivo.\n\n| Texto encontrado (Variaciones) | VALOR OFICIAL (Output) |\n|--------------------------------|------------------------|\n| \"Técnicas Reunidas\", \"TR\", \"Initec\", \"Tecnicas Reunidas\" | TECNICASREUNIDAS |\n| \"Empresarios Agrupados\", \"EA\", \"GHESA\", \"E.A.\" | EA |\n| \"IDOM\", \"Idom Consulting\" | IDOM |\n| \"SACYR\", \"Sacyr Fluor\", \"Sacyr Industrial\" | SACYR |\n| \"SENER\", \"Sener Engineering\" | SENER |\n| \"TRESCA\", \"Tresca Ingenieria\" | TRESCA |\n| \"WORLEY\", \"Worley Parsons\" | WORLEY |\n| Cualquier otro o desconocido | OTROS |\n\n---\n\n## TAREA 2: CLASIFICAR TIPO DE OFERTA\n\n### REGLA DE ORO: \"SI NO ESTÁS 100% SEGURO, NO LO INCLUYAS\"\n\n---\n\n### 1. \"Economical Evaluation\" (Económica)\n\n**EVIDENCIA OBLIGATORIA (Todas deben cumplirse):**\n- DEBE contener tablas con columnas de precios explícitos\n- DEBE mostrar monedas (EUR, USD, $) o unidades de costo (EUR/hora, $/m³)\n- DEBE tener líneas individuales de precio por concepto\n\n**EXCLUSIONES AUTOMÁTICAS:**\n- Si solo menciona \"presupuesto estimado\" sin desglose → NO es económica\n- Si dice \"sujeto a cotización posterior\" → NO es económica\n- Si solo tiene subtotales sin detalle → NO es económica\n- Si solo describe alcance sin números con moneda → NO es económica\n\n**Ejemplo de evidencia válida:**ConceptoCantidadPrecio Unit.TotalIngeniería Básica145.000 EUR45.000€Ingeniero Senior200 h85 EUR/h17.000€\n\n---\n\n### 2. \"Technical Evaluation\" (Técnica)\n\n**EVIDENCIA VÁLIDA:**\n- Metodología de trabajo o procedimientos\n- Organigramas, organización del equipo\n- Descripción de alcance técnico (qué se hará y cómo)\n- Planificación, cronogramas, hitos\n- Especificaciones técnicas, normativas aplicables\n- Diagramas de proceso, P&IDs, esquemas\n\n**LO QUE NO ES TÉCNICA:**\n- Solo una lista de documentos a entregar → Probablemente sea Deliverables\n- Solo precios → Es Económica\n- Solo índice de documentos sin contenido técnico → No clasificar\n\n**Si encuentras:** Descripción de trabajo, enfoque metodológico, capacidades técnicas → SÍ es Technical\n\n---\n\n### 3. \"Pre-FEED Deliverables\" o \"FEED Deliverables\"\n\n**CRITERIO ULTRA-RESTRICTIVO**\n\n**SOLO clasifica como Deliverables si cumple TODOS estos criterios:**\n\n1. **DEBE contener una lista numerada o tabulada de documentos específicos a entregar**\n   - Ejemplos válidos:\n     - \"MDR-001 - Process Flow Diagram\"\n     - \"DOC-PRE-FEED-12 - Equipment List\"\n     - \"Plano de Situación - Rev. A\"\n\n2. **DEBE especificar códigos, revisiones o identificadores únicos de documentos**\n   - Válido: \"P&ID-100-A, rev. 0\"\n   - Inválido: \"Se entregarán los P&IDs necesarios\"\n\n3. **DEBE ser claramente un inventario/matriz de documentos (Document Register / MDR)**\n   - Si parece un índice de contenidos → NO\n   - Si describe qué contienen los documentos → NO\n   - Si solo menciona \"entregables\" genéricamente → NO\n\n**EXCLUSIONES CRÍTICAS:**\n- \"Se entregará documentación técnica completa\" → NO es Deliverables (es descripción genérica)\n- \"Incluye diseños de ingeniería, estudios, especificaciones\" → NO es Deliverables (es alcance técnico)\n- Listado de actividades o fases → NO es Deliverables (es planificación)\n- Descripción de metodología de documentación → NO es Deliverables\n\n**Diferenciación Pre-FEED vs FEED:**\n- **Pre-FEED Deliverables:** Documentos de estudios preliminares, conceptuales, viabilidad, alcances de orden de magnitud (+/- 30%)\n- **FEED Deliverables:** Documentos de ingeniería básica detallada, especificaciones de compra, estimados Clase III (+/- 15%)\n\n**Ejemplo de documento que SÍ es Deliverables:**MATRIZ DE ENTREGABLES - FASE FEEDCódigo DocTítuloRevFormatoFEED-P&ID-001P&ID General Process0DWGFEED-EL-100Equipment List - Main ProcessAXLSXFEED-PFD-01Process Flow Diagram0PDF\n\n**Ejemplo de documento que NO es Deliverables (es Technical):**\"La ingeniería de detalle incluirá:\n\nDiseño de sistemas de tuberías\nEspecificaciones de equipos\nCálculos estructurales\nPlanos de disposición general\nEstos documentos se desarrollarán según normativa ASME...\"\n→ Esto es descripción de alcance técnico, NO un listado de deliverables.\n\n---\n\n## REGLAS DE COMBINACIÓN\n\n**Combinaciones válidas:**\n- [\"Technical Evaluation\", \"Economical Evaluation\"] - Oferta técnico-económica completa\n- [\"Technical Evaluation\"] - Solo metodología y alcance\n- [\"Economical Evaluation\"] - Solo precios\n- [\"Pre-FEED Deliverables\"] o [\"FEED Deliverables\"] - Solo matriz de documentos\n- [\"Technical Evaluation\", \"FEED Deliverables\"] - Descripción técnica + lista formal de docs\n\n**Combinaciones sospechosas (verificar dos veces):**\n- Si dudas entre Technical y Deliverables → Es Technical (el 90% de las veces)\n- Si ves contenido técnico + lista genérica de \"entregables\" → Solo Technical\n- Solo marca Deliverables si ves códigos tipo \"DOC-FEED-001\" o tablas MDR\n\n**EN CASO DE DUDA:** Clasifica como [\"Technical Evaluation\"] únicamente.\n\n---\n\n## FORMATO DE SALIDA (JSON ÚNICO)\n```json{\n\"proveedor_detectado\": \"VALOR_OFICIAL\",\n\"tipos_detectados\": [\"Technical Evaluation\"],\n\"razonamiento\": \"Explica qué evidencia específica encontraste. Si NO clasificaste como Deliverables, indica por qué no cumplía los criterios ultra-restrictivos.\"\n}\n\n**REGLAS DE RAZONAMIENTO:**\n- Si clasificaste como Deliverables: Cita el código de documento o tabla MDR que viste\n- Si NO clasificaste como Deliverables: Explica qué elemento faltó (códigos de doc, matriz formal, etc.)\n- Si clasificaste como Economical: Menciona dónde viste precios con moneda\n- Si clasificaste como Technical: Indica qué tipo de contenido técnico predomina\n\n**EJEMPLOS DE RAZONAMIENTO:**\n\nCORRECTO:\n```json{\n\"razonamiento\": \"Clasificado como Technical únicamente. El documento describe metodología de trabajo, organigrama y alcance técnico (secciones 2-5). Aunque menciona 'documentación a entregar', no presenta matriz MDR ni códigos de documentos formales.\"\n}\n\nINCORRECTO:\n```json{\n\"razonamiento\": \"Es técnico y tiene deliverables.\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        2752,
        976
      ],
      "id": "62048283-9d62-43ff-8e37-7e9c2695013c",
      "name": "Clasificador de Tipo de RFQ y Proveedor"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => ({\n    json: {\n        ...item.json, // Mantiene todos los datos originales (incluido tipo_evaluacion)\n        \n        // Aquí está la corrección: Usamos dos puntos, no el igual.\n        reiniciar_bucle: true \n    }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        128
      ],
      "id": "8fe51e3e-ca88-406a-8f97-7b9c5c49f27a",
      "name": "Reset Items"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -1152,
        480
      ],
      "id": "e5a42e0c-b13e-4415-bdf1-9e48f62f1535",
      "name": "consultar_tabla_evaluacion1"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1840,
        416
      ],
      "id": "3ea7ce06-c9d4-4010-a4cb-41a1e33d9719",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "qDD6QT1T2s8YMdby",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2448,
        1200
      ],
      "id": "ef258e65-f35a-4cb3-80a2-da531e449490",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "qDD6QT1T2s8YMdby",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        3392,
        1200
      ],
      "id": "1802e81e-ce0d-4b77-8db4-4791551a7b52",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "Qy5SfLiSYwx3Okjy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        976,
        -80
      ],
      "id": "f042fc02-7796-4817-bda3-9e52fb391fba",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rfq",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        976
      ],
      "id": "3e04b1a2-cf00-4ce8-ad74-049dbdafb3f7",
      "name": "Webhook",
      "webhookId": "2a435cf4-d7c8-4148-8d9f-189c3b620e8f"
    },
    {
      "parameters": {
        "model": "devstral-latest",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        2656,
        1344
      ],
      "id": "1e6ec063-f26d-4cec-acef-be92d230f775",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "tYcsXUVtTWeJIEDg",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Convertir Base64 a Binary Data (CORREGIDO v3)\n// =============================================\n\n// LEER DIRECTAMENTE DEL NODO \"Set File ID\"\nlet inputData;\ntry {\n    inputData = $('Set File ID').first().json;\n} catch (e) {\n    throw new Error(\"❌ No se puede acceder al nodo 'Set File ID'\");\n}\n\nconst base64Data = inputData.file_binary;\n\n// --- VALIDACIÓN CRÍTICA ---\nif (!base64Data || base64Data === \"\") {\n    console.error(\"❌ ERROR: file_binary está vacío\");\n    console.error(\"Datos en 'Set File ID':\", Object.keys(inputData));\n    console.error(\"file_id:\", inputData.file_id);\n    console.error(\"file_title:\", inputData.file_title);\n    \n    throw new Error(\n        \"❌ CRÍTICO: 'file_binary' no existe en 'Set File ID'. \" +\n        \"Verifica la configuración del nodo.\"\n    );\n}\n\n// Validar que sea string\nif (typeof base64Data !== 'string') {\n    throw new Error(`❌ ERROR: 'file_binary' debe ser string, es ${typeof base64Data}`);\n}\n\n// Logging\nconsole.log(\"✅ file_binary recibido de 'Set File ID'\");\nconsole.log(`   ├─ Longitud: ${base64Data.length} caracteres`);\nconsole.log(`   ├─ Archivo: ${inputData.file_title}`);\n\n// Convertir base64 a binary\nlet binaryData;\ntry {\n    binaryData = Buffer.from(base64Data, 'base64');\n} catch (e) {\n    throw new Error(`❌ ERROR decodificando base64: ${e.message}`);\n}\n\n// Validar tamaño\nif (binaryData.length === 0) {\n    throw new Error(\"❌ ERROR: Archivo decodificado vacío (0 bytes)\");\n}\n\nconsole.log(`✅ Binary generado: ${binaryData.length} bytes`);\n\n// Retornar formato n8n\nreturn {\n    json: {\n        file_id: inputData.file_id,\n        file_title: inputData.file_title,\n        file_url: inputData.file_url || \"unknown\"\n    },\n    binary: {\n        data: {\n            data: binaryData.toString('base64'),\n            mimeType: 'application/pdf',\n            fileName: inputData.file_title || 'document.pdf',\n            fileSize: binaryData.length\n        }\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        976
      ],
      "id": "0e6cd2f3-c95b-4b82-97b7-ea46496409f9",
      "name": "Base64 a Binary"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Convertir Base64 a Binary Data (CORREGIDO v3)\n// =============================================\n\n// LEER DIRECTAMENTE DEL NODO \"Set File ID\"\nlet inputData;\ntry {\n    inputData = $('Set File ID').first().json;\n} catch (e) {\n    throw new Error(\"❌ No se puede acceder al nodo 'Set File ID'\");\n}\n\nconst base64Data = inputData.file_binary;\n\n// --- VALIDACIÓN CRÍTICA ---\nif (!base64Data || base64Data === \"\") {\n    console.error(\"❌ ERROR: file_binary está vacío\");\n    console.error(\"Datos en 'Set File ID':\", Object.keys(inputData));\n    console.error(\"file_id:\", inputData.file_id);\n    console.error(\"file_title:\", inputData.file_title);\n    \n    throw new Error(\n        \"❌ CRÍTICO: 'file_binary' no existe en 'Set File ID'. \" +\n        \"Verifica la configuración del nodo.\"\n    );\n}\n\n// Validar que sea string\nif (typeof base64Data !== 'string') {\n    throw new Error(`❌ ERROR: 'file_binary' debe ser string, es ${typeof base64Data}`);\n}\n\n// Logging\nconsole.log(\"✅ file_binary recibido de 'Set File ID'\");\nconsole.log(`   ├─ Longitud: ${base64Data.length} caracteres`);\nconsole.log(`   ├─ Archivo: ${inputData.file_title}`);\n\n// Convertir base64 a binary\nlet binaryData;\ntry {\n    binaryData = Buffer.from(base64Data, 'base64');\n} catch (e) {\n    throw new Error(`❌ ERROR decodificando base64: ${e.message}`);\n}\n\n// Validar tamaño\nif (binaryData.length === 0) {\n    throw new Error(\"❌ ERROR: Archivo decodificado vacío (0 bytes)\");\n}\n\nconsole.log(`✅ Binary generado: ${binaryData.length} bytes`);\n\n// Retornar formato n8n\nreturn {\n    json: {\n        file_id: inputData.file_id,\n        file_title: inputData.file_title,\n        file_url: inputData.file_url || \"unknown\"\n    },\n    binary: {\n        data: {\n            data: binaryData.toString('base64'),\n            mimeType: 'application/pdf',\n            fileName: inputData.file_title || 'document.pdf',\n            fileSize: binaryData.length\n        }\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        864
      ],
      "id": "bbe625fd-ab66-4cbc-a005-d5a95b186177",
      "name": "Base64 a Binary1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        736,
        -80
      ],
      "id": "3bbc9a14-98a9-4251-9436-425dba269df6",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "jsCode": "// Esto borra cualquier dato residual del loop y dispara el siguiente nodo 1 sola vez\nreturn [{}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -80
      ],
      "id": "37126183-8fab-420f-ad9b-2e8f4d3ea325",
      "name": "Reset de valores"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1152,
        256
      ],
      "id": "77dfb839-2e41-49ca-bc8d-b3a3a3d90b96",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Generate Stable ID (SIN CRYPTO MODULE)\n// =============================================\n\n// Función hash simple (no requiere módulos externos)\nfunction simpleHash(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash; // Convertir a 32bit integer\n  }\n  // Convertir a hex positivo de 16 caracteres\n  return Math.abs(hash).toString(16).padStart(16, '0').substring(0, 16);\n}\n\n// 1. EXTRAER DATOS DEL WEBHOOK\nconst body = $json.body;\n\nconst originalFileId = body.file_id || \"unknown\";\nconst fileTitle = body.file_title || \"unknown.pdf\";\nconst fileBinary = body.file_binary || \"\";\n\n// 2. GENERAR ID ESTABLE (HASH DEL NOMBRE DEL ARCHIVO)\n// Normalizamos el nombre: lowercase y sin espacios extras\nconst normalizedTitle = fileTitle.toLowerCase().trim();\nconst stableId = simpleHash(normalizedTitle);\n\n// 3. LOGS PARA DEBUG\nconsole.log(\"=== GENERACIÓN DE ID ESTABLE ===\");\nconsole.log(`Original ID: ${originalFileId}`);\nconsole.log(`Nombre archivo: ${fileTitle}`);\nconsole.log(`Nombre normalizado: ${normalizedTitle}`);\nconsole.log(`ID ESTABLE generado: ${stableId}`);\nconsole.log(`Tamaño binary: ${fileBinary ? fileBinary.length : 0} caracteres`);\n\n// 4. RETORNAR BODY CON ID ESTABLE\nreturn {\n  json: {\n    body: {\n      ...body,\n      file_id: stableId,\n      file_id_original: originalFileId\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        976
      ],
      "id": "4ffe81b3-6ec8-4ae1-8d14-a93574f27ba1",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-ofertas",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2304,
        352
      ],
      "id": "5196183a-3381-4f95-96cd-50946ae8261f",
      "name": "Webhook1",
      "webhookId": "014a6be2-a8d5-4dd3-85f2-ea5e7d0ba092"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get File Contents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Document Rows": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "consultar_ofertas",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "consultar_ofertas": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parsear y Preparar Update": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Chain": {
      "main": [
        [
          {
            "node": "Parsear y Preparar Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update RFQ TR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update RFQ IDOM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update RFQ SACYR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update RFQ EA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update RFQ SENER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update RFQ TRESCA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update RFQ WORLEY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update RFQ TR": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update RFQ IDOM": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Update RFQ SACYR": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Update RFQ EA": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Update RFQ SENER": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Update RFQ TRESCA": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Update RFQ WORLEY": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Insert Document Metadata": {
      "main": [
        [
          {
            "node": "Base64 a Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Insert Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Get RFQ Items": {
      "main": [
        [
          {
            "node": "Reset Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore": {
      "main": [
        [
          {
            "node": "Expandir por Tipo de Evaluación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Contenido PDF": {
      "main": [
        [
          {
            "node": "¿Necesita OCR?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Validar Contenido PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Necesita OCR?": {
      "main": [
        [
          {
            "node": "Base64 a Binary1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate OCR Pages": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Vectorstore": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expandir por Tipo de Evaluación": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Reset de valores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get RFQ Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docling OCR": {
      "main": [
        [
          {
            "node": "Aggregate OCR Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Clasificador de Tipo de RFQ y Proveedor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Clasificador de Tipo de RFQ y Proveedor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificador de Tipo de RFQ y Proveedor": {
      "main": [
        [
          {
            "node": "Format for Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_tabla_evaluacion1": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        []
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Clasificador de Tipo de RFQ y Proveedor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Base64 a Binary": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 a Binary1": {
      "main": [
        [
          {
            "node": "Docling OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset de valores": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "26b198bf-02a3-452b-a943-bbeb6b60fb30",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1fc4900212c9d62621a09257b15453fd8c3a567221719830af6b072b6c697fd7"
  },
  "id": "PtzkfzsBQ4gGFpv2",
  "tags": []
}