front-rfq/RFQ-multiples ofertas v4.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingesta-rfq",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        2224
      ],
      "id": "38418f63-f5d4-41d7-ad45-34fabd62fc16",
      "name": "Webhook RFQ",
      "webhookId": "bb2ad58d-9bf2-42b0-a26f-5a465c3b0999"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Format RFQ - Extracción Segura de Imágenes\n// =============================================\n\n// 1. OBTENER EL CONTENIDO\n// Accedemos de forma segura a la variable que indicaste\nconst inputData = $input.first().json;\nlet content = \"\";\n\nif (inputData.document && inputData.document.md_content) {\n    content = inputData.document.md_content;\n} else {\n    // Fallback por seguridad si no existe la ruta\n    content = inputData.text || \"\";\n}\n\n// 2. FUNCIÓN DE LIMPIEZA QUIRÚRGICA\nfunction extractImagesSafely(text) {\n    if (!text) return { cleanText: \"\", images: [] };\n\n    const imagesFound = [];\n    \n    // EXPLICACIÓN DEL REGEX:\n    // !\\[(.*?)\\]   -> Captura el texto alternativo (ej: \"Figura 1\") en el grupo 1. Es \"lazy\" (.*?) para no comerse texto de más.\n    // \\(           -> Paréntesis de apertura literal.\n    // (data:image\\/[^;]+;base64,[^)]+) -> Captura la data Base64 en el grupo 2.\n    //    [^)]+     -> Significa \"todo lo que no sea un paréntesis de cierre\". Esto evita que se rompa si hay paréntesis dentro del base64 (raro pero posible) y asegura que pare al final de la URL.\n    // \\)           -> Paréntesis de cierre literal.\n    // g            -> Global (buscar todas).\n    \n    const regex = /!\\[(.*?)\\]\\((data:image\\/[^;]+;base64,[^)]+)\\)/g;\n\n    const cleanText = text.replace(regex, (match, altText, base64Data) => {\n        // 1. Guardamos la imagen en el array aparte\n        imagesFound.push({\n            alt: altText || \"Sin descripción\",\n            data: base64Data\n        });\n\n        // 2. RETORNAMOS EL PLACEHOLDER (CRÍTICO PARA NO DESCOLOCAR)\n        // Mantenemos el 'altText' para que el LLM sepa qué había ahí.\n        // Si la imagen estaba dentro de una tabla |...|, esto mantiene la celda ocupada y no rompe la tabla.\n        return ``; \n    });\n\n    return { cleanText, images: imagesFound };\n}\n\n// 3. EJECUTAR\nconst { cleanText, images } = extractImagesSafely(content);\n\n// 4. RECUPERAR METADATOS (Mantenemos tu lógica existente)\nlet fileMeta = { id: \"unknown\", title: \"unknown\" };\ntry {\n    const f = $('Set File ID2').first().json;\n    fileMeta = { id: f.file_id, title: f.file_title };\n} catch(e) {}\n\nlet tipoEval = [\"Technical Evaluation\"];\ntry {\n    const t = $('Clasificador Tipo RFQ').first().json;\n    const out = t.output || t;\n    if (out.tipos_detectados) tipoEval = Array.isArray(out.tipos_detectados) ? out.tipos_detectados : [out.tipos_detectados];\n} catch(e) {}\n\n// 5. OUTPUT\nreturn {\n    json: {\n        text: cleanText,             // El texto mantiene su estructura original\n        images_extracted: images,    // Array de objetos { alt, data }\n        metadata: {\n            file_id: fileMeta.id,\n            file_title: fileMeta.title,\n            tipo_documento: \"RFQ_BASE\",\n            tipo_evaluacion: tipoEval,\n            processed_at: new Date().toISOString(),\n            original_length: content.length,\n            clean_length: cleanText.length,\n            images_count: images.length\n        }\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        2224
      ],
      "id": "16fe6136-46a2-4c4c-a087-c55fbed16eb7",
      "name": "Validar Contenido PDF RFQ"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Convertir Base64 a Binary Data\n// =============================================\n\nlet inputData;\ntry {\n    inputData = $('Set File ID2').first().json;\n} catch (e) {\n    throw new Error(\"❌ No se puede acceder al nodo 'Set File ID1'\");\n}\n\nconst base64Data = inputData.file_binary;\n\nif (!base64Data || base64Data === \"\") {\n    throw new Error(\"❌ CRÍTICO: 'file_binary' no existe en 'Set File ID1'.\");\n}\n\nif (typeof base64Data !== 'string') {\n    throw new Error(`❌ ERROR: 'file_binary' debe ser string, es ${typeof base64Data}`);\n}\n\nconsole.log(\"✅ file_binary recibido\");\nconsole.log(`   ├─ Longitud: ${base64Data.length} caracteres`);\nconsole.log(`   ├─ Archivo: ${inputData.file_title}`);\n\nlet binaryData;\ntry {\n    binaryData = Buffer.from(base64Data, 'base64');\n} catch (e) {\n    throw new Error(`❌ ERROR decodificando base64: ${e.message}`);\n}\n\nif (binaryData.length === 0) {\n    throw new Error(\"❌ ERROR: Archivo decodificado vacío (0 bytes)\");\n}\n\nconsole.log(`✅ Binary generado: ${binaryData.length} bytes`);\n\nreturn {\n    json: {\n        file_id: inputData.file_id,\n        file_title: inputData.file_title,\n        file_url: inputData.file_url || \"unknown\"\n    },\n    binary: {\n        data: {\n            data: binaryData.toString('base64'),\n            mimeType: 'application/pdf',\n            fileName: inputData.file_title || 'document.pdf',\n            fileSize: binaryData.length\n        }\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        2224
      ],
      "id": "0ace77b5-78d1-4fa1-869c-a5fcfae4e40f",
      "name": "Base64 a Binary RFQ"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Generate Stable ID para RFQ\n// =============================================\n\nfunction simpleHash(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return 'rfq_' + Math.abs(hash).toString(16).padStart(16, '0').substring(0, 16);\n}\n\nconst body = $json.body;\n\nconst originalFileId = body.file_id || \"unknown\";\nconst fileTitle = body.file_title || \"unknown.pdf\";\nconst fileBinary = body.file_binary || \"\";\n\nconst normalizedTitle = fileTitle.toLowerCase().trim();\nconst stableId = simpleHash(normalizedTitle);\n\nconsole.log(\"=== GENERACIÓN DE ID ESTABLE RFQ ===\");\nconsole.log(`Nombre archivo: ${fileTitle}`);\nconsole.log(`ID ESTABLE generado: ${stableId}`);\n\nreturn {\n  json: {\n    body: {\n      ...body,\n      file_id: stableId,\n      file_id_original: originalFileId\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        2224
      ],
      "id": "da7e6683-eddc-4646-8e5c-0a36917e63fa",
      "name": "Generate Stable ID RFQ"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://docling:5001/v1/convert/file",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "f6f436a1-80aa-4259-9a4b-42d75104f2db",
      "name": "Docling OCR RFQ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        2032
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $json.metadata.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $json.metadata.file_title }}"
              },
              {
                "name": "tipo_documento",
                "value": "RFQ_BASE"
              },
              {
                "name": "tipo_evaluacion",
                "value": "={{ $json.metadata.tipo_evaluacion }}"
              }
            ]
          }
        }
      },
      "id": "cc4bfae8-4058-4a80-b288-1c7d00c8d8e2",
      "name": "Default Data Loader RFQ",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2048,
        2448
      ]
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 200,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2128,
        2656
      ],
      "id": "7c3a0c8f-0ec7-4b62-9693-31b8575cb9a0",
      "name": "Text Splitter RFQ"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_rfq",
          "mode": "list",
          "cachedResultName": "documents_rfq"
        },
        "options": {
          "queryName": "match_documents_rfq"
        }
      },
      "id": "5fb66338-7a3a-44f4-af40-7c189cbbf88c",
      "name": "Insert RFQ Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1952,
        2224
      ],
      "credentials": {
        "supabaseApi": {
          "id": "XmXPiDCWkaOfYEXf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Format RFQ for Vectorstore\n// =============================================\n\nlet fullText = \"\";\nlet totalPages = 1;\n\ntry {\n    const validarNode = $('Validar Contenido PDF RFQ').first().json;\n    \n    if (validarNode.pages && validarNode.pages[0]) {\n        fullText = validarNode.pages[0].text || \"\";\n    } else {\n        fullText = validarNode.text || \"\";\n    }\n    \n    totalPages = validarNode.totalPages || 1;\n    \n} catch (e) {\n    console.log(\"❌ Error leyendo contenido del PDF\");\n    fullText = $input.first().json.text || \"\";\n}\n\nlet tipoEval = [\"Technical Evaluation\"];\n\ntry {\n    const llmData = $('Clasificador Tipo RFQ').first().json;\n    const output = llmData.output || llmData;\n\n    if (output.tipos_detectados) {\n        tipoEval = Array.isArray(output.tipos_detectados) \n            ? output.tipos_detectados \n            : [output.tipos_detectados];\n    }\n} catch (e) {\n    console.log(\"⚠️ No se pudo leer la clasificación del LLM, usando defaults.\");\n}\n\nlet fileId = \"unknown\";\nlet fileTitle = \"unknown\";\ntry {\n    const fileNode = $('Set File ID2').first().json;\n    fileId = fileNode.file_id;\n    fileTitle = fileNode.file_title;\n} catch(e) {}\n\nconsole.log(`✅ Procesando RFQ: ${fileTitle}`);\nconsole.log(`   Tipos: ${JSON.stringify(tipoEval)}`);\n\nreturn {\n    json: {\n        text: fullText,\n        metadata: {\n            file_id: fileId,\n            file_title: fileTitle,\n            tipo_documento: \"RFQ_BASE\",\n            tipo_evaluacion: tipoEval,\n            processed_at: new Date().toISOString(),\n            total_pages: totalPages\n        }\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        2224
      ],
      "id": "f4a6c473-0b01-4c97-8075-627409505e38",
      "name": "Format RFQ for Vectorstore"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1840,
        2448
      ],
      "id": "88634bdf-86f1-4bec-9b7f-8d08cb6b01f8",
      "name": "Embeddings Ollama RFQ",
      "credentials": {
        "ollamaApi": {
          "id": "Qy5SfLiSYwx3Okjy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {
          "reset": "={{ $json.reiniciar_bucle ? true : false }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3312,
        2304
      ],
      "id": "2a3b62f8-8ca0-4929-bdea-13b72a570c33",
      "name": "Loop Over Items RFQ"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Preparar Items para Extracción RFQ\n// =============================================\n\nconst items = $input.all();\n\nconst listaParaLLM = items.map(i => ({\n    id: i.json.id,\n    descripcion_item: i.json.descripcion_item,\n    fase: i.json.fase,\n    tipo_evaluacion: i.json.Evaluation\n}));\n\nreturn {\n    json: {\n        lista_items_json: JSON.stringify(listaParaLLM),\n        batch_size: items.length\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        2176
      ],
      "id": "34cd7ad5-4eb2-433a-a807-d494bbcc9376",
      "name": "Preparar Items para LLM"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Parsear Requisitos RFQ y Preparar Update\n// =============================================\n\nconst llmOutput = $input.first().json.text || $input.first().json.content || \"[]\";\nlet parsedData = [];\n\ntry {\n  let cleanOutput = llmOutput\n    .replace(/```json/gi, '')\n    .replace(/```/g, '')\n    .trim();\n  \n  const firstBracket = cleanOutput.indexOf('[');\n  const lastBracket = cleanOutput.lastIndexOf(']');\n  \n  if (firstBracket !== -1 && lastBracket !== -1) {\n    const jsonString = cleanOutput.substring(firstBracket, lastBracket + 1);\n    parsedData = JSON.parse(jsonString);\n  }\n} catch (e) {\n  console.log(\"⚠️ Error parseando JSON del LLM:\", e.message);\n}\n\nlet originalItems = [];\ntry {\n    originalItems = JSON.parse($('Preparar Items para LLM').first().json.lista_items_json);\n} catch (e) {\n    throw new Error(\"No se pudo recuperar la lista original de ítems\");\n}\n\nconsole.log(`📋 Procesando ${originalItems.length} ítems`);\nconsole.log(`📋 LLM devolvió ${parsedData.length} ítems`);\n\nreturn originalItems.map(originalItem => {\n    const found = parsedData.find(p => p.id === originalItem.id);\n    \n    let rfqRequisito = \"NO ESPECIFICADO EN RFQ\";\n    \n    if (found && found.rfq_requisito) {\n        rfqRequisito = found.rfq_requisito;\n        \n        if (found.referencia) {\n            rfqRequisito += ` | Ref: ${found.referencia}`;\n        }\n    }\n\n    return {\n        json: {\n            id: originalItem.id,\n            rfq_requisito: rfqRequisito\n        }\n    };\n});"
      },
      "id": "80c3c567-9442-4e68-b21f-b50eac241151",
      "name": "Parsear Requisitos RFQ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4112,
        2176
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### CONTEXTO DEL DOCUMENTO RFQ\n\nTipo de Evaluación: {{ $('Expandir por Tipo RFQ').first().json.tipo_evaluacion_actual }}\n\nTexto del documento RFQ:\n{{ $('Expandir por Tipo RFQ').first().json.texto_rfq_completo }}\n\n---\n### ITEMS PARA EXTRAER REQUISITOS:\n{{ $json.lista_items_json }}\n",
        "messages": {
          "messageValues": [
            {
              "message": "=# ERES UN EXTRACTOR DE REQUISITOS DE RFQ (Request for Quotation)\n\n## TU OBJETIVO\nAnalizar el documento RFQ y extraer los REQUISITOS ESPECÍFICOS que el cliente solicita para cada ítem.\nEstos requisitos serán usados posteriormente para comparar contra las ofertas de proveedores.\nDebes responder siempre en castellano.\n\n---\n\n## MODOS DE EXTRACCIÓN\n\nDebes elegir UN SOLO MODO basado en la variable \"tipo_evaluacion_actual\". \n\n---\n\n### MODO A: REQUISITOS ECONÓMICOS\n**CONDICIÓN:** tipo_evaluacion_actual = \"Economical Evaluation\"\n\n**EXTRAER para cada ítem:**\n1. Unidad de medida requerida (horas, m², kg, lump sum, etc.)\n2. Cantidad estimada (si se especifica)\n3. Formato de cotización esperado (precio unitario, precio global, tarifa horaria)\n4. Condiciones comerciales (términos de pago, garantías, penalizaciones)\n5. Moneda requerida (EUR, USD, etc.)\n\n**FORMATO de rfq_requisito:**\n\"[Unidad]: [Cantidad si aplica] | Formato: [Tipo de cotización] | Condiciones: [Especiales]\"\n\n**Ejemplos:**\n- \"Lump Sum | Desglosar por fase Pre-FEED/FEED | Incluir backup horas-hombre | Moneda: EUR\"\n- \"Tarifa horaria | Categorías: Ing. Senior, Ing. Junior, Técnico | Mínimo 500 horas\"\n- \"Precio unitario por m² | Cantidad estimada: 15.000 m² | Incluir transporte\"\n\n---\n\n### MODO B: REQUISITOS TÉCNICOS\n**CONDICIÓN:** tipo_evaluacion_actual = \"Technical Evaluation\"\n\n**EXTRAER para cada ítem:**\n1. Especificaciones técnicas mínimas exigidas\n2. Normativas aplicables (ASME, API, ISO, UNE, etc.)\n3. Criterios de aceptación\n4. Metodología requerida\n5. Exclusiones explícitas mencionadas\n\n**FORMATO de rfq_requisito:**\n\"[Especificación técnica] | Norma: [Normativas] | Criterio: [Aceptación] | Método: [Si aplica]\"\n\n**Ejemplos:**\n- \"Diámetros 2\"-24\", P&IDs completos, isométricos | Norma: ASME B31.3, API 570 | Criterio: Aprobación cliente antes de fabricación\"\n- \"Análisis sísmico zona 4, factor importancia 1.5 | Norma: NCSE-02, Eurocódigo 8 | Criterio: Drift máximo 0.5%\"\n- \"Estudio geotécnico con 10 sondeos SPT mínimo | Norma: UNE-EN ISO 22476 | Profundidad: 30m mínimo\"\n\n---\n\n### MODO C: REQUISITOS DE DELIVERABLES (Pre-FEED / FEED)\n**CONDICIÓN:** tipo_evaluacion_actual IN (\"Pre-FEED Deliverables\", \"FEED Deliverables\")\n\n**EXTRAER para cada ítem:**\n1. Código de documento esperado (si existe en RFQ)\n2. Formato de entrega exigido (PDF, DWG, nativos, etc.)\n3. Nivel de detalle esperado\n4. Número de revisiones incluidas\n5. Plazo de entrega (si se especifica)\n\n**FORMATO de rfq_requisito:**\n\"Código: [Si existe] | Formato: [Tipos] | Detalle: [Nivel] | Revisiones: [Cantidad] | Plazo: [Semanas/Días]\"\n\n**Ejemplos:**\n- \"Código: PID-XXX | Formato: DWG + PDF firmado | Detalle: Para construcción | Revisiones: 3 incluidas | Plazo: Semana 8\"\n- \"Formato: Excel nativo + PDF | Detalle: Nivel AFE (-15%) | Revisiones: 2 incluidas\"\n- \"Código: MDR-FEED-001 | Formato: PDF controlado | Actualización: Semanal\"\n\n---\n\n## REGLAS DE EXTRACCIÓN\n\n### SI EL REQUISITO EXISTE EN LA RFQ:\n- Extrae TODA la información relevante\n- Sé específico con números, normas y condiciones\n- Incluye la referencia: \"Ref: Sección X, Pág Y, Tabla Z\"\n\n### SI EL ÍTEM APARECE PERO SIN REQUISITOS ESPECÍFICOS:\n- rfq_requisito: \"MENCIONADO SIN ESPECIFICACIÓN - [Contexto donde aparece]\"\n\n### SI EL ÍTEM NO ESTÁ EN LA RFQ:\n- rfq_requisito: \"NO ESPECIFICADO EN RFQ\"\n- NO inventes requisitos\n\n### SI LA INFORMACIÓN ES PARCIAL:\n- Extrae lo disponible\n- Indica qué falta: \"Pendiente definir: [aspecto]\"\n\n---\n\n## PROTOCOLO ANTI-ALUCINACIÓN\n\nANTES de escribir cualquier requisito, verifica:\n1. ¿Veo este texto EXACTO en el documento RFQ?\n2. ¿Puedo citar la frase original?\n3. ¿El requisito está claramente asociado a este ítem?\n\n**SI LA RESPUESTA ES NO A CUALQUIERA:** Usar \"NO ESPECIFICADO EN RFQ\"\n\n**NUNCA:**\n- Inventar normativas que no aparezcan\n- Asumir cantidades no especificadas\n- Inferir requisitos de ítems similares\n- Copiar requisitos genéricos si no están explícitos\n\n---\n\n## FORMATO DE SALIDA (JSON)\n\n```json\n[\n  {\n    \"id\": 101,\n    \"rfq_requisito\": \"Lump Sum | Desglosar Pre-FEED y FEED | Backup horas-hombre obligatorio | Moneda: EUR\",\n    \"referencia\": \"Sección 4.2, Tabla de Precios, Pág 15\"\n  },\n  {\n    \"id\": 102,\n    \"rfq_requisito\": \"NO ESPECIFICADO EN RFQ\",\n    \"referencia\": null\n  },\n  {\n    \"id\": 103,\n    \"rfq_requisito\": \"MENCIONADO SIN ESPECIFICACIÓN - Aparece en alcance general sin detalle\",\n    \"referencia\": \"Sección 2.1, Pág 8\"\n  }\n]\n```\n\n---\n\n## REGLA ABSOLUTA: PROCESAR TODOS LOS ÍTEMS\n\n**CRÍTICO:** El JSON de salida DEBE contener EXACTAMENTE el mismo número de ítems que recibiste.\n\n**VERIFICACIÓN FINAL:**\n1. Cuenta ítems de entrada\n2. Cuenta ítems de salida\n3. Si no coinciden → REVISA y completa\n\n---\n\n## INSTRUCCIONES DE EJECUCIÓN\n\n1. LEE el documento RFQ completo\n2. IDENTIFICA el modo (Económico, Técnico, Deliverables)\n3. Para CADA ítem:\n   a. BUSCA menciones en el texto\n   b. EXTRAE requisitos específicos si existen\n   c. APLICA el protocolo anti-alucinación\n   d. NUNCA omitas el ítem del JSON\n4. VERIFICA que el conteo de salida coincida con entrada\n5. FORMATEA como JSON válido\n\n**IMPORTANTE:** Estos requisitos se usarán para evaluar ofertas de proveedores. La precisión es CRÍTICA. Es mejor decir \"NO ESPECIFICADO\" que inventar."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        3760,
        2176
      ],
      "id": "eb661d86-8ddd-415b-91bb-3dc4b7f7284a",
      "name": "LLM Extractor Requisitos RFQ"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Evaluation",
              "keyValue": "={{ $json.tipo_evaluacion_actual }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2864,
        2224
      ],
      "id": "02169b3c-5745-47d6-a6eb-32a154ab710c",
      "name": "Get Items por Tipo"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Expandir por Tipo de Evaluación RFQ\n// =============================================\n\nlet sourceData = {};\ntry {\n    sourceData = $('Format RFQ for Vectorstore').first().json;\n} catch (e) {\n    console.log(\"❌ Error: No se encuentra 'Format RFQ for Vectorstore'\");\n    sourceData = $input.first().json; \n}\n\nconst fullText = sourceData.text || \"⚠️ ERROR: Texto vacío\";\nconst metadata = sourceData.metadata || {};\n\nlet tipos = metadata.tipo_evaluacion;\n\nif (!tipos) {\n    tipos = [\"Technical Evaluation\"];\n}\n\nif (!Array.isArray(tipos)) {\n    if (typeof tipos === 'string') {\n        const cleanString = tipos.replace(/[\\[\\]\"]/g, ''); \n        if (cleanString.includes(',')) {\n            tipos = cleanString.split(',').map(t => t.trim());\n        } else {\n            tipos = [cleanString.trim()];\n        }\n    } else {\n        tipos = [tipos];\n    }\n}\n\nconsole.log(`🔀 Procesando RFQ: ${metadata.file_title}`);\nconsole.log(`   Tipos detectados: ${JSON.stringify(tipos)}`);\n\nreturn tipos.map((tipo, idx) => ({\n    json: {\n        tipo_evaluacion_actual: tipo, \n        texto_rfq_completo: fullText,\n        file_title: metadata.file_title,\n        file_id: metadata.file_id,\n        es_hibrido: tipos.length > 1,\n        indice_actual: idx + 1,\n        total_tipos: tipos.length\n    }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        2224
      ],
      "id": "0f796b60-8354-45b0-bdce-44cca0e2eb7b",
      "name": "Expandir por Tipo RFQ"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2640,
        2224
      ],
      "id": "9bf3fcce-6857-4eaa-b1a8-4ecf8e07d43a",
      "name": "Loop Tipos RFQ"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => ({\n    json: {\n        ...item.json,\n        reiniciar_bucle: true \n    }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        2224
      ],
      "id": "11482730-2e44-44ba-825e-07a0bf311e8c",
      "name": "Reset Items RFQ"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3904,
        2336
      ],
      "id": "7f3feb3e-a460-48bb-9400-2904cd6ced13",
      "name": "OpenRouter Chat Model RFQ",
      "credentials": {
        "openRouterApi": {
          "id": "qDD6QT1T2s8YMdby",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "rfq_requisito": "={{ $json.rfq_requisito }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Evaluation",
              "displayName": "Evaluation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "descripcion_item",
              "displayName": "descripcion_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "rfq_requisito",
              "displayName": "rfq_requisito",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IDOM",
              "displayName": "IDOM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TECNICASREUNIDAS",
              "displayName": "TECNICASREUNIDAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SACYR",
              "displayName": "SACYR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "EA",
              "displayName": "EA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SENER",
              "displayName": "SENER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TRESCA",
              "displayName": "TRESCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "WORLEY",
              "displayName": "WORLEY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4336,
        2304
      ],
      "id": "194274ac-5a31-40bc-a0cc-303f557d6cc2",
      "name": "Update rfq_requisito"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"tipos_detectados\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\",\n        \"enum\": [\n          \"Technical Evaluation\",\n          \"Economical Evaluation\",\n          \"Pre-FEED Deliverables\",\n          \"FEED Deliverables\"\n        ]\n      },\n      \"description\": \"Lista de tipos de evaluación detectados en el documento RFQ.\"\n    },\n    \"razonamiento\": {\n      \"type\": \"string\",\n      \"description\": \"Breve explicación de por qué se eligieron esos tipos.\"\n    }\n  },\n  \"required\": [\n    \"tipos_detectados\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1520,
        2448
      ],
      "id": "461e9a45-2230-42b7-901f-8be470166e8d",
      "name": "Structured Output Parser RFQ"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### INPUT A ANALIZAR\nNombre archivo: {{ $json.fileName }}{{ $json.metadata.file_title }}\nTexto (Inicio del documento): \n{{ $json.pages[0].text }}{{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=### TAREA: CLASIFICACIÓN DE DOCUMENTO RFQ BASE\n\nEres un auditor senior de documentación de ingeniería.\nEste documento es una RFQ (Request for Quotation) emitida por el CLIENTE.\nPara clasificar, es muy importante fijarse en el titulo del archivo y en las primeras lineas.\n\n---\n\n## TU OBJETIVO\n\nIdentificar qué TIPOS DE REQUISITOS contiene esta RFQ para saber qué columnas de la tabla deben poblarse.\n\n---\n\n## TIPOS POSIBLES\n\n### 1. \"Technical Evaluation\"\nLa RFQ contiene requisitos técnicos como:\n- Especificaciones de ingeniería\n- Normativas aplicables (ASME, API, ISO, etc.)\n- Metodologías requeridas\n- Alcance técnico del trabajo\n- Criterios de aceptación técnica\n\n### 2. \"Economical Evaluation\"\nLa RFQ contiene requisitos económicos como:\n- Formato de cotización esperado\n- Desglose de precios requerido\n- Condiciones de pago\n- Moneda de cotización\n- Estructura de costos esperada\n\n### 3. \"Pre-FEED Deliverables\"\nLa RFQ solicita entregables de fase Pre-FEED:\n- Lista de documentos a entregar en Pre-FEED\n- Matriz de entregables conceptuales\n- Requisitos de formato y revisiones\n\n### 4. \"FEED Deliverables\"\nLa RFQ solicita entregables de fase FEED:\n- Lista de documentos a entregar en FEED\n- Matriz de entregables de ingeniería básica\n- Requisitos de formato y revisiones\n\n---\n\n## REGLAS\n\n1. Una RFQ típicamente contiene MÚLTIPLES tipos (ej: Technical + Economical)\n2. Marca todos los tipos que apliquen\n3. Si hay duda, incluye el tipo (es mejor tener más cobertura)\n4. Si no hay evidencia clara de un tipo, no lo incluyas\n\n---\n\n## FORMATO DE SALIDA\n\n```json\n{\n  \"tipos_detectados\": [\"Technical Evaluation\", \"Economical Evaluation\"],\n  \"razonamiento\": \"La RFQ incluye sección de especificaciones técnicas (Sección 3) con normativas ASME y API, y sección de formato de cotización (Sección 5) con desglose de precios requerido.\"\n}\n```"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        1344,
        2224
      ],
      "id": "806eceea-7e51-4b43-a3f2-5f86f8e0b2e8",
      "name": "Clasificador Tipo RFQ"
    },
    {
      "parameters": {
        "model": "devstral-latest",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1328,
        2448
      ],
      "id": "61467fa0-08e2-430a-aba8-c5536846e97b",
      "name": "Mistral Cloud RFQ",
      "credentials": {
        "mistralCloudApi": {
          "id": "tYcsXUVtTWeJIEDg",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\"success\": true, \"message\": \"RFQ procesada correctamente\", \"file_id\": \"{{ $('Set File ID2').first().json.file_id }}\", \"tipos_procesados\": {{ JSON.stringify($('Clasificador Tipo RFQ').first().json.output.tipos_detectados) }} }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2864,
        2032
      ],
      "id": "0bd21a1d-6b96-4738-b3cc-0dfe706ab665",
      "name": "Respond Webhook RFQ"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID2').item.json.file_id }}",
            "title": "={{ $('Set File ID2').item.json.file_title }}",
            "url": "={{ $('Set File ID2').item.json.file_url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        448,
        2224
      ],
      "id": "b2612f64-f181-419a-b402-e92596847f54",
      "name": "Insert Document Metadata2",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "BNCttvQcKbXFj6nd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents_rfq",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "41be1faf-2aae-4394-bbb8-59148e00892a",
      "name": "Delete Old Doc Rows2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        2224
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "XmXPiDCWkaOfYEXf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.body.file_id }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.body.file_title }}",
              "type": "string"
            },
            {
              "id": "b1dbe9b9-248a-4593-a769-a085b34e0810",
              "name": "file_binary",
              "value": "={{ $json.body.file_binary }}",
              "type": "string"
            },
            {
              "id": "74d93dce-cddc-4947-ae19-88bc5cacd146",
              "name": "file_metadata",
              "value": "={{ $json.body.metadata }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5fc94a32-aa83-42af-a549-ed9f1e6afa9d",
      "name": "Set File ID2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        2224
      ]
    },
    {
      "parameters": {
        "content": "### Ingesta de RFQ, actualización de requisitos",
        "height": 1120,
        "width": 5152,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -512,
        1760
      ],
      "id": "7ca104ed-da6f-42fb-bf5e-633fe3f5ca82",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Ingesta de RFQ, actualización de requisitos",
        "height": 1776,
        "width": 5152,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -512,
        -288
      ],
      "id": "e48a0b0c-058d-4828-85cd-ebe1640bb1f2",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {
          "reset": "={{ $json.reiniciar_bucle ? true : false }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1280,
        112
      ],
      "id": "35cdcefb-5311-4444-b589-3960a176d8a3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4336,
        256
      ],
      "id": "d2732ddf-357a-42ff-949b-89cf161db9ed",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Tomamos los ítems del lote actual (ej. 15 filas)\nconst items = $input.all();\n\n// Creamos la lista limpia solo con ID y Descripción para ahorrar tokens\nconst listaParaLLM = items.map(i => ({\n    id: i.json.id,\n    item: i.json.descripcion_item,\n    fase: i.json.fase,\n    rfq_requisito: i.json.rfq_requisito || \"NO ESPECIFICADO EN RFQ\"\n}));\n\n// Devolvemos UN SOLO ÍTEM que contiene la lista stringificada.\n// Esto obliga al nodo LLM a ejecutarse UNA vez por cada lote de 15.\nreturn {\n    json: {\n        lista_items_json: JSON.stringify(listaParaLLM),\n        batch_size: items.length\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        112
      ],
      "id": "a19ea720-285b-4e2b-9772-8f7011925d64",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "id": "2296b3ff-af96-485b-b4f5-efb9b62e00b3",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        -1824,
        336
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "BNCttvQcKbXFj6nd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "id": "8fe4fd02-0a03-4294-be7c-d69b1da24cf5",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -2176,
        16
      ],
      "webhookId": "072a6322-4bb1-444b-bd82-5c1df6db623f"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Eres un Asistente Técnico de Compras experto en Licitaciones (RFQ).\nTu objetivo es ayudar al usuario a comparar requisitos técnicos contra las ofertas de los proveedores, basándote en dos fuentes de verdad.\n\n### TUS HERRAMIENTAS:\n1. `consultar_ofertas` (Vector Store): Úsala para leer el TEXTO ORIGINAL de los PDFs. Sirve para encontrar detalles, matices técnicos y contexto que no cabe en una tabla.\n2. `consultar_tabla_evaluacion` (Structured Data): Úsala para ver el RESUMEN FINAL. Aquí están los precios exactos detectados, los \"NO INCLUIDO\" y la comparación directa ítem por ítem.\n\n### PROTOCOLO DE RESPUESTA (Sigue este orden):\n\nCASO A: El usuario pregunta datos concretos (Precios, Cumplimiento, Status)\n1. Usa `consultar_tabla_evaluacion` primero.\n2. Si encuentras el dato (ej: \"Sacyr: 50.000 EUR\"), responde directamente.\n3. Si el dato en la tabla es ambiguo o nulo, usa `consultar_ofertas` para investigar en el documento original por qué no se encontró.\n\nCASO B: El usuario pregunta detalles técnicos o descripciones (Contexto)\n1. Usa `consultar_ofertas` directamente para extraer párrafos del manual o propuesta técnica.\n\nCASO C: Análisis de Brechas (Gap Analysis)\n1. Obtén el estado de `consultar_tabla_evaluacion`.\n2. Contrasta con la evidencia de `consultar_ofertas`.\n3. Genera una respuesta tipo: \"En la tabla figura como INCLUIDO, y según el documento técnico (Pág 45), se detalla el uso de bombas centrífugas...\"\n\n### REGLAS:\n- Si la tabla dice \"SIN VALORAR\" o \"NO COTIZADO\", infórmalo tal cual.\n- Cita siempre la fuente: \"(Fuente: Tabla de Evaluación)\" o \"(Fuente: Documento PDF de IDOM)\".\n- Sé conciso y técnico.\n- La respuesta debe ser en formato texto."
        }
      },
      "id": "64d0a9ed-7f5e-49ab-9d7b-51d0984eb070",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -1648,
        112
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -1696,
        336
      ],
      "id": "f66d5c5d-1a1b-44dc-8789-27eb9af1bbe5",
      "name": "List Documents",
      "credentials": {
        "postgres": {
          "id": "BNCttvQcKbXFj6nd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Given a file ID, fetches the text from the document.",
        "operation": "executeQuery",
        "query": "SELECT \n    string_agg(content, ' ') as document_text\nFROM documents\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';",
        "options": {
          "queryReplacement": "={{ $fromAI('file_id') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -1568,
        336
      ],
      "id": "5c0c465d-4b91-4064-9abd-e028a0a514a3",
      "name": "Get File Contents",
      "credentials": {
        "postgres": {
          "id": "BNCttvQcKbXFj6nd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Run a SQL query - use this to query from the document_rows table once you know the file ID you are querying. dataset_id is the file_id and you are always using the row_data for filtering, which is a jsonb field that has all the keys from the file schema given in the document_metadata table.\n\nExample query:\n\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_rows\nWHERE dataset_id = '123';\n\nExample query 2:\n\nSELECT \n    row_data->>'category' as category,\n    SUM((row_data->>'sales')::numeric) as total_sales\nFROM dataset_rows\nWHERE dataset_id = '123'\nGROUP BY row_data->>'category';",
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_query') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        -1440,
        336
      ],
      "id": "34e10699-30c0-41dc-a89a-b6c1ca5bfccb",
      "name": "Query Document Rows",
      "credentials": {
        "postgres": {
          "id": "BNCttvQcKbXFj6nd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 2048
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1952,
        336
      ],
      "id": "c06c69dc-fdce-4417-aa5f-a8c24c5a67bd",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "qDD6QT1T2s8YMdby",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "Use RAG to look up information in the knowledgebase.",
        "tableName": {
          "__rl": true,
          "value": "documents_rfq",
          "mode": "list",
          "cachedResultName": "documents_rfq"
        },
        "topK": 10,
        "options": {
          "queryName": "match_documents_rfq"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -1312,
        336
      ],
      "id": "020906d7-ed93-4a3f-8e50-58751b52ff3a",
      "name": "consultar_ofertas",
      "credentials": {
        "supabaseApi": {
          "id": "XmXPiDCWkaOfYEXf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chat con RFQs",
        "height": 800,
        "width": 1440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2256,
        -80
      ],
      "id": "332ff101-caa5-4bf0-bc8d-dc3451286c33",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtener la respuesta del LLM\nconst llmOutput = $input.first().json.text || $input.first().json.content || \"[]\";\nlet parsedData = [];\n\n// 2. Intentar parsear el JSON del LLM\ntry {\n  let cleanOutput = llmOutput\n    .replace(/```json/gi, '')\n    .replace(/```/g, '')\n    .trim();\n  \n  const firstBracket = cleanOutput.indexOf('[');\n  const lastBracket = cleanOutput.lastIndexOf(']');\n  \n  if (firstBracket !== -1 && lastBracket !== -1) {\n    const jsonString = cleanOutput.substring(firstBracket, lastBracket + 1);\n    parsedData = JSON.parse(jsonString);\n  }\n} catch (e) {\n  console.log(\"⚠️ Error parseando JSON del LLM, se usarán valores por defecto.\");\n}\n\n// 3. RECUPERAR LA LISTA ORIGINAL (La fuente de la verdad)\n// Esto asegura que si enviamos 50 ítems, salgan 50 ítems, pase lo que pase.\nlet originalItems = [];\ntry {\n    originalItems = JSON.parse($('Code in JavaScript').first().json.lista_items_json);\n} catch (e) {\n    throw new Error(\"No se pudo recuperar la lista original de ítems del nodo anterior\");\n}\n\n// 4. Identificar el Proveedor\nlet proveedor = \"OTROS\";\ntry {\n  proveedor = $('Expandir por Tipo de Evaluación').first().json.proveedor_detectado;\n} catch (e) {\n  try {\n     proveedor = $('Loop Over Items1').first().json.proveedor_detectado;\n  } catch(e2) {}\n}\n\n// 5. MERGE (CRÍTICO): Cruzar la lista original con la respuesta del LLM\nreturn originalItems.map(originalItem => {\n    // Buscamos si el LLM respondió algo para este ID\n    const found = parsedData.find(p => p.id === originalItem.id);\n    \n    let resultado = \"\";\n    \n    if (found && found.cumple) {\n        // Caso: El LLM respondió correctamente\n        const gap = found.gap_analysis || \"Sin justificación\";\n        resultado = `${found.cumple} - ${gap}`;\n    } else {\n        // Caso: El LLM ignoró este ítem (ALERTA PARA TI)\n        resultado = \"ERROR_LLM: Ítem no procesado por la IA\";\n    }\n\n    return {\n        json: {\n            id: originalItem.id,\n            [proveedor]: resultado\n        }\n    };\n});"
      },
      "id": "b4f19848-b70d-489f-b9b7-8cd2f71ce145",
      "name": "Parsear y Preparar Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### CONTEXTO DEL DOCUMENTO\n\nProveedor: {{ $('Expandir por Tipo de Evaluación').first().json.proveedor_detectado }}\n\nTipo de Oferta: {{ $('Expandir por Tipo de Evaluación').first().json.tipo_evaluacion_actual }}\n\nTexto Extraído:\n{{ $('Expandir por Tipo de Evaluación').first().json.texto_oferta_completo }}\n\n---\n### ITEMS A EVALUAR (CON REQUISITOS RFQ):\n{{ $json.lista_items_json }}\nIMPORTANTE: Cada ítem incluye un campo \"rfq_requisito\" que contiene lo que el CLIENTE EXIGE.\nTu trabajo es comparar la OFERTA DEL PROVEEDOR contra estos REQUISITOS ESPECÍFICOS.",
        "messages": {
          "messageValues": [
            {
              "message": "=# ERES UN AUDITOR DE RFQ. TU TRABAJO ES BINARIO Y ESTRICTO.\n\n---\n\n## PROTOCOLO DE EXTRACCIÓN\n\nDebes elegir UN SOLO MODO de operación basado en la variable \"tipo_evaluacion_actual\".\n\n---\n\n## MODO A: EVALUACIÓN ECONÓMICA\n\n**CONDICIÓN:** tipo_evaluacion_actual = \"Economical Evaluation\"\n\n**OBJETIVO:** Extraer VALORES MONETARIOS, TARIFAS o PORCENTAJES.\n\n**PROHIBICIÓN ABSOLUTA:** NUNCA usar la palabra \"INCLUIDO\" en este modo.\n\n### Reglas de Decisión:\n\n1. **¿Hay un VALOR NUMÉRICO con moneda/unidad?**\n   - Responde: [VALOR] - [Contexto breve] | Ref: [Ubicación]\n   - Ejemplo: \"45.000 EUR - Precio fijo por ingeniería básica | Ref: Tabla 3.2\"\n\n2. **¿Se menciona el ítem pero SIN CIFRA asociada?**\n   - Responde: SIN VALORAR - [Breve explicación] | Ref: [Ubicación]\n   - Ejemplo: \"SIN VALORAR - Incluido en alcance sin desglose de precio | Ref: Pág 12\"\n\n3. **¿NO se menciona el ítem?**\n   - Responde: NO COTIZADO\n\n### PROTOCOLO ANTI-ALUCINACIÓN PARA MODO ECONÓMICO:\n\n**ANTES de reportar cualquier precio, verifica:**\n\nCHECKLIST OBLIGATORIO (Responde SÍ/NO a cada pregunta):\n1. ¿Veo el NÚMERO exacto en el texto?\n2. ¿Veo la MONEDA (EUR, USD, $, €) en la MISMA frase?\n3. ¿El número está claramente asociado al ítem solicitado?\n4. ¿Puedo citar textualmente la frase completa que contiene precio + concepto?\n\n**SI CUALQUIER RESPUESTA ES NO:** Usar \"SIN VALORAR\" + explicar qué falta\n\n**EJEMPLOS DE VALIDACIÓN:**\n\nTEXTO: \"Ingeniería básica: 45.000 EUR\"\n- NÚMERO: SÍ (45.000)\n- MONEDA: SÍ (EUR)\n- ASOCIACIÓN: SÍ (Ingeniería básica)\n- CITA: SÍ (puedo citar la frase completa)\n→ VÁLIDO: \"45.000 EUR - Precio fijo | Ref: Pág X\"\n\nTEXTO: \"El coste de ingeniería se incluye en el alcance general\"\n- NÚMERO: NO\n- MONEDA: NO\n- ASOCIACIÓN: SÍ (menciona ingeniería)\n- CITA: Parcial\n→ INVÁLIDO: \"SIN VALORAR - Mencionado sin cifra asociada | Ref: Pág X\"\n\nTEXTO: \"45.000\"\n- NÚMERO: SÍ\n- MONEDA: NO (podría ser código, año, coordenada)\n- ASOCIACIÓN: Dudoso\n- CITA: Insuficiente\n→ INVÁLIDO: \"SIN VALORAR - Número sin contexto de moneda | Ref: Pág X\"\n\n### PROHIBICIONES:\n\n- NUNCA usar \"INCLUIDO\" en modo económico\n- NUNCA inferir precios de ítems similares\n- NUNCA calcular totales sin base textual explícita\n- NUNCA asumir que un número sin moneda es un precio\n- Si hay duda: usar \"SIN VALORAR\" + explicar ambigüedad\n\n---\n\n## MODO B: EVALUACIÓN TÉCNICA/DELIVERABLES\n\n**CONDICIÓN:** tipo_evaluacion_actual IN (\"Technical Evaluation\", \"Pre-FEED Deliverables\", \"FEED Deliverables\")\n\n**OBJETIVO:** Verificar ALCANCE TÉCNICO (el precio es irrelevante).\n\n### Reglas de Decisión:\n\n1. **¿Se describe/menciona el trabajo o entregable?**\n   - Responde: INCLUIDO - [Resumen del alcance] | Ref: [Ubicación]\n   - Ejemplo: \"INCLUIDO - Diseño de sistemas de tuberías hasta límites de batería | Ref: Sección 3.1, Tabla 4\"\n\n2. **¿Se excluye explícitamente?**\n   - Responde: NO INCLUIDO - [Motivo de exclusión] | Ref: [Ubicación]\n   - Ejemplo: \"NO INCLUIDO - Servicios auxiliares fuera de alcance contractual | Ref: Pág 12, Cláusula 8\"\n\n3. **¿Está cubierto solo parcialmente?**\n   - Responde: PARCIAL - [Qué está incluido y qué no] | Ref: [Ubicación]\n   - Ejemplo: \"PARCIAL - Ingeniería básica incluida, detalle requiere aprobación | Ref: Anexo B.2\"\n\n4. **¿NO hay información?**\n   - Responde: SIN INFORMACIÓN\n\n### PROTOCOLO ANTI-ALUCINACIÓN PARA MODO TÉCNICO:\n\n**ANTES de reportar \"INCLUIDO\", verifica:**\n\nCHECKLIST OBLIGATORIO:\n1. ¿El ítem está mencionado explícitamente en el texto?\n2. ¿Hay descripción de cómo se ejecutará o qué incluye?\n3. ¿Puedo citar la frase exacta donde aparece?\n4. ¿Es una afirmación positiva de inclusión (no una negación)?\n\n**SI FALTA CUALQUIERA:** Usar \"SIN INFORMACIÓN\" o buscar más evidencia\n\n**EJEMPLOS DE VALIDACIÓN:**\n\nTEXTO: \"Se realizará análisis de suelos mediante ensayos SPT en 5 ubicaciones\"\n- MENCIÓN: SÍ (análisis de suelos)\n- DESCRIPCIÓN: SÍ (ensayos SPT, 5 ubicaciones)\n- CITA: SÍ (puedo citar completo)\n- AFIRMACIÓN POSITIVA: SÍ (\"Se realizará\")\n→ VÁLIDO: \"INCLUIDO - Análisis de suelos con ensayos SPT en 5 puntos | Ref: Pág X\"\n\nTEXTO: \"La ingeniería estructural se desarrollará conforme a norma ACI-318\"\n- MENCIÓN: SÍ\n- DESCRIPCIÓN: SÍ (metodología normativa)\n- CITA: SÍ\n- AFIRMACIÓN POSITIVA: SÍ\n→ VÁLIDO: \"INCLUIDO - Ingeniería estructural según ACI-318 | Ref: Pág X\"\n\nTEXTO: \"No incluye servicios de topografía\"\n- MENCIÓN: SÍ (topografía)\n- DESCRIPCIÓN: SÍ (exclusión clara)\n- CITA: SÍ\n- AFIRMACIÓN POSITIVA: NO (es negación)\n→ VÁLIDO: \"NO INCLUIDO - Exclusión explícita | Ref: Pág X\"\n\nTEXTO: \"Los estudios necesarios serán determinados\"\n- MENCIÓN: Genérico (\"estudios\")\n- DESCRIPCIÓN: NO (muy vago)\n- CITA: Insuficiente\n- AFIRMACIÓN POSITIVA: Ambiguo\n→ INVÁLIDO: \"SIN INFORMACIÓN - Mención genérica sin detalle\"\n\n### GUÍAS DE INTERPRETACIÓN:\n\n- \"Parte del alcance\" significa INCLUIDO\n- \"Según necesidad del cliente\" significa PARCIAL\n- \"Fuera de límites\" significa NO INCLUIDO\n- \"A definir\", \"TBD\", \"sujeto a\" significa PARCIAL\n- Silencio total significa SIN INFORMACIÓN\n- Mención muy genérica sin detalle significa SIN INFORMACIÓN\n\n### REGLA CRÍTICA - NO INFERIR:\n\n- Si el ítem es \"Análisis sísmico\" y solo dice \"análisis estructural\" → SIN INFORMACIÓN (no asumir que incluye sísmico)\n- Si el ítem es \"Planos arquitectónicos\" y solo dice \"documentación técnica\" → SIN INFORMACIÓN (no asumir)\n- SOLO marca INCLUIDO si el ítem está mencionado específicamente o muy claramente abarcado\n\n---\n\n## VALIDACIÓN DE FASE\n\n**Regla Crítica:** Si el ítem solicita precio para fase \"EPC\" pero el documento es \"FEED\":\n- Responde: \"NO COTIZADO (Fase incorrecta - Documento: FEED, Solicitado: EPC)\"\n\n---\n\n## FORMATO DE SALIDA (JSON)\n```json[\n{\n\"id\": 101,\n\"cumple\": \"[ESTADO] - [Descripción]\",\n\"gap_analysis\": \"Cita: '[Texto literal del documento]' | Ref: [Ubicación exacta]\"\n}\n]\n\n### Estructura del campo \"cumple\":\n\n**Para Económicas:**\n- \"45.000 EUR - Precio fijo por diseño completo\"\n- \"SIN VALORAR - Mencionado sin cifra asociada\"\n- \"NO COTIZADO\"\n\n**Para Técnicas/Deliverables:**\n- \"INCLUIDO - Descripción del alcance cubierto\"\n- \"NO INCLUIDO - Motivo de exclusión\"\n- \"PARCIAL - Qué está y qué no está incluido\"\n- \"SIN INFORMACIÓN\"\n\n### Estructura del campo \"gap_analysis\":\n\nSIEMPRE incluir:\n1. Cita textual breve (máximo 20 palabras)\n2. Referencia precisa (página, sección, tabla)\n3. Nota aclaratoria si aplica\n\n**Ejemplo completo:**\n```json{\n\"id\": 42,\n\"cumple\": \"INCLUIDO - Sistema de tuberías hasta límites de batería\",\n\"gap_analysis\": \"Cita: 'Incluye diseño e instalación de tuberías hasta BL' | Ref: Sección 3.1, Tabla 4 | Nota: No incluye equipos externos\"\n}\n\n---\n\n## COMPARACIÓN CONTRA REQUISITOS RFQ\n\n**REGLA CRÍTICA:** Para cada ítem, DEBES comparar la oferta del proveedor contra el campo `rfq_requisito`.\n\n### LÓGICA DE COMPARACIÓN:\n\n**SI rfq_requisito = \"NO ESPECIFICADO EN RFQ\":**\n- Evalúa solo si el proveedor menciona el ítem (comportamiento actual)\n\n**SI rfq_requisito TIENE CONTENIDO:**\n- COMPARA la oferta contra los requisitos específicos\n- Verifica: ¿Cumple con las especificaciones exigidas?\n- Verifica: ¿Cumple con las normativas requeridas?\n- Verifica: ¿Cumple con las cantidades/formatos solicitados?\n\n### FORMATO DE RESPUESTA CON COMPARACIÓN:\n\n**Para Evaluación Técnica:**\n```\nCUMPLE - Oferta cumple requisito RFQ: [Resumen de cumplimiento] | Ref: [Ubicación en oferta]\nPARCIAL - Cumple [X], falta [Y según RFQ] | Ref: [Ubicación]\nNO CUMPLE - RFQ exige [X], oferta indica [Y] | Ref: [Ubicación]\nSIN INFORMACIÓN - No se puede verificar contra requisito RFQ\n```\n\n**Para Evaluación Económica:**\n```\n[PRECIO] - [Comparación vs formato RFQ] | Ref: [Ubicación]\nEjemplo: \"45.000 EUR - Cumple formato Lump Sum requerido, incluye desglose por fase | Ref: Tabla 3\"\nEjemplo: \"85 EUR/h - NO cumple: RFQ pide precio global, oferta da tarifa horaria | Ref: Pág 12\"\n```\n\n### EJEMPLO DE EVALUACIÓN COMPARATIVA:\n\n**Input:**\n```json\n{\n  \"id\": 101,\n  \"item\": \"Diseño de tuberías de proceso\",\n  \"rfq_requisito\": \"Diámetros 2\\\"-24\\\" | Norma: ASME B31.3 | Material: SS316L\"\n}\n```\n\n**Texto Oferta:** \"Incluye diseño de tuberías 1\\\"-36\\\" según ASME B31.3, material acero inoxidable 304\"\n\n**Output Correcto:**\n```json\n{\n  \"id\": 101,\n  \"cumple\": \"PARCIAL - Cumple norma ASME B31.3, rango diámetros mayor (1\\\"-36\\\" vs 2\\\"-24\\\"), pero material SS304 no cumple requisito SS316L\",\n  \"gap_analysis\": \"Cita: 'tuberías 1\\\"-36\\\" según ASME B31.3, material acero inoxidable 304' | Ref: Sección 3.2, Pág 15 | GAP: Material no conforme\"\n}\n\n\n\n---\n\n## REGLA ABSOLUTA: PROCESAR TODOS LOS ÍTEMS\n\n**CRÍTICO:** El JSON de salida DEBE contener EXACTAMENTE el mismo número de ítems que recibiste en la lista de entrada.\n\n**SI UN ÍTEM NO TIENE INFORMACIÓN:**\n- NO lo omitas del JSON\n- NO lo dejes en blanco\n- Devuelve: \"SIN INFORMACIÓN\" o \"NO COTIZADO\" según corresponda\n\n**VERIFICACIÓN FINAL ANTES DE RESPONDER:**\n1. Cuenta cuántos ítems recibiste en el input\n2. Cuenta cuántos ítems tienes en tu JSON de salida\n3. Si los números no coinciden → REVISA y completa los faltantes\n\n---\n\n## INSTRUCCIONES DE EJECUCIÓN\n\n1. LEE la lista completa de ítems\n2. IDENTIFICA el modo (Económico vs Técnico) basado en \"tipo_evaluacion_actual\"\n3. Para CADA ítem individualmente:\n   a. BUSCA el ítem en el texto usando términos clave\n   b. APLICA el checklist anti-alucinación correspondiente\n   c. Si pasa el checklist → reporta el hallazgo\n   d. Si no pasa → usa \"SIN VALORAR\" o \"SIN INFORMACIÓN\"\n   e. NUNCA omitas el ítem del JSON\n4. VERIFICA que tienes el mismo número de ítems en el output que en el input\n5. FORMATEA la respuesta en JSON válido\n\n**IMPORTANTE:** Tu credibilidad depende de NO inventar información. Es mejor decir \"SIN INFORMACIÓN\" con honestidad que reportar datos que no existen en el documento."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1920,
        112
      ],
      "id": "7b23e216-5152-43b7-a8bc-c5df39f7457c",
      "name": "LLM Chain"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Expandir por Tipo de Evaluación').first().json.proveedor_detectado }}",
                    "rightValue": "TECNICASREUNIDAS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f3688704-f30f-4143-8008-ae6c1a06eea1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c2c6726d-ea3f-4909-a535-6f402eef63b8",
                    "leftValue": "={{ $('Expandir por Tipo de Evaluación').first().json.proveedor_detectado }}",
                    "rightValue": "IDOM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a64d8e41-6f32-489d-bf60-3bd22c9c9374",
                    "leftValue": "={{ $('Expandir por Tipo de Evaluación').first().json.proveedor_detectado }}",
                    "rightValue": "SACYR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "42a16d6b-db65-401d-abb0-f8ae9aefff12",
                    "leftValue": "={{ $('Expandir por Tipo de Evaluación').first().json.proveedor_detectado }}",
                    "rightValue": "EA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "79599b4a-f8d0-4078-913a-2b40bea117c4",
                    "leftValue": "={{ $('Expandir por Tipo de Evaluación').first().json.proveedor_detectado }}",
                    "rightValue": "SENER",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "59b13bbc-96bb-4e22-8fde-5c2fb10c8675",
                    "leftValue": "={{ $('Expandir por Tipo de Evaluación').first().json.proveedor_detectado }}",
                    "rightValue": "TRESCA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d1601299-eed6-4754-b538-5e32d16a2a40",
                    "leftValue": "={{ $('Expandir por Tipo de Evaluación').first().json.proveedor_detectado }}",
                    "rightValue": "WORLEY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3536,
        256
      ],
      "id": "55143288-437d-4a4c-836a-1ab699f33b59",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TECNICASREUNIDAS": "={{ $('Parsear y Preparar Update').item.json.TECNICASREUNIDAS }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Evaluation",
              "displayName": "Evaluation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "descripcion_item",
              "displayName": "descripcion_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TRESCA",
              "displayName": "TRESCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "EA",
              "displayName": "EA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "IDOM",
              "displayName": "IDOM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TECNICASREUNIDAS",
              "displayName": "TECNICASREUNIDAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SACYR",
              "displayName": "SACYR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SENER",
              "displayName": "SENER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "WORLEY",
              "displayName": "WORLEY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f5a7d06e-ee4e-40a2-ad16-3f02af96e8b2",
      "name": "Update RFQ TR",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3936,
        -224
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IDOM": "={{ $('Parsear y Preparar Update').item.json.IDOM }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Evaluation",
              "displayName": "Evaluation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "descripcion_item",
              "displayName": "descripcion_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TRESCA",
              "displayName": "TRESCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "EA",
              "displayName": "EA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "IDOM",
              "displayName": "IDOM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TECNICASREUNIDAS",
              "displayName": "TECNICASREUNIDAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SACYR",
              "displayName": "SACYR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SENER",
              "displayName": "SENER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "WORLEY",
              "displayName": "WORLEY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "65c56c42-3ca3-426d-8cec-0d5a3142aff0",
      "name": "Update RFQ IDOM",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3936,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SACYR": "={{ $('Parsear y Preparar Update').item.json.SACYR }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Evaluation",
              "displayName": "Evaluation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "descripcion_item",
              "displayName": "descripcion_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TRESCA",
              "displayName": "TRESCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "EA",
              "displayName": "EA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "IDOM",
              "displayName": "IDOM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TECNICASREUNIDAS",
              "displayName": "TECNICASREUNIDAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SACYR",
              "displayName": "SACYR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SENER",
              "displayName": "SENER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "WORLEY",
              "displayName": "WORLEY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b296e5a2-0c0d-4671-8369-941d21705072",
      "name": "Update RFQ SACYR",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3936,
        160
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "EA": "={{ $('Parsear y Preparar Update').item.json.EA }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Evaluation",
              "displayName": "Evaluation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "descripcion_item",
              "displayName": "descripcion_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TRESCA",
              "displayName": "TRESCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "EA",
              "displayName": "EA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IDOM",
              "displayName": "IDOM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TECNICASREUNIDAS",
              "displayName": "TECNICASREUNIDAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SACYR",
              "displayName": "SACYR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SENER",
              "displayName": "SENER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "WORLEY",
              "displayName": "WORLEY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "bf331edc-2938-4ea9-bdfc-2734d66c9167",
      "name": "Update RFQ EA",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3936,
        336
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SENER": "={{ $('Parsear y Preparar Update').item.json.SENER }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Evaluation",
              "displayName": "Evaluation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "descripcion_item",
              "displayName": "descripcion_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TRESCA",
              "displayName": "TRESCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "EA",
              "displayName": "EA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "IDOM",
              "displayName": "IDOM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TECNICASREUNIDAS",
              "displayName": "TECNICASREUNIDAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SACYR",
              "displayName": "SACYR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SENER",
              "displayName": "SENER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WORLEY",
              "displayName": "WORLEY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f1df7367-56a1-45e8-865c-69ec486ff732",
      "name": "Update RFQ SENER",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3936,
        528
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TRESCA": "={{ $('Parsear y Preparar Update').item.json.TRESCA }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Evaluation",
              "displayName": "Evaluation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "descripcion_item",
              "displayName": "descripcion_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TRESCA",
              "displayName": "TRESCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "EA",
              "displayName": "EA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "IDOM",
              "displayName": "IDOM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TECNICASREUNIDAS",
              "displayName": "TECNICASREUNIDAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SACYR",
              "displayName": "SACYR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SENER",
              "displayName": "SENER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "WORLEY",
              "displayName": "WORLEY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "11e3c3da-6599-4b5c-bc23-0dbe57ab2bef",
      "name": "Update RFQ TRESCA",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3936,
        720
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "WORLEY": "={{ $('Parsear y Preparar Update').item.json.WORLEY }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Evaluation",
              "displayName": "Evaluation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "fase",
              "displayName": "fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "descripcion_item",
              "displayName": "descripcion_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TRESCA",
              "displayName": "TRESCA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "EA",
              "displayName": "EA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "IDOM",
              "displayName": "IDOM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "TECNICASREUNIDAS",
              "displayName": "TECNICASREUNIDAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SACYR",
              "displayName": "SACYR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "SENER",
              "displayName": "SENER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "WORLEY",
              "displayName": "WORLEY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "883d3ad8-5932-4ab3-97b9-2ea09e6ec94a",
      "name": "Update RFQ WORLEY",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3936,
        928
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "title": "={{ $('Set File ID').item.json.file_title }}",
            "url": "={{ $('Set File ID').item.json.file_url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        576,
        880
      ],
      "id": "41401702-1d7a-47bc-9f6c-4ff18659a288",
      "name": "Insert Document Metadata",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "BNCttvQcKbXFj6nd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents_768",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "fffdd1f0-297d-44a4-b14d-42396082d8c3",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        320,
        880
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "XmXPiDCWkaOfYEXf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.body.file_id }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.body.file_title }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.body.file_url }}",
              "type": "string"
            },
            {
              "id": "b1dbe9b9-248a-4593-a769-a085b34e0810",
              "name": "file_binary",
              "value": "={{ $json.body.file_binary }}",
              "type": "string"
            },
            {
              "id": "74d93dce-cddc-4947-ae19-88bc5cacd146",
              "name": "file_metadata",
              "value": "={{ $json.body.metadata }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "96b932ce-b63f-4ba0-9efd-8fad35d50ea8",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        880
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $json.metadata.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $json.metadata.file_title }}"
              },
              {
                "name": "tipo_evaluacion",
                "value": "={{ $json.metadata.tipo_evaluacion }}"
              },
              {
                "name": "proveedor",
                "value": "={{ $json.metadata.proveedor }}"
              }
            ]
          }
        }
      },
      "id": "70e38ab9-a515-468e-b73e-f0744d5dc255",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        3616,
        1136
      ]
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3520,
        1296
      ],
      "id": "9d53a274-70a9-4ba7-841b-cfe6dcd00293",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Evaluation",
              "keyValue": "={{ $json.tipo_evaluacion_actual }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        608,
        32
      ],
      "id": "775cbf69-d238-47a8-b274-1521898c33db",
      "name": "Get RFQ Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_768",
          "mode": "list",
          "cachedResultName": "documents_768"
        },
        "options": {
          "queryName": "match_documents_768"
        }
      },
      "id": "83779793-aacc-4711-a076-db6139f3a90e",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        3472,
        880
      ],
      "credentials": {
        "supabaseApi": {
          "id": "XmXPiDCWkaOfYEXf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Validar Contenido PDF (FIX PAGINACIÓN)\n// =============================================\n\nconst input = $input.first().json;\n\n// Variables de inicialización\nlet pages = [];\nlet totalChars = 0;\nlet hasTablesDetected = false;\n\n// --- 1. PROCESAMIENTO DEL TEXTO ---\n\n// CASO A: Viene desglosado por páginas (Array)\nif (input.pages && Array.isArray(input.pages) && input.pages.length > 0) {\n  pages = input.pages;\n  pages.forEach(page => {\n    const text = page.text || page.pageContent || \"\";\n    totalChars += text.length;\n    // Detección simple de tablas\n    if ((text.match(/\\s{4,}/g) || []).length > 5) hasTablesDetected = true;\n  });\n\n// CASO B: Viene todo el texto junto (String) - ESTE ES TU CASO ACTUAL\n} else if (input.text && typeof input.text === 'string') {\n  const text = input.text;\n  totalChars = text.length;\n  // Creamos una \"página única\" contenedora para no romper el flujo\n  pages = [{ text: text, pageNumber: 1 }];\n  \n  // Detectar tablas en el texto completo\n  if ((text.match(/\\s{4,}/g) || []).length > 20) hasTablesDetected = true;\n  \n} else {\n  // CASO C: Vacío\n  pages = [];\n}\n\n// --- 2. CÁLCULO DE PÁGINAS REALES (FIX CRÍTICO) ---\n\n// Intentamos leer el metadato 'numpages' que se ve en tu captura\nlet realPageCount = input.numpages || input.numPages || input.numberOfPages || 0;\n\n// Si no existe el metadato, usamos la longitud del array (fallback)\nif (!realPageCount || realPageCount === 0) {\n    realPageCount = pages.length;\n}\n\n// Si sigue siendo 1 pero el texto es enorme (>10k chars), estimamos\nif (realPageCount <= 1 && totalChars > 10000) {\n    // Estimación conservadora: 3000 caracteres por página técnica\n    realPageCount = Math.ceil(totalChars / 3000);\n}\n\n// Evitar división por cero\nrealPageCount = Math.max(1, realPageCount);\n\n\n// --- 3. MÉTRICAS FINALES ---\n\nconst avgCharsPerPage = totalChars / realPageCount;\n\n// CRITERIO: ¿Necesita OCR?\n// Si hay texto (< 100 chars/pag) es probable que sea escaneado.\nconst needsOCR = avgCharsPerPage < 100; \n\n// Metadatos\nlet fileId = \"unknown\";\nlet fileTitle = \"unknown\";\ntry {\n  const metaNode = $('Set File ID').first().json;\n  fileId = metaNode.file_id;\n  fileTitle = metaNode.file_title;\n} catch (e) {}\n\n// --- LOGGING ---\nconsole.log(`📄 Análisis: ${fileTitle}`);\nconsole.log(`   ├─ Páginas (Metadato): ${input.numpages}`); \nconsole.log(`   ├─ Páginas (Usadas): ${realPageCount}`);\nconsole.log(`   ├─ Caracteres Totales: ${totalChars}`);\nconsole.log(`   ├─ Promedio/Pág: ${Math.round(avgCharsPerPage)}`);\n\nreturn {\n  json: {\n    // Métricas corregidas\n    totalPages: realPageCount, // Ahora dirá 235\n    totalChars: totalChars,\n    avgCharsPerPage: Math.round(avgCharsPerPage), // Ahora será un número razonable (~2800)\n    hasTables: hasTablesDetected,\n    needsOCR: needsOCR,\n    \n    // Contenido\n    pages: pages, \n    \n    // Metadatos\n    fileId: fileId,\n    fileName: fileTitle\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        880
      ],
      "id": "554f3895-2eb0-4ce1-ae57-787b99723c42",
      "name": "Validar Contenido PDF"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1120,
        880
      ],
      "id": "01c27cda-0112-4cf7-ba09-de35f41ab5e7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "57b9c551-9997-4ed5-8ddd-f80c108a177c",
              "leftValue": "={{ $json.needsOCR }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1664,
        880
      ],
      "id": "6566456a-f261-42bd-8be5-b97e3e195c0a",
      "name": "¿Necesita OCR?"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Aggregate OCR Pages (CORREGIDO)\n// =============================================\n\nconst items = $input.all();\nlet fullText = \"\";\nlet pagesArray = [];\n\n// OPCIÓN A: Si Tesseract devuelve múltiples items (1 por página)\nif (items.length > 1) {\n  items.forEach((item, idx) => {\n    const pageText = item.json.text || \"\";\n    fullText += pageText + \"\\n\\n\";\n    \n    // Construimos array compatible con vectorstore\n    pagesArray.push({\n      text: pageText,\n      pageNumber: idx + 1\n    });\n  });\n}\n// OPCIÓN B: Si Tesseract devuelve un solo item con todo el texto\nelse if (items.length === 1) {\n  fullText = items[0].json.text || \"\";\n  pagesArray = [{\n    text: fullText,\n    pageNumber: 1\n  }];\n}\n\n// RECUPERAR METADATOS ORIGINALES (CRÍTICO)\nlet fileId, fileName, proveedor;\ntry {\n  fileId = $('Set File ID').first().json.file_id;\n  fileName = $('Set File ID').first().json.file_title;\n  proveedor = $('Identificar Proveedor').first().json.proveedor_detectado;\n} catch (e) {\n  console.error(\"⚠️ No se pudieron recuperar metadatos:\", e.message);\n  fileId = \"unknown\";\n  fileName = \"unknown\";\n  proveedor = \"OTROS\";\n}\n\nconsole.log(`🔄 OCR Agregado: ${items.length} páginas → ${fullText.length} caracteres`);\n\n// ESTRUCTURA COMPATIBLE CON VECTORSTORE\nreturn {\n  json: {\n    pages: pagesArray, // ← Array de páginas (requerido por Default Data Loader)\n    text: fullText, // ← Texto completo (backup)\n    \n    // Metadatos críticos\n    file_id: fileId,\n    file_title: fileName,\n    proveedor: proveedor,\n    \n    // Marca de origen\n    origen_datos: \"OCR_TESSERACT\",\n    ocr_pages_processed: items.length,\n    ocr_total_chars: fullText.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        768
      ],
      "id": "17ee9f20-cc47-4063-8827-e427cd836ea2",
      "name": "Aggregate OCR Pages"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Format for Vectorstore (FINAL v2)\n// =============================================\n\n// 1. RECUPERAR CONTENIDO (Instrucción explícita)\n// Sacamos el texto y páginas directamente del nodo Merge1 como indicaste\nlet fullText = \"\";\nlet totalPages = 1;\n\ntry {\n    const mergeData = $('Merge1').first().json;\n    \n    // Ruta específica que pediste:\n    if (mergeData.pages && mergeData.pages[0]) {\n        fullText = mergeData.pages[0].text || \"\";\n    } else {\n        // Fallback por si acaso viene en 'text' directo\n        fullText = mergeData.text || \"\";\n    }\n    \n    // Número de páginas\n    totalPages = mergeData.totalPages || 1;\n    \n} catch (e) {\n    console.log(\"❌ Error leyendo de Merge1. Verifica que el nodo se llame exactamente 'Merge1'\");\n}\n\n// 2. RECUPERAR CLASIFICACIÓN (Del nodo LLM)\nlet proveedor = \"OTROS\";\nlet tipoEval = [\"Technical Evaluation\"];\n\ntry {\n    // Leemos la salida del clasificador\n    const llmData = $('Clasificador de Tipo de RFQ y Proveedor').first().json;\n    const output = llmData.output || llmData; // A veces está anidado\n\n    if (output.proveedor_detectado) proveedor = output.proveedor_detectado;\n    \n    if (output.tipos_detectados) {\n        tipoEval = Array.isArray(output.tipos_detectados) \n            ? output.tipos_detectados \n            : [output.tipos_detectados];\n    }\n} catch (e) {\n    console.log(\"⚠️ No se pudo leer la clasificación del LLM, usando defaults.\");\n}\n\n// 3. RECUPERAR METADATOS DEL ARCHIVO\nlet fileId = \"unknown\";\nlet fileTitle = \"unknown\";\ntry {\n    const fileNode = $('Set File ID').first().json;\n    fileId = fileNode.file_id;\n    fileTitle = fileNode.file_title;\n} catch(e) {}\n\n// 4. GENERAR SALIDA\nconsole.log(`✅ Procesando: ${fileTitle}`);\nconsole.log(`   Proveedor: ${proveedor}`);\nconsole.log(`   Tipos: ${JSON.stringify(tipoEval)}`);\n\nreturn {\n    json: {\n        text: fullText,\n        metadata: {\n            file_id: fileId,\n            file_title: fileTitle,\n            proveedor: proveedor,\n            tipo_evaluacion: tipoEval, // Se guarda como array [\"Technical\", \"Economical\"]\n            processed_at: new Date().toISOString(),\n            total_pages: totalPages\n        }\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3232,
        880
      ],
      "id": "14c02c18-58f4-42df-ab6d-314d7018daf5",
      "name": "Format for Vectorstore"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Expandir por Tipo de Evaluación (RUTA FORZADA)\n// =============================================\n\n// 1. RECUPERAR DATOS (Mirando al nodo Format for Vectorstore)\nlet sourceData = {};\ntry {\n    // Usamos la ruta exacta que has validado\n    sourceData = $('Format for Vectorstore').first().json;\n} catch (e) {\n    console.log(\"❌ Error: No se encuentra el nodo 'Format for Vectorstore'\");\n    // Fallback de emergencia al input actual\n    sourceData = $input.first().json; \n}\n\n// 2. EXTRAER VARIABLES\nconst fullText = sourceData.text || \"⚠️ ERROR: Texto vacío\";\nconst metadata = sourceData.metadata || {};\n\n// 3. NORMALIZAR TIPOS (Lógica de seguridad)\nlet tipos = metadata.tipo_evaluacion;\n\n// Si no hay tipos, ponemos uno por defecto\nif (!tipos) {\n    tipos = [\"Technical Evaluation\"];\n}\n\n// Conversión robusta a Array\nif (!Array.isArray(tipos)) {\n    if (typeof tipos === 'string') {\n        // Limpiamos caracteres raros y corchetes si vienen como string \"[A, B]\"\n        const cleanString = tipos.replace(/[\\[\\]\"]/g, ''); \n        if (cleanString.includes(',')) {\n            tipos = cleanString.split(',').map(t => t.trim());\n        } else {\n            tipos = [cleanString.trim()];\n        }\n    } else {\n        tipos = [tipos];\n    }\n}\n\nconst proveedor = metadata.proveedor || \"OTROS\";\n\n// LOGGING\nconsole.log(`🔀 Procesando archivo: ${metadata.file_title}`);\nconsole.log(`   Fuente Texto: Format for Vectorstore`);\nconsole.log(`   Tamaño Texto: ${fullText.length}`);\nconsole.log(`   Tipos: ${JSON.stringify(tipos)}`);\n\n// 4. GENERAR SALIDA (EXPANSIÓN)\nreturn tipos.map((tipo, idx) => ({\n    json: {\n        // --- VARIABLES PARA EL FLUJO SIGUIENTE ---\n        tipo_evaluacion_actual: tipo, \n        proveedor_detectado: proveedor,\n        texto_oferta_completo: fullText, // Aquí va el texto recuperado de la fuente segura\n        \n        // --- METADATOS DE CONTROL ---\n        file_title: metadata.file_title,\n        file_id: metadata.file_id,\n        es_hibrido: tipos.length > 1,\n        indice_actual: idx + 1,\n        total_tipos: tipos.length\n    }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        176
      ],
      "id": "bab6c263-a14e-4561-b7ea-d94dfc91ad37",
      "name": "Expandir por Tipo de Evaluación"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        192,
        96
      ],
      "id": "fc929f94-d62c-42cb-8f6a-9a64d8cef32a",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://docling:5001/v1/convert/file",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "550033f2-bb86-4e5e-a63a-a92862d882e6",
      "name": "Docling OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2080,
        672
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"proveedor_detectado\": {\n      \"type\": \"string\",\n      \"description\": \"Nombre de la empresa proveedora (Ej: SACYR, IDOM, etc.)\"\n    },\n    \"tipos_detectados\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\",\n        \"enum\": [\n          \"Technical Evaluation\",\n          \"Economical Evaluation\",\n          \"Pre-FEED Deliverables\",\n          \"FEED Deliverables\"\n        ]\n      },\n      \"description\": \"Lista de tipos de oferta detectados en el documento.\"\n    },\n    \"razonamiento\": {\n      \"type\": \"string\",\n      \"description\": \"Breve explicación de por qué se eligieron esos tipos.\"\n    }\n  },\n  \"required\": [\n    \"proveedor_detectado\",\n    \"tipos_detectados\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3008,
        1104
      ],
      "id": "a99e2d55-1319-4350-a380-adc2e1be0500",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2496,
        880
      ],
      "id": "592938cc-5475-406a-ba06-fe416656afe2",
      "name": "Merge1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### INPUT A ANALIZAR\nNombre archivo: {{ $json.fileName }}\nTexto (Inicio del documento): \n{{ $json.pages[0].text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=### TAREA: CLASIFICACIÓN ESTRICTA DE DOCUMENTO RFQ\n\nEres un auditor senior de documentación de ingeniería con criterios extremadamente conservadores.\n\n---\n\n## TAREA 1: DETECTAR Y NORMALIZAR PROVEEDOR\n\nBusca el nombre de la empresa en el texto o el nombre del archivo.\n\n| Texto encontrado (Variaciones) | VALOR OFICIAL (Output) |\n|--------------------------------|------------------------|\n| \"Técnicas Reunidas\", \"TR\", \"Initec\", \"Tecnicas Reunidas\" | TECNICASREUNIDAS |\n| \"Empresarios Agrupados\", \"EA\", \"GHESA\", \"E.A.\" | EA |\n| \"IDOM\", \"Idom Consulting\" | IDOM |\n| \"SACYR\", \"Sacyr Fluor\", \"Sacyr Industrial\" | SACYR |\n| \"SENER\", \"Sener Engineering\" | SENER |\n| \"TRESCA\", \"Tresca Ingenieria\" | TRESCA |\n| \"WORLEY\", \"Worley Parsons\" | WORLEY |\n| Cualquier otro o desconocido | OTROS |\n\n---\n\n## TAREA 2: CLASIFICAR TIPO DE OFERTA\n\n### REGLA DE ORO: \"SI NO ESTÁS 100% SEGURO, NO LO INCLUYAS\"\n\n---\n\n### 1. \"Economical Evaluation\" (Económica)\n\n**EVIDENCIA OBLIGATORIA (Todas deben cumplirse):**\n- DEBE contener tablas con columnas de precios explícitos\n- DEBE mostrar monedas (EUR, USD, $) o unidades de costo (EUR/hora, $/m³)\n- DEBE tener líneas individuales de precio por concepto\n\n**EXCLUSIONES AUTOMÁTICAS:**\n- Si solo menciona \"presupuesto estimado\" sin desglose → NO es económica\n- Si dice \"sujeto a cotización posterior\" → NO es económica\n- Si solo tiene subtotales sin detalle → NO es económica\n- Si solo describe alcance sin números con moneda → NO es económica\n\n**Ejemplo de evidencia válida:**ConceptoCantidadPrecio Unit.TotalIngeniería Básica145.000 EUR45.000€Ingeniero Senior200 h85 EUR/h17.000€\n\n---\n\n### 2. \"Technical Evaluation\" (Técnica)\n\n**EVIDENCIA VÁLIDA:**\n- Metodología de trabajo o procedimientos\n- Organigramas, organización del equipo\n- Descripción de alcance técnico (qué se hará y cómo)\n- Planificación, cronogramas, hitos\n- Especificaciones técnicas, normativas aplicables\n- Diagramas de proceso, P&IDs, esquemas\n\n**LO QUE NO ES TÉCNICA:**\n- Solo una lista de documentos a entregar → Probablemente sea Deliverables\n- Solo precios → Es Económica\n- Solo índice de documentos sin contenido técnico → No clasificar\n\n**Si encuentras:** Descripción de trabajo, enfoque metodológico, capacidades técnicas → SÍ es Technical\n\n---\n\n### 3. \"Pre-FEED Deliverables\" o \"FEED Deliverables\"\n\n**CRITERIO ULTRA-RESTRICTIVO**\n\n**SOLO clasifica como Deliverables si cumple TODOS estos criterios:**\n\n1. **DEBE contener una lista numerada o tabulada de documentos específicos a entregar**\n   - Ejemplos válidos:\n     - \"MDR-001 - Process Flow Diagram\"\n     - \"DOC-PRE-FEED-12 - Equipment List\"\n     - \"Plano de Situación - Rev. A\"\n\n2. **DEBE especificar códigos, revisiones o identificadores únicos de documentos**\n   - Válido: \"P&ID-100-A, rev. 0\"\n   - Inválido: \"Se entregarán los P&IDs necesarios\"\n\n3. **DEBE ser claramente un inventario/matriz de documentos (Document Register / MDR)**\n   - Si parece un índice de contenidos → NO\n   - Si describe qué contienen los documentos → NO\n   - Si solo menciona \"entregables\" genéricamente → NO\n\n**EXCLUSIONES CRÍTICAS:**\n- \"Se entregará documentación técnica completa\" → NO es Deliverables (es descripción genérica)\n- \"Incluye diseños de ingeniería, estudios, especificaciones\" → NO es Deliverables (es alcance técnico)\n- Listado de actividades o fases → NO es Deliverables (es planificación)\n- Descripción de metodología de documentación → NO es Deliverables\n\n**Diferenciación Pre-FEED vs FEED:**\n- **Pre-FEED Deliverables:** Documentos de estudios preliminares, conceptuales, viabilidad, alcances de orden de magnitud (+/- 30%)\n- **FEED Deliverables:** Documentos de ingeniería básica detallada, especificaciones de compra, estimados Clase III (+/- 15%)\n\n**Ejemplo de documento que SÍ es Deliverables:**MATRIZ DE ENTREGABLES - FASE FEEDCódigo DocTítuloRevFormatoFEED-P&ID-001P&ID General Process0DWGFEED-EL-100Equipment List - Main ProcessAXLSXFEED-PFD-01Process Flow Diagram0PDF\n\n**Ejemplo de documento que NO es Deliverables (es Technical):**\"La ingeniería de detalle incluirá:\n\nDiseño de sistemas de tuberías\nEspecificaciones de equipos\nCálculos estructurales\nPlanos de disposición general\nEstos documentos se desarrollarán según normativa ASME...\"\n→ Esto es descripción de alcance técnico, NO un listado de deliverables.\n\n---\n\n## REGLAS DE COMBINACIÓN\n\n**Combinaciones válidas:**\n- [\"Technical Evaluation\", \"Economical Evaluation\"] - Oferta técnico-económica completa\n- [\"Technical Evaluation\"] - Solo metodología y alcance\n- [\"Economical Evaluation\"] - Solo precios\n- [\"Pre-FEED Deliverables\"] o [\"FEED Deliverables\"] - Solo matriz de documentos\n- [\"Technical Evaluation\", \"FEED Deliverables\"] - Descripción técnica + lista formal de docs\n\n**Combinaciones sospechosas (verificar dos veces):**\n- Si dudas entre Technical y Deliverables → Es Technical (el 90% de las veces)\n- Si ves contenido técnico + lista genérica de \"entregables\" → Solo Technical\n- Solo marca Deliverables si ves códigos tipo \"DOC-FEED-001\" o tablas MDR\n\n**EN CASO DE DUDA:** Clasifica como [\"Technical Evaluation\"] únicamente.\n\n---\n\n## FORMATO DE SALIDA (JSON ÚNICO)\n```json{\n\"proveedor_detectado\": \"VALOR_OFICIAL\",\n\"tipos_detectados\": [\"Technical Evaluation\"],\n\"razonamiento\": \"Explica qué evidencia específica encontraste. Si NO clasificaste como Deliverables, indica por qué no cumplía los criterios ultra-restrictivos.\"\n}\n\n**REGLAS DE RAZONAMIENTO:**\n- Si clasificaste como Deliverables: Cita el código de documento o tabla MDR que viste\n- Si NO clasificaste como Deliverables: Explica qué elemento faltó (códigos de doc, matriz formal, etc.)\n- Si clasificaste como Economical: Menciona dónde viste precios con moneda\n- Si clasificaste como Technical: Indica qué tipo de contenido técnico predomina\n\n**EJEMPLOS DE RAZONAMIENTO:**\n\nCORRECTO:\n```json{\n\"razonamiento\": \"Clasificado como Technical únicamente. El documento describe metodología de trabajo, organigrama y alcance técnico (secciones 2-5). Aunque menciona 'documentación a entregar', no presenta matriz MDR ni códigos de documentos formales.\"\n}\n\nINCORRECTO:\n```json{\n\"razonamiento\": \"Es técnico y tiene deliverables.\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        2768,
        880
      ],
      "id": "3bc06568-3566-4e0f-a303-f5294cc3edc9",
      "name": "Clasificador de Tipo de RFQ y Proveedor"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => ({\n    json: {\n        ...item.json, // Mantiene todos los datos originales (incluido tipo_evaluacion)\n        \n        // Aquí está la corrección: Usamos dos puntos, no el igual.\n        reiniciar_bucle: true \n    }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        32
      ],
      "id": "920d29f5-0a56-4750-88ef-8bccfcbf8195",
      "name": "Reset Items"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -1024,
        336
      ],
      "id": "730a07ff-26e9-48ab-863e-8b43b50146d8",
      "name": "consultar_tabla_evaluacion1"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1856,
        320
      ],
      "id": "821d3436-6497-4efc-ab39-2985027a3c4a",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "qDD6QT1T2s8YMdby",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2464,
        1104
      ],
      "id": "b7a5612c-66e6-4a30-b09f-bf6c45222fca",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "qDD6QT1T2s8YMdby",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        3408,
        1104
      ],
      "id": "2deb6f2f-9cb4-4b77-96ed-d9a58b36f472",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "Qy5SfLiSYwx3Okjy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        992,
        -176
      ],
      "id": "71f38dab-17c8-4a60-80b8-7f7c9aebdd4b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rfq",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        880
      ],
      "id": "903694d5-265b-49dc-a8de-3497b29d0ed3",
      "name": "Webhook",
      "webhookId": "2a435cf4-d7c8-4148-8d9f-189c3b620e8f"
    },
    {
      "parameters": {
        "model": "devstral-latest",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        2720,
        1104
      ],
      "id": "6b5e55fd-1648-483e-a2f8-4ec102d99249",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "tYcsXUVtTWeJIEDg",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Convertir Base64 a Binary Data (CORREGIDO v3)\n// =============================================\n\n// LEER DIRECTAMENTE DEL NODO \"Set File ID\"\nlet inputData;\ntry {\n    inputData = $('Set File ID').first().json;\n} catch (e) {\n    throw new Error(\"❌ No se puede acceder al nodo 'Set File ID'\");\n}\n\nconst base64Data = inputData.file_binary;\n\n// --- VALIDACIÓN CRÍTICA ---\nif (!base64Data || base64Data === \"\") {\n    console.error(\"❌ ERROR: file_binary está vacío\");\n    console.error(\"Datos en 'Set File ID':\", Object.keys(inputData));\n    console.error(\"file_id:\", inputData.file_id);\n    console.error(\"file_title:\", inputData.file_title);\n    \n    throw new Error(\n        \"❌ CRÍTICO: 'file_binary' no existe en 'Set File ID'. \" +\n        \"Verifica la configuración del nodo.\"\n    );\n}\n\n// Validar que sea string\nif (typeof base64Data !== 'string') {\n    throw new Error(`❌ ERROR: 'file_binary' debe ser string, es ${typeof base64Data}`);\n}\n\n// Logging\nconsole.log(\"✅ file_binary recibido de 'Set File ID'\");\nconsole.log(`   ├─ Longitud: ${base64Data.length} caracteres`);\nconsole.log(`   ├─ Archivo: ${inputData.file_title}`);\n\n// Convertir base64 a binary\nlet binaryData;\ntry {\n    binaryData = Buffer.from(base64Data, 'base64');\n} catch (e) {\n    throw new Error(`❌ ERROR decodificando base64: ${e.message}`);\n}\n\n// Validar tamaño\nif (binaryData.length === 0) {\n    throw new Error(\"❌ ERROR: Archivo decodificado vacío (0 bytes)\");\n}\n\nconsole.log(`✅ Binary generado: ${binaryData.length} bytes`);\n\n// Retornar formato n8n\nreturn {\n    json: {\n        file_id: inputData.file_id,\n        file_title: inputData.file_title,\n        file_url: inputData.file_url || \"unknown\"\n    },\n    binary: {\n        data: {\n            data: binaryData.toString('base64'),\n            mimeType: 'application/pdf',\n            fileName: inputData.file_title || 'document.pdf',\n            fileSize: binaryData.length\n        }\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        880
      ],
      "id": "2ea6a507-efd6-4159-8fea-78337936d07d",
      "name": "Base64 a Binary"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Convertir Base64 a Binary Data (CORREGIDO v3)\n// =============================================\n\n// LEER DIRECTAMENTE DEL NODO \"Set File ID\"\nlet inputData;\ntry {\n    inputData = $('Set File ID').first().json;\n} catch (e) {\n    throw new Error(\"❌ No se puede acceder al nodo 'Set File ID'\");\n}\n\nconst base64Data = inputData.file_binary;\n\n// --- VALIDACIÓN CRÍTICA ---\nif (!base64Data || base64Data === \"\") {\n    console.error(\"❌ ERROR: file_binary está vacío\");\n    console.error(\"Datos en 'Set File ID':\", Object.keys(inputData));\n    console.error(\"file_id:\", inputData.file_id);\n    console.error(\"file_title:\", inputData.file_title);\n    \n    throw new Error(\n        \"❌ CRÍTICO: 'file_binary' no existe en 'Set File ID'. \" +\n        \"Verifica la configuración del nodo.\"\n    );\n}\n\n// Validar que sea string\nif (typeof base64Data !== 'string') {\n    throw new Error(`❌ ERROR: 'file_binary' debe ser string, es ${typeof base64Data}`);\n}\n\n// Logging\nconsole.log(\"✅ file_binary recibido de 'Set File ID'\");\nconsole.log(`   ├─ Longitud: ${base64Data.length} caracteres`);\nconsole.log(`   ├─ Archivo: ${inputData.file_title}`);\n\n// Convertir base64 a binary\nlet binaryData;\ntry {\n    binaryData = Buffer.from(base64Data, 'base64');\n} catch (e) {\n    throw new Error(`❌ ERROR decodificando base64: ${e.message}`);\n}\n\n// Validar tamaño\nif (binaryData.length === 0) {\n    throw new Error(\"❌ ERROR: Archivo decodificado vacío (0 bytes)\");\n}\n\nconsole.log(`✅ Binary generado: ${binaryData.length} bytes`);\n\n// Retornar formato n8n\nreturn {\n    json: {\n        file_id: inputData.file_id,\n        file_title: inputData.file_title,\n        file_url: inputData.file_url || \"unknown\"\n    },\n    binary: {\n        data: {\n            data: binaryData.toString('base64'),\n            mimeType: 'application/pdf',\n            fileName: inputData.file_title || 'document.pdf',\n            fileSize: binaryData.length\n        }\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        768
      ],
      "id": "b73e9f70-e5b7-4434-854e-ad7af0da4d70",
      "name": "Base64 a Binary1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "jIatxsggJ92wzApV",
          "mode": "list",
          "cachedResultName": "Prueba",
          "cachedResultUrl": "/projects/vcLkFgTx7CPaMMKV/datatables/jIatxsggJ92wzApV"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        752,
        -176
      ],
      "id": "ac8f76d5-c768-4fca-b212-c33197796a46",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "jsCode": "// Esto borra cualquier dato residual del loop y dispara el siguiente nodo 1 sola vez\nreturn [{}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -176
      ],
      "id": "cedea81a-0b7f-46b4-954d-48b040101ae0",
      "name": "Reset de valores"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1024,
        112
      ],
      "id": "9e9ce817-f622-44c3-82ac-24552d47da94",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// NODO: Generate Stable ID (SIN CRYPTO MODULE)\n// =============================================\n\n// Función hash simple (no requiere módulos externos)\nfunction simpleHash(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash; // Convertir a 32bit integer\n  }\n  // Convertir a hex positivo de 16 caracteres\n  return Math.abs(hash).toString(16).padStart(16, '0').substring(0, 16);\n}\n\n// 1. EXTRAER DATOS DEL WEBHOOK\nconst body = $json.body;\n\nconst originalFileId = body.file_id || \"unknown\";\nconst fileTitle = body.file_title || \"unknown.pdf\";\nconst fileBinary = body.file_binary || \"\";\n\n// 2. GENERAR ID ESTABLE (HASH DEL NOMBRE DEL ARCHIVO)\n// Normalizamos el nombre: lowercase y sin espacios extras\nconst normalizedTitle = fileTitle.toLowerCase().trim();\nconst stableId = simpleHash(normalizedTitle);\n\n// 3. LOGS PARA DEBUG\nconsole.log(\"=== GENERACIÓN DE ID ESTABLE ===\");\nconsole.log(`Original ID: ${originalFileId}`);\nconsole.log(`Nombre archivo: ${fileTitle}`);\nconsole.log(`Nombre normalizado: ${normalizedTitle}`);\nconsole.log(`ID ESTABLE generado: ${stableId}`);\nconsole.log(`Tamaño binary: ${fileBinary ? fileBinary.length : 0} caracteres`);\n\n// 4. RETORNAR BODY CON ID ESTABLE\nreturn {\n  json: {\n    body: {\n      ...body,\n      file_id: stableId,\n      file_id_original: originalFileId\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        880
      ],
      "id": "56920ce1-3c27-4f9c-ad91-c9dbee3e1eba",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-ofertas",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2176,
        208
      ],
      "id": "12817d6e-c8d9-49da-951b-091e5b67e24a",
      "name": "Webhook1",
      "webhookId": "014a6be2-a8d5-4dd3-85f2-ea5e7d0ba092"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        896,
        2224
      ],
      "id": "cbdf4698-0c48-4341-8edc-827b258b009a",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2016,
        512
      ],
      "id": "ca6a0e39-c000-4e65-90b5-722ab76bf6e1",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "FIDKJ20ohwstoZTe",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -1232,
        544
      ],
      "id": "65a8c842-2dba-403d-af46-ff5fcaf5aa7b",
      "name": "Embeddings Ollama2",
      "credentials": {
        "ollamaApi": {
          "id": "Qy5SfLiSYwx3Okjy",
          "name": "Ollama account"
        }
      }
    }
  ],
  "connections": {
    "Webhook RFQ": {
      "main": [
        [
          {
            "node": "Generate Stable ID RFQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Contenido PDF RFQ": {
      "main": [
        [
          {
            "node": "Clasificador Tipo RFQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 a Binary RFQ": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Stable ID RFQ": {
      "main": [
        [
          {
            "node": "Set File ID2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docling OCR RFQ": {
      "main": [
        []
      ]
    },
    "Default Data Loader RFQ": {
      "ai_document": [
        [
          {
            "node": "Insert RFQ Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter RFQ": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader RFQ",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Insert RFQ Vectorstore": {
      "main": [
        [
          {
            "node": "Expandir por Tipo RFQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format RFQ for Vectorstore": {
      "main": [
        [
          {
            "node": "Insert RFQ Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama RFQ": {
      "ai_embedding": [
        [
          {
            "node": "Insert RFQ Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items RFQ": {
      "main": [
        [
          {
            "node": "Loop Tipos RFQ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Items para LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Items para LLM": {
      "main": [
        [
          {
            "node": "LLM Extractor Requisitos RFQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Requisitos RFQ": {
      "main": [
        [
          {
            "node": "Update rfq_requisito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Extractor Requisitos RFQ": {
      "main": [
        [
          {
            "node": "Parsear Requisitos RFQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Items por Tipo": {
      "main": [
        [
          {
            "node": "Reset Items RFQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expandir por Tipo RFQ": {
      "main": [
        [
          {
            "node": "Loop Tipos RFQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Tipos RFQ": {
      "main": [
        [
          {
            "node": "Respond Webhook RFQ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Items por Tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Items RFQ": {
      "main": [
        [
          {
            "node": "Loop Over Items RFQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model RFQ": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Extractor Requisitos RFQ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update rfq_requisito": {
      "main": [
        [
          {
            "node": "Loop Over Items RFQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser RFQ": {
      "ai_outputParser": [
        [
          {
            "node": "Clasificador Tipo RFQ",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Clasificador Tipo RFQ": {
      "main": [
        [
          {
            "node": "Format RFQ for Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud RFQ": {
      "ai_languageModel": [
        [
          {
            "node": "Clasificador Tipo RFQ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document Metadata2": {
      "main": [
        [
          {
            "node": "Base64 a Binary RFQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows2": {
      "main": [
        [
          {
            "node": "Insert Document Metadata2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID2": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get File Contents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Document Rows": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "consultar_ofertas": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parsear y Preparar Update": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Chain": {
      "main": [
        [
          {
            "node": "Parsear y Preparar Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update RFQ TR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update RFQ IDOM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update RFQ SACYR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update RFQ EA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update RFQ SENER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update RFQ TRESCA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update RFQ WORLEY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update RFQ TR": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update RFQ IDOM": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Update RFQ SACYR": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Update RFQ EA": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Update RFQ SENER": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Update RFQ TRESCA": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Update RFQ WORLEY": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Insert Document Metadata": {
      "main": [
        [
          {
            "node": "Base64 a Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Insert Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Get RFQ Items": {
      "main": [
        [
          {
            "node": "Reset Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore": {
      "main": [
        [
          {
            "node": "Expandir por Tipo de Evaluación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Contenido PDF": {
      "main": [
        [
          {
            "node": "¿Necesita OCR?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Validar Contenido PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Necesita OCR?": {
      "main": [
        [
          {
            "node": "Base64 a Binary1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate OCR Pages": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Vectorstore": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expandir por Tipo de Evaluación": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Reset de valores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get RFQ Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docling OCR": {
      "main": [
        [
          {
            "node": "Aggregate OCR Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Clasificador de Tipo de RFQ y Proveedor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Clasificador de Tipo de RFQ y Proveedor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificador de Tipo de RFQ y Proveedor": {
      "main": [
        [
          {
            "node": "Format for Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_tabla_evaluacion1": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Clasificador de Tipo de RFQ y Proveedor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Base64 a Binary": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 a Binary1": {
      "main": [
        [
          {
            "node": "Docling OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset de valores": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Validar Contenido PDF RFQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama2": {
      "ai_embedding": [
        [
          {
            "node": "consultar_ofertas",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Clasificador Tipo RFQ": [
      {
        "output": {
          "tipos_detectados": [
            "Pre-FEED Deliverables"
          ],
          "razonamiento": "El documento es un anexo de una RFQ que detalla una lista de entregables para la fase Pre-FEED de un proyecto de planta de hidrógeno. Incluye requisitos técnicos como códigos y estándares de ejecución del proyecto, estudios técnicos y económicos, y una lista detallada de documentos y estudios a entregar en la fase Pre-FEED, como estudios de proceso, ingeniería mecánica, eléctrica, y de instrumentación, entre otros. No se identifican requisitos económicos específicos ni entregables para la fase FEED."
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1fc4900212c9d62621a09257b15453fd8c3a567221719830af6b072b6c697fd7"
  }
}